{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="315px" height="52px" viewBox="0 0 315 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>Group 4</title>
      <defs>
        <polygon id="path-1" points="0.080821875 0.0683375 7.37837813 0.0683375 7.37837813 6.875 0.080821875 6.875"></polygon>
        <polygon id="path-3" points="0.3310575 0.50813125 7.32822 0.50813125 7.32822 11 0.3310575 11"></polygon>
        <polygon id="path-5" points="0.53169 0.0683375 7.82924625 0.0683375 7.82924625 6.875 0.53169 6.875"></polygon>
        <polygon id="path-7" points="0.64005375 0.0683375 7.93761 0.0683375 7.93761 6.875 0.64005375 6.875"></polygon>
        <polygon id="path-9" points="0 1 51 1 51 52 0 52"></polygon>
      </defs>
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-4">
          <g id="Group-3" transform="translate(65.000000, 10.000000)">
            <g id="Group-2" fill="#000000">
              <path d="M1.57101197e-13,0.643547826 C1.57101197e-13,0.421634783 0.177576602,0.221286957 0.422005571,0.221286957 L9.17409471,0.221286957 C9.4178273,0.221286957 9.5954039,0.421634783 9.5954039,0.643547826 L9.5954039,1.28702609 C9.5954039,1.50893913 9.4178273,1.7072 9.17409471,1.7072 L1.71100279,1.7072 L1.71100279,7.7872 L8.08495822,7.7872 C8.30779944,7.7872 8.50766017,7.98754783 8.50766017,8.21015652 L8.50766017,8.85293913 C8.50766017,9.07485217 8.30779944,9.2738087 8.08495822,9.2738087 L1.71100279,9.2738087 L1.71100279,15.3315478 C1.71100279,15.5541565 1.51044568,15.753113 1.28830084,15.753113 L0.422005571,15.753113 C0.177576602,15.753113 1.57101197e-13,15.5541565 1.57101197e-13,15.3315478 L1.57101197e-13,0.643547826 Z" id="Fill-1"></path>
              <path d="M13.6447075,0.643547826 C13.6447075,0.421634783 13.8229805,0.221286957 14.0667131,0.221286957 L14.9337047,0.221286957 C15.1558496,0.221286957 15.3557103,0.421634783 15.3557103,0.643547826 L15.3557103,14.2658087 L21.7526462,14.2658087 C21.9970752,14.2658087 22.1739554,14.4661565 22.1739554,14.6880696 L22.1739554,15.3315478 C22.1739554,15.5541565 21.9970752,15.753113 21.7526462,15.753113 L14.0667131,15.753113 C13.8229805,15.753113 13.6447075,15.5541565 13.6447075,15.3315478 L13.6447075,0.643547826 Z" id="Fill-3"></path>
              <path d="M34.6649025,10.4716522 C33.5764624,8.05426087 32.50961,5.61391304 31.4211699,3.19443478 L31.2435933,3.19443478 L28.0012535,10.4716522 L34.6649025,10.4716522 Z M24.1133705,15.1763478 L30.8654596,0.244173913 C30.9330084,0.109913043 31.0437326,-4.94290599e-15 31.2435933,-4.94290599e-15 L31.4664345,-4.94290599e-15 C31.6662953,-4.94290599e-15 31.7763231,0.109913043 31.8431755,0.244173913 L38.5513928,15.1763478 C38.6844011,15.4657391 38.5075209,15.7530435 38.1732591,15.7530435 L37.285376,15.7530435 C37.0855153,15.7530435 36.9518106,15.6208696 36.9072423,15.5088696 L35.2644847,11.8483478 L27.3793872,11.8483478 L25.7575209,15.5088696 C25.713649,15.6208696 25.5792479,15.7530435 25.3800836,15.7530435 L24.4915042,15.7530435 C24.1579387,15.7530435 23.9803621,15.4657391 24.1133705,15.1763478 L24.1133705,15.1763478 Z" id="Fill-5"></path>
              <path d="M41.9806407,0.399652174 C41.9806407,0.17773913 42.1805014,0.000347826087 42.4026462,0.000347826087 L42.9576602,0.000347826087 L52.975766,12.4706087 L53.0203343,12.4706087 L53.0203343,0.643826087 C53.0203343,0.421217391 53.1972145,0.220869565 53.4423398,0.220869565 L54.2194986,0.220869565 C54.4416435,0.220869565 54.6415042,0.421217391 54.6415042,0.643826087 L54.6415042,15.5753043 C54.6415042,15.797913 54.4416435,15.9753043 54.2194986,15.9753043 L53.8190808,15.9753043 L43.6240947,3.26086957 L43.6018106,3.26086957 L43.6018106,15.3318261 C43.6018106,15.5537391 43.4249304,15.7526957 43.1805014,15.7526957 L42.4026462,15.7526957 C42.1805014,15.7526957 41.9806407,15.5537391 41.9806407,15.3318261 L41.9806407,0.399652174 Z" id="Fill-7"></path>
              <path d="M65.201532,14.2223304 C68.8449861,14.2223304 71.4884401,11.6268522 71.4884401,7.96633043 C71.4884401,4.32528696 68.8449861,1.7312 65.201532,1.7312 L61.8700557,1.7312 L61.8700557,14.2223304 L65.201532,14.2223304 Z M60.1820334,0.6432 C60.1820334,0.421286957 60.3603064,0.22093913 60.5824513,0.22093913 L65.558078,0.22093913 C69.8442897,0.22093913 73.354039,3.70615652 73.354039,7.96633043 C73.354039,12.2689391 69.8442897,15.7527652 65.558078,15.7527652 L60.5824513,15.7527652 C60.3603064,15.7527652 60.1820334,15.5538087 60.1820334,15.3318957 L60.1820334,0.6432 Z" id="Fill-9"></path>
              <path d="M83.8473538,8.21008696 C85.5576602,8.21008696 87.0458217,6.78956522 87.0458217,4.97043478 C87.0458217,3.28278261 85.5576602,1.8413913 83.8473538,1.8413913 L79.5381616,1.8413913 L79.5381616,8.21008696 L83.8473538,8.21008696 Z M77.7832869,0.643478261 C77.7832869,0.421565217 77.9608635,0.221217391 78.2052925,0.221217391 L83.9587744,0.221217391 C86.6231198,0.221217391 88.8,2.30747826 88.8,4.94747826 C88.8,6.98852174 87.4455432,8.69773913 85.5130919,9.47408696 L88.555571,15.1095652 C88.7115599,15.3989565 88.555571,15.7530435 88.1788301,15.7530435 L87.0458217,15.7530435 C86.845961,15.7530435 86.7345404,15.6431304 86.6906685,15.554087 L83.7359331,9.67373913 L79.4942897,9.67373913 L79.4942897,15.3314783 C79.4942897,15.554087 79.2937326,15.7530435 79.0715877,15.7530435 L78.2052925,15.7530435 C77.9608635,15.7530435 77.7832869,15.554087 77.7832869,15.3314783 L77.7832869,0.643478261 Z" id="Fill-11"></path>
              <path d="M93.4732591,0.643547826 C93.4732591,0.421634783 93.6731198,0.221286957 93.8952646,0.221286957 L94.7845404,0.221286957 C95.0059889,0.221286957 95.2058496,0.421634783 95.2058496,0.643547826 L95.2058496,15.3315478 C95.2058496,15.5541565 95.0059889,15.753113 94.7845404,15.753113 L93.8952646,15.753113 C93.6731198,15.753113 93.4732591,15.5541565 93.4732591,15.3315478 L93.4732591,0.643547826 Z" id="Fill-13"></path>
              <path d="M109.158078,10.4716522 C108.069638,8.05426087 107.003482,5.61391304 105.914345,3.19443478 L105.737465,3.19443478 L102.494429,10.4716522 L109.158078,10.4716522 Z M98.6072423,15.1763478 L105.359331,0.244173913 C105.426184,0.109913043 105.537604,-4.94290599e-15 105.737465,-4.94290599e-15 L105.95961,-4.94290599e-15 C106.159471,-4.94290599e-15 106.270195,0.109913043 106.337047,0.244173913 L113.045265,15.1763478 C113.177577,15.4657391 113.000696,15.7530435 112.667131,15.7530435 L111.778552,15.7530435 C111.579387,15.7530435 111.444986,15.6208696 111.401114,15.5088696 L109.75766,11.8483478 L101.872563,11.8483478 L100.250696,15.5088696 C100.206825,15.6208696 100.07312,15.7530435 99.8732591,15.7530435 L98.985376,15.7530435 C98.6511142,15.7530435 98.474234,15.4657391 98.6072423,15.1763478 L98.6072423,15.1763478 Z" id="Fill-15"></path>
              <path d="M128.781825,12.4247652 C131.225418,12.4247652 133.224025,10.4282435 133.224025,8.00876522 C133.224025,5.56841739 131.225418,3.55033043 128.781825,3.55033043 C126.359819,3.55033043 124.361908,5.56841739 124.361908,8.00876522 C124.361908,10.4282435 126.359819,12.4247652 128.781825,12.4247652 M128.781825,0.000417391304 C133.224025,0.000417391304 136.777646,3.57189565 136.777646,8.00876522 C136.777646,12.4463304 133.224025,15.9753739 128.781825,15.9753739 C124.339624,15.9753739 120.808287,12.4463304 120.808287,8.00876522 C120.808287,3.57189565 124.339624,0.000417391304 128.781825,0.000417391304" id="Fill-17"></path>
              <path d="M147.471797,10.4281739 L145.783774,6.76626087 L145.762187,6.76626087 L144.095056,10.4281739 L147.471797,10.4281739 Z M138.343663,15.176 L145.295613,0.243826087 C145.361769,0.11026087 145.516365,0.000347826087 145.672354,0.000347826087 L145.894499,0.000347826087 C146.050487,0.000347826087 146.206476,0.11026087 146.272632,0.243826087 L153.225279,15.176 C153.357591,15.4653913 153.179318,15.7526957 152.847145,15.7526957 L150.381964,15.7526957 C149.981546,15.7526957 149.804666,15.6212174 149.604805,15.1975652 L148.804666,13.445913 L142.762883,13.445913 L141.96344,15.221913 C141.852716,15.4869565 141.607591,15.7526957 141.163301,15.7526957 L138.720404,15.7526957 C138.387535,15.7526957 138.209262,15.4653913 138.343663,15.176 L138.343663,15.176 Z" id="Fill-19"></path>
              <path d="M156.053482,0.7536 C156.053482,0.464904348 156.275627,0.220730435 156.587604,0.220730435 L159.185794,0.220730435 C159.474791,0.220730435 159.71922,0.464904348 159.71922,0.7536 L159.71922,6.58942609 L164.650279,0.44333913 C164.738719,0.332730435 164.938579,0.220730435 165.072284,0.220730435 L167.871031,0.220730435 C168.29234,0.220730435 168.515181,0.710469565 168.270752,1.0429913 L163.072981,7.54316522 L168.737326,14.9108174 C168.981058,15.2433391 168.737326,15.7309913 168.314624,15.7309913 L165.249164,15.7309913 C165.093175,15.7309913 164.894011,15.6426435 164.849443,15.5758609 L159.71922,8.60890435 L159.71922,15.2217739 C159.71922,15.5090783 159.474791,15.7532522 159.185794,15.7532522 L156.587604,15.7532522 C156.275627,15.7532522 156.053482,15.5090783 156.053482,15.2217739 L156.053482,0.7536 Z" id="Fill-21"></path>
              <path d="M176.544986,0.7536 C176.455153,0.44333913 176.633426,0.220730435 176.944011,0.220730435 L179.542897,0.220730435 C179.72117,0.220730435 179.897354,0.37586087 179.943315,0.531686957 L181.852786,8.05446957 L181.941922,8.05446957 L185.384123,0.244382609 C185.450975,0.110121739 185.583983,0.000208695652 185.762256,0.000208695652 L186.161978,0.000208695652 C186.361838,0.000208695652 186.495543,0.110121739 186.540111,0.244382609 L189.982312,8.05446957 L190.071448,8.05446957 L191.980919,0.531686957 C192.026184,0.37586087 192.203064,0.220730435 192.381337,0.220730435 L194.979526,0.220730435 C195.290808,0.220730435 195.469081,0.44333913 195.379248,0.7536 L191.182173,15.6642087 C191.136908,15.8409043 190.960028,15.9751652 190.781755,15.9751652 L190.426602,15.9751652 C190.271309,15.9751652 190.11532,15.8652522 190.049861,15.7309913 L185.985097,6.65551304 L185.917549,6.65551304 L181.874373,15.7309913 C181.808914,15.8652522 181.652925,15.9751652 181.497632,15.9751652 L181.142479,15.9751652 C180.964206,15.9751652 180.78663,15.8409043 180.742061,15.6642087 L176.544986,0.7536 Z" id="Fill-23"></path>
              <path d="M205.564345,12.4247652 C208.006546,12.4247652 210.00585,10.4282435 210.00585,8.00876522 C210.00585,5.56841739 208.006546,3.55033043 205.564345,3.55033043 C203.14234,3.55033043 201.143733,5.56841739 201.143733,8.00876522 C201.143733,10.4282435 203.14234,12.4247652 205.564345,12.4247652 M205.564345,0.000417391304 C210.00585,0.000417391304 213.559471,3.57189565 213.559471,8.00876522 C213.559471,12.4463304 210.00585,15.9753739 205.564345,15.9753739 C201.121448,15.9753739 197.590111,12.4463304 197.590111,8.00876522 C197.590111,3.57189565 201.121448,0.000417391304 205.564345,0.000417391304" id="Fill-25"></path>
              <path d="M224.098677,12.4247652 C226.540877,12.4247652 228.540181,10.4282435 228.540181,8.00876522 C228.540181,5.56841739 226.540877,3.55033043 224.098677,3.55033043 C221.676671,3.55033043 219.678064,5.56841739 219.678064,8.00876522 C219.678064,10.4282435 221.676671,12.4247652 224.098677,12.4247652 M224.098677,0.000417391304 C228.540181,0.000417391304 232.093802,3.57189565 232.093802,8.00876522 C232.093802,12.4463304 228.540181,15.9753739 224.098677,15.9753739 C219.65578,15.9753739 216.124443,12.4463304 216.124443,8.00876522 C216.124443,3.57189565 219.65578,0.000417391304 224.098677,0.000417391304" id="Fill-27"></path>
              <path d="M241.387744,12.4703304 C243.897493,12.4703304 245.71922,10.4953739 245.71922,7.96598261 C245.71922,5.45815652 243.897493,3.4832 241.387744,3.4832 L239.254735,3.4832 L239.254735,12.4703304 L241.387744,12.4703304 Z M235.790251,0.643547826 C235.790251,0.421634783 235.968524,0.221286957 236.189972,0.221286957 L241.609889,0.221286957 C245.896797,0.221286957 249.40585,3.7058087 249.40585,7.96598261 C249.40585,12.269287 245.896797,15.753113 241.609889,15.753113 L236.189972,15.753113 C235.968524,15.753113 235.790251,15.5541565 235.790251,15.3315478 L235.790251,0.643547826 Z" id="Fill-29"></path>
            </g>
            <g id="Group" transform="translate(0.000000, 22.000000)">
              <path d="M5.397375,7.57185 C5.397375,5.6255375 4.5135375,4.490475 3.121875,4.490475 C1.72951875,4.490475 0.8449875,5.6255375 0.8449875,7.57185 C0.8449875,9.5181625 1.72951875,10.6126625 3.121875,10.6126625 C4.5135375,10.6126625 5.397375,9.5181625 5.397375,7.57185 M-6.90114632e-14,7.5574125 C-6.90114632e-14,5.2377875 1.54775625,4.1041 3.121875,4.1041 C4.68211875,4.1041 6.24305625,5.2377875 6.24305625,7.5574125 C6.24305625,9.90385 4.6953,10.999725 3.121875,10.999725 C1.534575,10.999725 -6.90114632e-14,9.891475 -6.90114632e-14,7.5574125" id="Fill-31" fill="#000000"></path>
              <g id="Group-35" transform="translate(7.368388, 4.125000)">
                <mask id="mask-2" fill="white">
                  <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-34"></g>
                <path d="M7.37837813,6.3465875 L7.37837813,6.6944625 L5.62249688,6.7962125 L5.58295313,5.4569625 C4.90724063,6.3067125 4.06155938,6.875275 3.04660313,6.875275 C1.82421563,6.875275 1.16168438,6.218025 1.17417188,4.3088375 L1.22620313,0.7008375 L0.080821875,0.5599 L0.080821875,0.2244 L1.87624688,0.0683375 L2.00597813,0.2244 L1.94145938,2.15765 L1.94145938,4.2717125 C1.94145938,5.7409 2.43540938,6.25515 3.33312188,6.25515 C4.15244063,6.25515 4.90724063,5.8179 5.57046563,5.0444625 L5.59613438,0.7008375 L4.47711563,0.572275 L4.47711563,0.2244 L6.25935938,0.0683375 L6.38978438,0.2244 L6.33775313,2.15765 L6.33775313,6.2434625 L7.37837813,6.3465875 Z" id="Fill-33" fill="#000000" mask="url(#mask-2)"></path>
              </g>
              <path d="M19.8807938,10.4588 C19.5422438,10.8073625 19.0607813,10.9998625 18.4627688,10.9998625 C17.4485063,10.9998625 16.9795313,10.4443625 16.9934063,9.3237375 C16.9934063,9.0143625 17.0058938,8.7572375 17.0058938,8.30555 L17.0058938,4.734675 L15.6405938,4.734675 L15.6405938,4.3613625 L17.0322563,4.245175 L17.2924125,2.2741125 L17.8522688,2.2741125 L17.7863625,4.28505 L19.7240063,4.28505 L19.7240063,4.734675 L17.7731813,4.734675 L17.7731813,9.3374875 C17.7731813,10.1624875 18.09855,10.523425 18.684075,10.523425 C19.0746563,10.523425 19.3473,10.4196125 19.6990313,10.212675 L19.8807938,10.4588 Z" id="Fill-36" fill="#000000"></path>
              <g id="Group-40" transform="translate(20.549638, 0.000000)">
                <mask id="mask-4" fill="white">
                  <use xlink:href="#path-3"></use>
                </mask>
                <g id="Clip-39"></g>
                <path d="M5.24697,5.49525625 C4.63647,4.87788125 4.07661375,4.60631875 3.42657,4.60631875 C2.1903075,4.60631875 1.1635575,5.50969375 1.1635575,7.62169375 C1.1635575,9.54325625 2.09942625,10.4837563 3.33568875,10.4837563 C4.0634325,10.4837563 4.63647,10.2273188 5.24697,9.51850625 L5.24697,5.49525625 Z M7.32822,10.4713813 L7.32822,10.8192563 L5.28582,10.9354438 L5.260845,9.94338125 C4.67532,10.6645688 3.96006375,11.0000688 3.14005125,11.0000688 C1.48892625,11.0000688 0.3310575,9.60719375 0.3310575,7.63613125 C0.3310575,5.44575625 1.60547625,4.10444375 3.30932625,4.10444375 C3.97255125,4.10444375 4.661445,4.38838125 5.2733325,5.10956875 L5.2733325,1.24169375 L4.050945,1.20456875 L4.050945,0.85669375 L5.8588575,0.50813125 L6.05380125,0.62431875 L6.0142575,2.55825625 L6.0142575,10.3799438 L7.32822,10.4713813 Z" id="Fill-38" fill="#000000" mask="url(#mask-4)"></path>
              </g>
              <path d="M34.4037563,7.57185 C34.4037563,5.6255375 33.5199188,4.490475 32.1282563,4.490475 C30.7359,4.490475 29.8513688,5.6255375 29.8513688,7.57185 C29.8513688,9.5181625 30.7359,10.6126625 32.1282563,10.6126625 C33.5199188,10.6126625 34.4037563,9.5181625 34.4037563,7.57185 M29.0063813,7.5574125 C29.0063813,5.2377875 30.5541375,4.1041 32.1282563,4.1041 C33.6885,4.1041 35.2494375,5.2377875 35.2494375,7.5574125 C35.2494375,9.90385 33.7016813,10.999725 32.1282563,10.999725 C30.5409563,10.999725 29.0063813,9.891475 29.0063813,7.5574125" id="Fill-41" fill="#000000"></path>
              <path d="M42.1126369,7.57185 C42.1126369,5.6255375 41.2287994,4.490475 39.8371369,4.490475 C38.4447806,4.490475 37.5602494,5.6255375 37.5602494,7.57185 C37.5602494,9.5181625 38.4447806,10.6126625 39.8371369,10.6126625 C41.2287994,10.6126625 42.1126369,9.5181625 42.1126369,7.57185 M36.7152619,7.5574125 C36.7152619,5.2377875 38.2630181,4.1041 39.8371369,4.1041 C41.3973806,4.1041 42.9583181,5.2377875 42.9583181,7.5574125 C42.9583181,9.90385 41.4105619,10.999725 39.8371369,10.999725 C38.2498369,10.999725 36.7152619,9.891475 36.7152619,7.5574125" id="Fill-43" fill="#000000"></path>
              <path d="M46.25814,5.9860625 C46.688265,4.851 47.5727962,4.104375 48.469815,4.104375 C48.9380962,4.104375 49.3286775,4.2845 49.4452275,4.541625 C49.4452275,4.9671875 49.263465,5.198875 48.847215,5.198875 C48.5606962,5.198875 48.3525712,5.0455625 48.0660525,4.786375 L47.92314,4.6578125 C47.2078837,4.9671875 46.688265,5.6258125 46.25814,6.6831875 L46.25814,7.9055625 C46.25814,8.589625 46.272015,9.6463125 46.2976837,10.355125 L47.5464337,10.4713125 L47.5464337,10.8191875 L44.3343712,10.8191875 L44.3343712,10.4713125 L45.4776712,10.355125 C45.4915462,9.6463125 45.5040337,8.602 45.5040337,7.9055625 L45.5040337,7.19675 C45.5040337,6.3201875 45.4915462,5.599 45.4651837,4.954125 L44.2552837,4.9025625 L44.2552837,4.5684375 L46.02504,4.1415 L46.1936212,4.2329375 L46.25814,5.9860625 Z" id="Fill-45" fill="#000000"></path>
              <path d="M54.8914425,4.25789375 C54.9698363,2.77633125 55.2292988,1.82276875 55.8793425,1.16551875 C56.4391988,0.58526875 57.06288,0.36526875 57.6490988,0.36526875 C58.2346238,0.36526875 58.7285738,0.59764375 58.8458175,0.97301875 C58.8326363,1.21708125 58.6245113,1.39789375 58.2998363,1.39789375 C57.9862613,1.39789375 57.73998,1.25489375 57.3882488,0.95789375 L57.115605,0.74064375 C56.8165988,0.84170625 56.53008,1.04933125 56.2955925,1.35801875 C55.8932175,1.89908125 55.6455488,2.66014375 55.6719113,4.28470625 L57.77883,4.28470625 L57.77883,4.73433125 L55.6719113,4.73433125 L55.6719113,7.90576875 C55.6719113,8.73076875 55.6850925,9.54270625 55.69758,10.3553312 L57.076755,10.4715187 L57.076755,10.8193937 L53.6170238,10.8193937 L53.6170238,10.4715187 L54.86508,10.3553312 C54.878955,9.54270625 54.8914425,8.73076875 54.8914425,7.90576875 L54.8914425,4.73433125 L53.5906613,4.73433125 L53.5906613,4.36101875 L54.8914425,4.25789375 Z" id="Fill-47" fill="#000000"></path>
              <g id="Group-51" transform="translate(58.012138, 4.125000)">
                <mask id="mask-6" fill="white">
                  <use xlink:href="#path-5"></use>
                </mask>
                <g id="Clip-50"></g>
                <path d="M7.82924625,6.3465875 L7.82924625,6.6944625 L6.07405875,6.7962125 L6.03382125,5.4569625 C5.35810875,6.3067125 4.5124275,6.875275 3.498165,6.875275 C2.27508375,6.875275 1.6125525,6.218025 1.62504,4.3088375 L1.67707125,0.7008375 L0.53169,0.5599 L0.53169,0.2244 L2.32780875,0.0683375 L2.45754,0.2244 L2.3923275,2.15765 L2.3923275,4.2717125 C2.3923275,5.7409 2.88697125,6.25515 3.78468375,6.25515 C4.60330875,6.25515 5.35810875,5.8179 6.02133375,5.0444625 L6.04769625,0.7008375 L4.92798375,0.572275 L4.92798375,0.2244 L6.71092125,0.0683375 L6.83995875,0.2244 L6.78862125,2.15765 L6.78862125,6.2434625 L7.82924625,6.3465875 Z" id="Fill-49" fill="#000000" mask="url(#mask-6)"></path>
              </g>
              <path d="M69.0628125,5.9860625 C69.4929375,4.851 70.3774688,4.104375 71.2744875,4.104375 C71.7427688,4.104375 72.13335,4.2845 72.2505938,4.541625 C72.2505938,4.9671875 72.0681375,5.198875 71.6518875,5.198875 C71.3653688,5.198875 71.1579375,5.0455625 70.870725,4.786375 L70.7278125,4.6578125 C70.0125563,4.9671875 69.4929375,5.6258125 69.0628125,6.6831875 L69.0628125,7.9055625 C69.0628125,8.589625 69.0766875,9.6463125 69.10305,10.355125 L70.3511063,10.4713125 L70.3511063,10.8191875 L67.1390438,10.8191875 L67.1390438,10.4713125 L68.2830375,10.355125 C68.2969125,9.6463125 68.3087063,8.602 68.3087063,7.9055625 L68.3087063,7.19675 C68.3087063,6.3201875 68.2969125,5.599 68.2698563,4.954125 L67.0599563,4.9025625 L67.0599563,4.5684375 L68.8297125,4.1415 L68.9976,4.2329375 L69.0628125,5.9860625 Z" id="Fill-52" fill="#000000"></path>
              <path d="M80.4548119,10.4715875 L80.4548119,10.8194625 L77.4238181,10.8194625 L77.4238181,10.4715875 L78.5816869,10.3554 C78.5941744,9.6465875 78.6080494,8.61465 78.6080494,7.9058375 L78.6080494,6.515025 C78.6080494,5.1737125 78.1272806,4.697275 77.3197556,4.697275 C76.7349244,4.697275 75.9149119,4.9544 74.9658619,5.94715 L74.9658619,7.9058375 C74.9658619,8.6015875 74.9790431,9.6465875 75.0054056,10.3554 L76.0460306,10.4715875 L76.0460306,10.8194625 L73.0275244,10.8194625 L73.0275244,10.4715875 L74.1853931,10.3554 C74.1985744,9.6465875 74.2117556,8.5899 74.2117556,7.9058375 L74.2117556,7.1963375 C74.2117556,6.3204625 74.1985744,5.5985875 74.1722119,4.9544 L72.9630056,4.90215 L72.9630056,4.5687125 L74.7320681,4.141775 L74.9006494,4.2332125 L74.9526806,5.5339625 C75.8379056,4.5288375 76.7730806,4.1039625 77.6326369,4.1039625 C78.7245994,4.1039625 79.3621556,4.7488375 79.3621556,6.515025 L79.3621556,7.9058375 C79.3621556,8.61465 79.3753369,9.6589625 79.3878244,10.3554 L80.4548119,10.4715875 Z" id="Fill-54" fill="#000000"></path>
              <path d="M82.4669644,1.52604375 C82.4669644,1.15273125 82.7527894,0.89423125 83.1170081,0.89423125 C83.4673519,0.89423125 83.7809269,1.15273125 83.7809269,1.52604375 C83.7809269,1.91310625 83.4673519,2.15785625 83.1170081,2.15785625 C82.7527894,2.15785625 82.4669644,1.91310625 82.4669644,1.52604375 L82.4669644,1.52604375 Z M84.6390956,10.4717937 L84.6390956,10.8196687 L81.6087956,10.8196687 L81.6087956,10.4717937 L82.7923331,10.3556062 C82.8048206,9.64679375 82.8173081,8.58941875 82.8173081,7.90535625 L82.8173081,7.19654375 C82.8173081,6.37223125 82.8048206,5.69023125 82.7666644,4.94223125 L81.5435831,4.90235625 L81.5435831,4.56891875 L83.4291956,4.14198125 L83.5984706,4.23341875 L83.5589269,5.95904375 L83.5589269,7.90535625 C83.5589269,8.60179375 83.5728019,9.64679375 83.5845956,10.3556062 L84.6390956,10.4717937 Z" id="Fill-56" fill="#000000"></path>
              <path d="M89.7865819,10.4588 C89.4480319,10.8073625 88.9665694,10.9998625 88.3685569,10.9998625 C87.3542944,10.9998625 86.8853194,10.4443625 86.8991944,9.3237375 C86.8991944,9.0143625 86.9116819,8.7572375 86.9116819,8.30555 L86.9116819,4.734675 L85.5463819,4.734675 L85.5463819,4.3613625 L86.9387381,4.245175 L87.1988944,2.2741125 L87.7580569,2.2741125 L87.6921506,4.28505 L89.6297944,4.28505 L89.6297944,4.734675 L87.6796631,4.734675 L87.6796631,9.3374875 C87.6796631,10.1624875 88.0050319,10.523425 88.5898631,10.523425 C88.9804444,10.523425 89.2530881,10.4196125 89.6048194,10.212675 L89.7865819,10.4588 Z" id="Fill-58" fill="#000000"></path>
              <g id="Group-62" transform="translate(89.924638, 4.125000)">
                <mask id="mask-8" fill="white">
                  <use xlink:href="#path-7"></use>
                </mask>
                <g id="Clip-61"></g>
                <path d="M7.93761,6.3465875 L7.93761,6.6944625 L6.18172875,6.7962125 L6.142185,5.4569625 C5.46577875,6.3067125 4.62079125,6.875275 3.605835,6.875275 C2.3834475,6.875275 1.7202225,6.218025 1.73340375,4.3088375 L1.785435,0.7008375 L0.64005375,0.5599 L0.64005375,0.2244 L2.43547875,0.0683375 L2.56590375,0.2244 L2.50069125,2.15765 L2.50069125,4.2717125 C2.50069125,5.7409 2.995335,6.25515 3.89235375,6.25515 C4.7116725,6.25515 5.46577875,5.8179 6.1296975,5.0444625 L6.15606,0.7008375 L5.0363475,0.572275 L5.0363475,0.2244 L6.81859125,0.0683375 L6.9483225,0.2244 L6.896985,2.15765 L6.896985,6.2434625 L7.93761,6.3465875 Z" id="Fill-60" fill="#000000" mask="url(#mask-8)"></path>
              </g>
              <path d="M101.083746,5.9860625 C101.513177,4.851 102.398402,4.104375 103.295421,4.104375 C103.763702,4.104375 104.154283,4.2845 104.270833,4.541625 C104.270833,4.9671875 104.089071,5.198875 103.672127,5.198875 C103.386302,5.198875 103.178177,5.0455625 102.891658,4.786375 L102.748052,4.6578125 C102.032796,4.9671875 101.513177,5.6258125 101.083746,6.6831875 L101.083746,7.9055625 C101.083746,8.589625 101.097621,9.6463125 101.123289,10.355125 L102.371346,10.4713125 L102.371346,10.8191875 L99.1599769,10.8191875 L99.1599769,10.4713125 L100.303277,10.355125 C100.317152,9.6463125 100.329639,8.602 100.329639,7.9055625 L100.329639,7.19675 C100.329639,6.3201875 100.317152,5.599 100.290789,4.954125 L99.0808894,4.9025625 L99.0808894,4.5684375 L100.849952,4.1415 L101.018533,4.2329375 L101.083746,5.9860625 Z" id="Fill-63" fill="#000000"></path>
              <path d="M109.315228,7.08104375 C109.691241,7.08104375 109.808484,6.87548125 109.808484,6.43685625 C109.808484,5.40560625 109.119591,4.48985625 107.974903,4.48985625 C106.817728,4.48985625 105.867984,5.50941875 105.763922,7.08104375 L109.315228,7.08104375 Z M105.750741,7.46810625 C105.777103,9.54298125 106.908609,10.4449812 108.234366,10.4449812 C109.132078,10.4449812 109.808484,10.0964187 110.329491,9.51823125 L110.537616,9.68391875 C110.004122,10.4965437 109.106409,10.9997937 108.040116,10.9997937 C106.349447,10.9997937 104.918241,9.86610625 104.918241,7.54510625 C104.918241,5.43104375 106.375809,4.10416875 107.999878,4.10416875 C109.600359,4.10416875 110.575772,5.21310625 110.575772,6.69466875 C110.575772,7.00404375 110.550103,7.27491875 110.497378,7.46810625 L105.750741,7.46810625 Z" id="Fill-65" fill="#000000"></path>
            </g>
          </g>
          <g id="Group-69">
            <mask id="mask-10" fill="white">
              <use xlink:href="#path-9"></use>
            </mask>
            <g id="Clip-68"></g>
            <path d="M49.12325,29.833299 C47.7047159,29.7328088 46.2772038,29.5621132 44.3890479,29.3969238 C42.8068368,29.259266 39.9538843,29.3418607 38.941435,28.9226927 C38.7639456,28.9667432 37.4490045,28.1951713 36.6831066,27.98249 C35.3723093,27.6190734 34.4613811,27.4387417 33.986925,27.2377613 C33.9648251,27.2384496 30.6781631,26.1110322 30.0973514,26.0119186 C28.5862742,25.753122 27.5006191,25.0214708 25.7885714,24.500436 C24.6739102,24.1611096 23.8493096,23.9849076 23.0516432,23.8314191 C22.3050826,23.6861902 21.5799313,23.5602333 20.6634782,23.3317213 C19.7705061,23.1100923 16.9486316,22.7432343 14.812543,22.6179657 C12.2323856,22.4672304 10.0714347,22.5794215 7.48437102,23.3916025 C4.90697607,24.1989655 3.86552066,24.5327856 2.08441091,25.3924585 L2.41867114,23.5946477 C2.47253952,23.3413574 2.53676721,23.0956382 2.59408869,22.845101 C2.83442455,22.8113749 3.07545104,22.7625064 3.31371504,22.659263 C5.00780663,21.9241704 4.54854413,20.7410016 6.40285963,20.6088501 C6.5105964,20.5840717 6.62178627,20.5586051 6.73021366,20.5338267 C6.75507599,20.5345149 8.13976968,20.310821 9.24130906,20.1304893 C11.0652373,19.8324602 12.3470285,19.5275482 14.0942979,19.6239086 C14.6847782,19.6555699 15.2856179,19.6782835 15.8436391,19.7484889 C17.1903487,19.9205612 16.9541565,19.9549756 18.3892655,19.979754 C19.519811,19.9976495 20.2394373,20.496659 21.4134918,20.4670626 C25.7823558,21.1945841 29.4495496,22.7363514 33.9254598,23.3413574 C34.0207654,23.35237 38.8274826,25.0187176 39.6617519,25.241035 C42.5865289,26.0188015 46.0182212,27.0594944 49.2137213,27.4311705 C49.2240806,28.230274 49.188859,29.0321306 49.12325,29.833299 L49.12325,29.833299 Z M49.0514255,30.6867773 C48.8456207,31.6262918 48.5866381,32.5513522 48.2855276,33.4605819 C47.4167273,33.6237064 46.6584262,33.7076777 45.1984549,34.1543772 C44.5043815,34.4276279 41.7246348,34.8268355 38.4966755,35.6321336 C37.4759387,35.8874889 36.3661119,35.9790313 35.2880536,36.2350748 C30.898471,37.2771443 26.4785011,38.3914842 25.1877317,38.3687706 C23.6517922,38.8299242 22.7553671,38.5470375 21.4901507,38.6929547 C21.445951,38.6915781 19.4970205,39.1754453 17.9106657,39.2766238 C16.4223789,39.3702311 15.294596,39.0797731 15.0784318,39.117629 C12.4526934,39.5636403 9.40084235,39.3420112 6.15009261,39.4411248 C5.58378396,38.61036 5.06512812,37.7458691 4.59688756,36.8531583 C6.35244435,36.578531 8.34695577,36.4195362 10.8345701,36.4415615 C12.8532532,36.4580804 15.1578532,36.6019328 16.3719636,36.6108806 C17.2676982,36.6177635 18.2863631,36.4821705 19.0474267,36.645295 C21.4970569,36.3348767 22.855507,36.5516877 25.7450623,35.9363574 C28.7105859,35.3079495 29.4785557,35.0574123 32.5946344,34.6072714 C35.8951088,34.1302871 41.1072202,33.2458358 41.2218632,32.879666 C41.3296,32.8548876 41.438718,32.8301092 41.5499078,32.8046425 C41.8434215,32.5788837 44.3607325,32.8755363 44.4463694,31.8802704 C43.7301961,31.18854 41.6155168,32.1163536 40.0961521,32.3551898 C39.2225174,32.5547936 38.3488828,32.7543974 37.4766293,32.9540012 C35.9227337,33.0813347 32.9185354,33.8962688 30.8349339,34.0690294 C29.7147478,34.1619484 28.6905579,34.539819 27.577278,34.794486 C25.8403679,34.9259492 25.0178391,35.3864145 23.2912884,35.6025372 C20.9756385,35.8923069 17.766326,35.9157087 16.3526263,35.8165951 C14.8463834,35.7105986 12.8884749,35.6397048 11.0037721,35.6775607 C8.7834278,35.7216112 6.55341486,36.0106926 4.3330706,36.3534605 C4.13071885,35.9439286 3.94010765,35.528202 3.75985575,35.1083457 C4.5271349,34.980324 5.2039428,34.8646914 5.59897761,34.7793436 C5.9491221,34.7036318 6.32274768,34.601765 6.67772651,34.5219235 C7.05894892,34.4021612 8.50648906,34.3484747 9.90637641,34.3691234 C12.5811488,34.4076676 13.7628002,34.8523022 16.6682397,34.7628247 C19.370637,34.6795417 22.7539858,33.377299 16.1979273,34.2672566 C15.4223607,34.4998983 9.57902239,33.3538971 7.89252762,33.7214434 C7.0755238,33.6519263 6.19981727,33.651238 5.17769923,33.8233102 C5.06927184,33.8480886 4.95946321,33.8735553 4.8503452,33.8983337 C4.28334594,34.0346149 3.82201158,34.0965609 3.37379901,34.1454295 C3.1693754,33.6044343 2.98497978,33.055868 2.82061215,32.4990422 C3.1148164,32.4515503 3.4145456,32.4074998 3.73499342,32.3737736 C6.58587401,32.0736796 7.34970006,32.6683613 9.46507004,32.8301092 C11.1543273,32.9608841 13.7420815,32.7062172 14.7503872,32.6821271 C16.0017912,32.653219 17.0163124,32.9161453 17.2973948,32.8755363 C19.2111037,32.6711145 20.8009116,33.0097526 22.6566083,32.8714066 C24.4432431,32.7378785 26.6290563,32.3951106 27.7858453,32.2918672 C29.0821396,32.1755464 30.4813363,31.4060393 31.7783212,31.4893223 C32.2707335,31.5209836 32.7638364,31.5829296 33.2590112,31.5085944 C33.7362298,31.436324 34.4254688,31.5113475 34.8902563,31.1809688 C34.9862525,31.1128282 35.0553146,31.0302335 35.0325241,30.904965 C33.4261413,30.4210978 30.9212615,30.9779236 28.5033998,31.4335709 C27.3051736,31.660018 25.2195003,31.8086884 23.4535842,31.9256975 C20.3154055,32.1308076 20.0419199,32.2072077 16.9541565,31.9325804 C16.287708,31.8726993 14.0003735,31.9917732 12.3104257,31.9277624 C11.3532259,31.8912831 10.2123212,31.8190127 9.09766004,31.726782 C6.3303445,31.4955169 4.25226803,31.4294412 2.56093892,31.5547097 C2.55196085,31.5209836 2.54091093,31.4872574 2.53262348,31.4535313 C2.43731788,31.074284 2.35237159,30.6922837 2.27709397,30.3082184 C2.45320215,30.2710508 2.62240412,30.2352598 2.77364997,30.2008453 C4.00364472,29.7300557 7.14734832,29.2613309 9.51272284,29.3177706 C11.9699499,29.3755868 16.5225189,30.4155915 18.8844403,30.4004491 C19.5605576,30.3956311 23.1531643,30.2318183 23.2816197,30.2042868 C23.6980638,30.2070399 27.0303067,30.0755767 27.1532371,30.0852128 C32.1692123,30.4562005 31.0082796,29.2482534 28.5116872,28.2736362 C25.963989,27.277682 23.5730615,27.0457287 20.9169358,26.3140775 C19.5501982,25.93896 17.1931112,25.9121167 15.3919734,25.6725922 C14.5839477,25.5645308 13.6433228,25.541129 12.7199635,25.5156623 C10.6322183,25.4571577 8.52513581,25.498455 7.06309264,25.8329635 C6.51681198,25.9575438 5.97053133,26.0821241 5.42425067,26.2067044 C3.9656606,26.6644166 2.43179292,27.0863377 2.01673012,28.0272287 C2.16383225,28.29222 2.33648732,27.9907494 3.01674831,27.6645005 C6.05064328,26.2087693 12.2883258,26.0828124 14.7676527,26.7449464 C16.2359114,27.1365828 18.1440953,26.8399303 20.338196,27.3382515 C22.8382415,27.904025 26.1331909,28.8098133 26.1304284,29.0335072 C24.776122,29.2578894 23.4563467,29.1553344 22.1358806,29.1085307 C21.0232913,29.0706748 20.6848874,29.3845346 19.5902542,29.3157057 C17.8747534,29.206956 9.19641874,28.3362705 8.25095955,28.4312544 C6.27302302,28.6301699 3.80750855,29.1064659 2.23289427,29.4010535 C2.20181636,29.4072481 2.15968852,29.4168842 2.12515751,29.4237671 C1.98565221,28.5434455 1.88689351,27.6541761 1.83026264,26.7587122 L1.87100924,26.5425894 C2.49187689,26.1351223 3.00431715,25.8061202 3.26882472,25.6581381 C3.37863335,25.6326714 3.48844198,25.607893 3.59686936,25.5831146 C5.57687776,24.9065265 7.36558433,24.0131274 9.4671419,23.6393865 C12.6004862,23.0818724 16.072925,23.2890474 19.0149675,23.9498048 C19.9176082,24.1535384 21.1116907,24.5465514 21.6400153,24.6367172 C24.1697574,25.0724042 26.3811236,25.8756374 28.6615518,26.596276 C29.5766237,26.8853573 30.4115837,26.9349141 31.1104914,27.1723738 C33.3177139,27.9239854 35.4289401,28.5179788 37.3536989,29.4106896 C37.9842352,29.7039007 38.7183646,29.8759729 39.616171,29.8573891 C41.6887225,29.776171 45.8179413,30.5112637 49.0514255,30.6847125 L49.0514255,30.6867773 Z M47.2654814,36.0643791 C46.9705866,36.1042999 46.7385381,36.1311432 46.0534428,36.2171793 C45.2523233,36.3183578 43.8165237,36.4876768 41.0153677,37.3404669 C38.6638056,38.0562874 36.6499568,38.6117366 35.7963501,38.9517514 C35.1140173,39.2229372 32.680962,39.5464331 30.5020549,40.0330534 C28.7527137,40.4240015 27.2533771,40.9842687 26.2761493,41.227923 C25.591054,41.399307 24.6911757,41.6106117 23.4708497,41.890057 C23.033687,41.9898589 22.597215,42.0896608 22.160743,42.1894627 C19.0626203,43.0126563 22.8575789,42.5597622 22.9114472,42.5377369 C24.201526,42.5769694 25.3603868,42.1825798 26.6601342,41.9822877 C27.9667878,41.7785542 29.4163998,41.7675416 30.5386578,41.3167123 C30.6463946,41.2919339 30.7555126,41.2671555 30.8660118,41.2416888 C32.3922827,40.8927263 33.921316,40.5430755 35.4482775,40.194113 C35.6658229,40.1445562 35.8854402,40.0943111 36.1036762,40.044066 C38.0560598,39.3805554 39.854435,38.7803674 41.6610977,38.2359308 C44.1307559,37.4925787 45.4132378,37.2640668 46.7903347,37.0589567 C46.4125654,37.80988 46.0078619,38.5477258 45.5582681,39.2587283 C43.9884881,39.6042493 42.4822452,40.115648 41.0277989,40.6119044 L35.4607087,41.766165 C35.2279696,41.8136569 34.9973025,41.8632138 34.7687071,41.9093291 C34.1312646,42.0414806 30.0711079,42.9596581 29.7292508,43.1337952 C29.4239966,43.1971178 29.1166706,43.2604404 28.808654,43.3244512 C28.0468998,43.6844264 27.2803112,43.7973058 26.5579224,44.0327006 C26.3680018,44.0719331 26.1732469,44.1159836 25.9715858,44.1641638 C24.876262,44.2625891 22.6614427,43.8165779 21.5668095,44.3038865 C20.427286,44.5268921 19.2235348,44.7712347 17.8934002,45.1250152 C16.3995884,45.4354335 14.2289689,45.5070156 12.5037993,45.7843961 C12.1108364,45.5373003 11.7247797,45.2785037 11.3407948,45.0176421 C11.2441079,44.9391772 11.152946,44.8552059 11.0569498,44.7760527 C11.1909302,44.6858868 11.1722834,44.6204994 10.8608137,44.6087985 C10.2903613,44.1276845 9.73441195,43.6279867 9.2053968,43.1028222 C9.2461434,43.1014456 9.2903431,43.0986925 9.33039908,43.0980042 C11.8629037,43.0422528 13.7186005,43.1558205 16.202071,42.857103 C17.4085847,42.7111858 18.1813888,43.1744043 20.148966,42.38769 C16.0680907,42.0070661 12.4174718,42.7242633 8.56657303,42.4372468 C8.06449207,41.9031345 7.57622352,41.3566331 7.12041412,40.7853532 C7.04928023,40.6938108 6.98367131,40.5981386 6.91391866,40.5059079 C9.40084235,40.3606789 11.833207,40.2471112 14.6495566,40.1982427 C17.0280529,40.1576337 17.5246089,39.7804513 20.6379252,40.0598966 C22.2664079,40.2065022 24.6069201,39.5691466 26.3244928,39.1967823 C30.3031563,38.3336679 34.5062714,37.369375 38.737702,36.3486425 C41.7798844,35.6149264 44.8786977,35.073243 47.9167364,34.4875091 C47.7157659,35.020933 47.4989111,35.5460975 47.2654814,36.0643791 L47.2654814,36.0643791 Z M43.7557491,41.7585938 C43.4504949,42.1412825 43.1100191,42.5005693 42.7833557,42.8688039 C41.4822271,43.2184547 39.9870341,43.6045849 38.3599327,43.9604303 C33.5442373,45.0155773 27.4888786,46.9730711 22.7194548,48.3558437 C21.8181953,48.6167052 20.9376544,48.7054945 20.1317005,48.8445288 C19.0971513,48.6160169 18.0771052,48.3179878 17.0750151,47.9642072 C18.0681271,47.7116052 18.7228351,47.5422861 18.7628911,47.5257672 C19.7187096,47.1238064 24.7864813,46.9248909 25.7374655,46.5105409 C26.1925843,46.3116254 26.9764383,46.0872432 27.2775488,45.8050447 C26.27684,45.8284465 20.1296287,46.5566563 18.8146876,46.948981 C18.5405114,47.0253811 17.5978147,47.156156 16.4209977,47.5663762 C16.4182352,47.5670645 16.3236202,47.5863366 16.1551089,47.6214393 C15.3318895,47.2931255 14.5259356,46.918008 13.7400097,46.4967751 C16.2939235,46.074854 18.7366475,45.8215637 20.0819759,45.2853865 C22.1186151,44.9784097 24.0219647,45.2750622 25.7250343,44.7368202 C27.2402553,44.4050649 28.673983,44.3045748 30.1898946,43.9156915 C30.7085504,43.7828517 31.2127032,43.6224804 31.6740376,43.4304478 L31.9399264,43.4153054 C33.2693705,42.4269224 35.8709371,42.6740182 37.6769092,42.0965437 C38.677618,41.890057 39.641724,41.5108098 40.6417422,41.3036348 C41.0326332,41.3167123 41.5271174,41.1267445 41.9932861,40.9911516 C43.0492445,40.9223227 43.9553383,40.6449423 44.8255199,40.3434717 C44.4843535,40.8259623 44.1307559,41.3001934 43.7557491,41.7585938 L43.7557491,41.7585938 Z M37.7010809,46.4809445 C36.5857291,46.8553737 35.4468963,47.301385 34.2832011,47.6007907 C31.6698939,48.2739373 28.7458075,48.4962546 26.5613755,48.9037217 C25.7119125,49.0620282 24.970877,49.2409833 24.3299813,49.4178736 C23.7781757,49.385524 23.2270607,49.3449149 22.6793988,49.2836572 C22.4950032,49.2609437 22.3112982,49.2285941 22.1269026,49.2017508 C23.7988943,48.7867126 25.4701954,48.3737392 27.1242311,47.920845 C28.0897182,47.6579186 29.0199838,47.2187903 29.9751116,46.9476044 C33.0601125,46.0741657 36.3156966,45.1766369 39.5339872,44.259836 C40.1576173,44.0822574 40.9532119,43.9039906 41.8385871,43.726412 C40.5395303,44.7781176 39.154146,45.7011131 37.7010809,46.4809445 L37.7010809,46.4809445 Z M32.9219885,48.4769825 C30.8473651,49.1198444 28.6919391,49.421315 26.5330601,49.4653655 C27.1421872,49.3325257 27.0227099,49.4805079 28.2243892,49.08543 C28.5669369,48.9725506 30.4903144,48.971174 32.9240603,48.4762942 C32.9233697,48.4762942 32.9226791,48.4769825 32.9219885,48.4769825 L32.9219885,48.4769825 Z M3.37725211,19.6479987 L4.77506759,19.1792739 C5.03681268,19.1930397 6.0886274,18.6320842 7.32069401,18.3739758 C8.63632568,18.0986603 10.1204687,17.9499898 10.7958954,17.8130203 C11.7848636,17.6120399 13.3719091,17.3752685 14.5846383,17.6691679 C14.8760801,17.7400617 17.0694901,17.9458601 18.888584,18.0497917 L22.8603413,18.6947185 C25.0288891,18.8192988 25.932911,18.7828195 28.1677583,19.1758325 C33.3425762,20.0836857 33.6927207,20.3858445 38.0968064,21.6247647 C40.2170107,22.2208229 42.0181484,22.7191442 42.3358337,22.6558216 C43.8572703,22.6276017 46.4919867,23.1706617 48.8891298,23.5388963 C48.9333294,23.8465615 48.9754573,24.154915 49.0086071,24.4639567 C49.1080564,25.2389701 49.1612341,26.0249961 49.1902402,26.8144636 C47.1611978,26.615548 43.9063043,26.1220449 42.9408171,25.8088734 C42.6521378,25.6457489 40.371019,24.9388761 39.0146407,24.5100721 C36.444152,23.6965145 34.0939711,22.8595551 33.484844,22.8389064 C32.9302759,22.7955442 31.7790119,22.3474681 31.1394975,22.2332121 C29.865303,22.0053885 28.8134883,21.9379362 27.7547674,21.4609519 C25.4632892,21.0059929 23.0495713,20.270212 20.7843367,19.7870331 C19.9790735,19.6156492 18.8796059,19.5633392 17.8927095,19.4773031 C16.9562284,19.3953967 15.8139424,19.3203732 14.7669621,19.1758325 C13.3836496,18.9837999 11.0431374,19.0264738 9.37805188,19.5364959 C9.05346034,19.6369861 8.12526666,19.8097466 7.30480974,19.9171197 C3.48775136,20.4140644 5.06650936,20.8091422 2.76812501,22.1051904 C2.96564241,21.2847499 3.16799416,20.4649978 3.37725211,19.6479987 L3.37725211,19.6479987 Z M3.56579145,18.9094647 C3.66869387,18.4902967 3.76745258,18.0628692 3.87242686,17.6340652 C5.38902904,17.5177444 7.52235514,17.3257117 7.92084305,17.2410522 C9.40153297,16.9278807 11.0728341,16.0819735 11.6384521,15.8452021 C15.6260937,15.1830681 18.9645522,15.0639942 22.1372619,15.3482575 C22.2125395,15.3695945 25.0102423,15.5499262 25.5081796,15.5987947 C27.5848748,15.8032165 31.4337017,16.0083266 32.2175558,16.0358582 C37.1796626,16.2051773 41.4304305,17.812332 46.2661539,18.3677812 C46.7192008,18.4194029 47.1819164,18.4682714 47.6480851,18.5164517 C48.0279262,19.5922473 48.3380148,20.6907565 48.5769694,21.8071613 C46.2958505,21.506379 44.0319972,21.2124796 41.6990818,20.9688253 C40.7922974,20.8738414 37.739065,19.9212495 36.6837972,19.6418041 C34.3819598,19.0306035 33.4233788,18.7380807 31.2002721,18.4015074 C29.2955413,18.1131143 27.2381834,18.0029881 25.1794443,17.8949267 C23.14833,17.7896185 21.1462218,17.8398636 19.2325129,17.4282668 C18.3699282,17.2431171 16.6868865,17.5377047 15.6744371,17.2582594 C15.5715347,17.2300396 12.5611208,17.1343674 12.131555,17.2410522 C11.5272622,17.3897226 10.001682,17.4330848 8.81864944,17.7207896 C8.78757152,17.7290491 5.01471284,18.4806606 4.47533838,18.836506 C4.15419994,18.9067115 3.83444275,18.9982539 3.51882927,19.0939261 C3.53402292,19.0319801 3.54990718,18.9714107 3.56579145,18.9094647 L3.56579145,18.9094647 Z M4.53956607,15.3895548 C5.35864174,15.304207 6.26749806,15.1596663 7.23298523,14.9573094 C10.7199271,14.2256582 14.1143259,13.865683 14.2938872,13.789283 C18.7691067,13.6371711 16.9555378,12.6969684 21.0633473,12.9351163 C22.2325675,13.003257 22.9542657,12.6728782 24.6497385,12.6233214 C26.9943944,12.5551808 31.1650504,13.8257623 34.7051701,13.9407065 C35.9296399,13.979939 41.9932861,14.7012659 42.9311484,15.0619293 C43.0609851,15.1933925 44.9871251,15.4680198 46.4643619,15.6800128 C46.7488974,16.2657467 47.0106425,16.8611167 47.2523596,17.4640578 C46.56243,17.3539316 45.9436342,17.2321044 45.5119965,17.0937583 C44.496094,16.7709508 37.2210998,15.8610328 33.6229681,15.5217063 C31.3307993,15.3055836 30.6505383,14.9105057 27.8486918,14.8237813 C26.7954958,14.9297778 25.938436,14.8058858 25.0855199,14.6744226 C24.8893838,14.6565271 21.4321386,14.4679359 21.2919426,14.5002855 C19.4424615,14.7756011 17.9624622,14.6200478 16.3781792,14.5911396 C14.7987306,14.5615432 13.2931783,15.092214 11.7517138,15.3104016 C9.58869107,15.6153136 9.34628334,16.1246475 7.01267736,16.6580714 C6.01818413,16.8377148 5.08032176,16.814313 4.22809632,16.8783239 C4.17837165,16.8817653 4.11552521,16.8879599 4.06234744,16.8920897 C4.19909026,16.3848207 4.35102673,15.8809932 4.53956607,15.3895548 L4.53956607,15.3895548 Z M6.4663967,12.1862579 C6.7315949,11.8372954 7.03546783,11.5220591 7.35522503,11.2219651 C7.43879008,11.1792912 7.5209739,11.1400587 7.60730143,11.0925668 C8.57969481,10.5557014 12.4761745,9.89769709 13.8470558,9.58452561 C14.5024545,9.43447861 15.492804,9.32366409 16.1495839,9.17361709 C17.7725416,8.82465458 19.0446642,7.90028248 20.8409676,7.75092377 C21.0771597,7.73165168 22.2539767,7.44601176 23.3838315,7.24434309 C25.0247454,6.95044369 27.6995178,6.41633145 30.3252561,5.57111258 C31.4682327,5.20425456 32.6167343,4.91242003 33.6982457,4.65775311 C33.8633039,4.71832254 34.030434,4.77545053 34.1954923,4.8394614 C35.5525612,5.32608171 36.8709553,5.91801023 38.1637965,6.58978027 C38.0035726,6.60561092 37.8488737,6.61800012 37.6824342,6.63864879 C37.0208199,6.72193175 36.2728781,6.8003967 35.5636111,6.86578415 C34.3729817,6.9752221 33.2921609,7.044051 32.9247509,7.01514286 C31.8598144,6.93048331 30.1429324,7.1314637 28.3038105,7.45702438 C26.6332,7.75367693 24.8223936,7.980124 23.3368693,8.35799465 C22.0454094,8.6856202 20.9714948,9.00085656 20.372727,9.21973245 C20.4701045,9.32504066 20.820249,9.18944774 21.3775796,9.17705853 C21.8092172,9.16742249 22.3195856,8.95955922 22.9128285,8.90311952 C23.8417128,8.81639511 24.8810963,8.51630112 25.8880207,8.38346134 C27.6587712,8.15013138 29.2934694,8.08405564 29.6719293,8.05377092 C31.6035943,7.90165906 33.6257305,8.29742522 35.5898547,8.43508302 C36.1623789,8.5548453 39.4338473,9.12061884 40.2902164,9.46820477 C41.5409298,9.97616204 42.1182883,9.9534485 42.7674714,9.95620166 C44.0036818,11.4463473 45.0782869,13.0411128 45.9740215,14.7170965 C45.7309231,14.6792406 45.4954216,14.6393199 45.2481795,14.6028405 C42.6535191,14.2208402 42.8047649,13.896656 39.6541551,13.4671637 C37.9414168,13.2324572 35.8957995,13.1477976 33.7472797,13.1422913 C31.4944763,13.1374733 30.6063386,12.4271591 28.2672077,12.1250002 C26.3976985,11.8847874 23.024709,12.0327695 21.4791007,12.0479119 C18.8865121,12.3087734 16.5308063,12.7196819 13.5431829,13.4389439 C12.1287925,14.0191715 10.7613643,13.3639204 9.54241951,13.6000035 C8.98439831,13.7087532 8.0486078,13.9943931 7.22331655,14.0831824 C5.40284144,14.2779681 5.21499272,13.9124867 6.96433394,13.2813257 C8.82348378,12.610244 12.0217464,12.3012022 13.6999537,11.6129132 C16.6868865,10.892963 18.2836006,11.1930569 20.8761892,10.9328837 C21.5481628,10.9260008 22.493622,10.7126312 23.5765146,10.6506852 C24.597942,10.592869 25.7561122,10.7319033 26.8051645,10.6974889 C27.9212069,10.6610096 28.9260594,10.4503931 29.6608794,10.3801877 C30.9689143,10.2549191 32.4799915,11.1304227 33.8412041,11.3905959 C35.5428925,11.7161566 37.0857382,11.4704374 38.559522,11.5626681 C40.5864925,11.6900016 42.5906726,12.5524277 44.0340691,12.0575479 C42.744681,11.8317891 41.3889933,11.3093778 40.0947709,11.1792912 C38.2936331,10.9989595 36.5139046,11.17172 34.5463274,10.8227575 C33.2479612,10.5921807 31.7900618,9.74420865 30.4550928,9.79996006 C29.9032871,9.82336188 29.3045193,9.68157435 28.7354482,9.72355998 C27.9750753,9.77793481 26.9778196,9.90802143 26.1905124,9.97340888 C25.5137045,10.0305369 24.9688051,9.90113854 24.265063,9.96927915 C23.5509616,10.038108 22.8189041,10.1365334 22.0764873,10.1922848 C20.7788118,10.2886452 19.8437119,10.297593 18.6827792,10.3836291 C16.818795,10.5205986 14.7220717,10.773889 12.2703697,11.2928588 C9.48855113,11.8806576 7.37318115,12.4450546 5.95326582,12.841509 C5.68461452,13.2303923 5.42908501,13.6295999 5.18391481,14.0350021 C5.54649046,13.3756213 5.9560283,12.743772 6.4663967,12.1862579 L6.4663967,12.1862579 Z M8.23093156,10.4497049 C8.61077273,10.0973009 9.02859801,9.79032401 9.44849515,9.48954173 C11.0410656,8.98846735 12.4955119,8.34422887 14.3422306,8.08336735 C14.6391973,8.04138172 16.0687813,7.34414499 17.4983653,7.16174841 C17.8968533,7.10943845 18.8430031,6.47896575 20.050898,6.11761403 C20.9604449,5.8450516 22.0281439,5.75075601 22.9998466,5.52086749 C24.5205925,5.16089235 25.8617772,4.71143965 26.3880298,4.61714406 C27.120778,4.46572049 27.9495223,3.94812718 28.8452568,3.34518603 C29.1553454,3.40162573 29.4640526,3.46288345 29.7713787,3.5282709 C28.5676275,4.15048414 29.2582478,4.08234353 30.2534316,3.63839714 C31.062148,3.82423516 31.8598144,4.04311106 32.6478122,4.29571311 C32.2203182,4.39895646 31.7465527,4.52904307 31.2506873,4.70593334 C28.4985655,5.68881 26.9467416,6.1630411 25.1594163,6.46107023 C24.4453149,6.58014422 23.6683671,6.55330095 22.815451,6.79144894 C22.0916809,6.99174103 21.296777,7.03510324 20.8844767,7.13008712 C20.4783919,7.22231784 20.0426105,7.33244408 19.608901,7.44188202 C18.7697973,7.65318674 17.9431248,8.05377092 17.2255703,8.20863594 C15.7476429,8.52593716 14.186841,9.07519177 13.443043,9.20321352 C10.3483734,9.73732576 11.0127501,9.67331489 8.20399737,10.4731067 C8.21297544,10.4648472 8.22126288,10.457276 8.23093156,10.4497049 L8.23093156,10.4497049 Z M12.1743735,7.59192902 C13.5293705,6.72881464 14.9610264,6.02331844 16.4016603,5.34397722 C17.2055423,4.95715882 18.0342867,4.62058551 18.8733904,4.30053113 C19.3181498,4.16562649 19.7332126,4.01489121 20.1220319,3.85658474 C20.983926,3.80083334 23.6614609,2.99347037 24.0571863,2.96593881 C24.6690759,2.9225766 24.9473959,2.93290094 25.3576243,2.88196755 C26.0406478,2.94047212 26.7188369,3.01893706 27.3921917,3.11254436 C26.5372038,3.63357912 25.7188188,4.0967976 25.1214322,4.29846627 C23.2546855,4.92825068 20.4680326,5.29510871 20.4756294,5.26069426 C20.3388866,5.29579699 20.2014532,5.33158802 20.0619479,5.36737905 C19.1807164,5.67160278 17.9880151,6.2194808 16.7780484,6.5815208 C15.865739,6.85339495 14.9430702,7.31317198 14.425105,7.44738834 C13.9161179,7.57885153 13.3705278,7.7302751 12.8228659,7.88238697 C12.1964733,8.05721237 11.5652464,8.2361675 10.9637161,8.39998028 C11.3656571,8.12672956 11.7738137,7.86242659 12.1743735,7.59192902 L12.1743735,7.59192902 Z M39.8502913,7.51897039 C40.4179812,7.85141396 40.9808367,8.19624674 41.5395485,8.55966332 C41.7356847,8.76821488 41.9249147,8.98158446 42.1148352,9.19426576 C42.0816855,9.18669458 42.0395576,9.18187656 42.009861,9.17361709 C40.6666045,8.80813564 39.874463,8.36625412 39.3841226,8.26576393 C36.7804841,7.72889853 38.2425272,7.71100301 39.8502913,7.51897039 L39.8502913,7.51897039 Z M50.8732819,23.3035015 C50.9506313,21.8980154 50.9388908,20.5647997 50.6439959,19.8765107 C50.2427455,18.9376845 49.7993673,18.5026859 49.5390035,17.4778236 C49.3642765,16.7915995 49.4305761,16.0565069 49.2061245,15.3950612 C48.9699323,14.6978244 48.7827742,14.7356803 48.4795919,14.2270348 C47.9008521,13.7961659 47.5762606,13.2186914 47.5051267,12.4952997 C47.4194898,12.2571517 47.3269466,12.0224452 47.2268067,11.7911801 C46.9574648,11.4635545 46.4243059,10.876444 45.8552348,10.3705516 C45.8345162,10.1860902 45.7447355,10.0064468 45.54929,9.87636013 C44.8793883,9.43034888 44.4622536,8.72278781 43.7143119,8.37107214 C43.528535,8.28434773 42.3641492,7.63529123 41.2798753,7.07708887 C40.5975425,6.40876027 39.7819199,5.66265502 39.6721113,5.44928544 C38.950413,4.03553988 37.8157239,3.49041501 36.2880718,3.21922915 C34.7687071,2.94873158 34.7334855,2.54332938 33.4675785,1.84196291 C33.3681292,1.7862115 33.3280732,1.6361645 33.2079053,1.58316625 C32.6947744,1.35603089 32.4150732,1.42623637 31.9074672,1.48129948 C31.2368749,1.55356983 30.6173885,1.75730336 29.9612992,1.77864032 C29.7264883,1.7490439 29.4916774,1.74422587 29.2561759,1.72220063 L29.2547947,1.72220063 C28.6477394,1.59417888 28.7202546,1.44206701 28.0904089,1.18189378 C26.6884496,0.601666172 25.8044557,1.57697165 24.4922771,1.78277006 C22.7760857,1.53911576 21.012932,1.59142572 19.2829282,1.89427287 C17.8761346,1.51433736 16.7345393,1.90390892 15.5259538,2.74430976 C14.2607374,3.62394307 13.9471958,3.36170497 12.5549052,3.75747113 C12.4450966,3.78913242 12.3104257,3.71066748 12.1874953,3.75747113 C11.6633144,3.9591398 11.5155217,4.20554725 11.1957645,4.60200171 C10.6246215,5.30956277 10.2938144,6.12105548 9.49131361,6.64209023 C8.96989528,6.97935183 8.91395504,6.82035708 8.28410933,7.07984202 C6.79167886,7.69517237 6.97607448,9.14539724 6.01680289,10.2466596 C5.83240727,10.457276 5.03128772,12.3025788 4.58721887,13.5669656 C4.52920677,13.6585081 4.46705094,13.7459208 4.40834821,13.8374632 C3.45598282,15.2450142 2.39795253,16.6608246 1.68523238,18.2700442 C1.61686097,18.4359218 1.56506445,18.6079941 1.50290862,18.7766249 C1.11132691,19.1765208 0.753585596,19.5550797 0.663114337,19.8076818 C0.587836725,20.0182982 0.582311762,20.394104 0.482171819,20.5875132 C0.340594658,20.8614522 0.422778474,20.6033438 0.186586332,20.8531927 C-0.241598253,21.3060869 0.143077253,23.0144201 0.578168041,24.5348505 C0.605102232,25.3091756 0.699717213,26.0766178 0.847509957,26.8337357 C0.799857156,27.9632179 0.846128716,29.0954532 0.962152926,30.2270003 C0.774994826,31.1603202 0.478718718,32.1893122 0.512559112,32.6786856 C0.5767868,33.6044343 1.2301136,34.0160311 1.5602301,34.8371599 C1.88896537,35.6555355 1.62998275,36.5014426 1.9718398,37.3232597 C2.16866659,37.7968025 2.97600172,38.4878446 3.75364017,39.117629 C4.29646773,40.1067003 4.88625746,41.0709931 5.56720907,41.9754049 C6.51128702,43.2184547 7.60868267,44.3300414 8.77928408,45.3549037 C9.96162603,46.7486889 11.2959044,48.1989138 12.1992358,48.5609538 C12.2724415,48.5905502 12.3401223,48.613952 12.409875,48.6387304 C12.8774249,48.9539668 13.3670747,48.9904461 13.8829681,49.1012606 C14.1343539,49.1928031 14.3933365,49.3063707 14.6827064,49.478443 C15.2932147,49.840483 15.7676709,50.4076331 16.3954447,50.7166749 C17.057059,51.0429238 17.1627239,50.8846174 17.7380106,51.0305346 C18.4528026,50.9272913 19.092317,51.1069347 19.6558632,51.5687766 C19.8851491,51.676838 20.1171975,51.7773282 20.3520084,51.8709355 C20.5937255,51.8943373 21.3692921,51.8668057 22.3637853,51.8014183 C24.508852,52.0973825 26.6808528,52.048514 28.8148695,51.7477317 C30.0331238,51.7931588 31.14226,51.7518615 31.7506964,51.4937531 C32.4074763,51.2143078 32.824611,50.9183435 33.3626042,50.6746892 C33.5566685,50.6079252 33.7472797,50.5356549 33.9406534,50.4640728 C34.0152404,50.440671 34.0753244,50.4124511 34.1575082,50.3918025 C34.8460566,50.2176654 35.5836391,50.2844294 36.2466346,50.0607355 C36.9462329,49.8246523 36.9082488,49.638126 37.4193078,49.3366555 C37.8516361,48.7598693 38.4310666,48.4356852 39.1569085,48.3647914 C39.3951725,48.2801319 39.6313647,48.1879012 39.8634131,48.087411 C40.1921483,47.8189783 41.5533609,46.3019894 42.8579427,44.714795 C43.5824034,44.1008412 44.2737143,43.4449018 44.9228974,42.7421588 C48.0969883,39.241521 49.9858348,34.6843597 50.4471691,30.0390974 C50.8442758,28.1662631 51.0507713,26.243872 50.9893061,24.2987674 C50.9741124,23.9642589 50.9050504,23.6366334 50.8732819,23.3035015 L50.8732819,23.3035015 Z" id="Fill-67" fill="#000000" mask="url(#mask-10)"></path>
          </g>
        </g>
      </g>
    </svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
