{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="249px" height="109px" viewBox="0 0 249 109" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>Logo origineel zwart</title>
      <defs>
        <polygon id="path-1" points="0.0808036212 0.0690101911 7.3767117 0.0690101911 7.3767117 6.94267516 0.0808036212 6.94267516"></polygon>
        <polygon id="path-3" points="0.33098273 0.513133121 7.3265649 0.513133121 7.3265649 11.1082803 0.33098273 11.1082803"></polygon>
        <polygon id="path-5" points="0.531569916 0.0690101911 7.82747799 0.0690101911 7.82747799 6.94267516 0.531569916 6.94267516"></polygon>
        <polygon id="path-7" points="0.639909192 0.0690101911 7.93581727 0.0690101911 7.93581727 6.94267516 0.639909192 6.94267516"></polygon>
        <polygon id="path-9" points="0.104266431 0.53389172 51.3238138 0.53389172 51.3238138 51.9767646 0.104266431 51.9767646"></polygon>
      </defs>
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer" transform="translate(-595.000000, -78.000000)">
          <g id="Group-70" transform="translate(595.000000, 78.000000)">
            <path d="M0.000138718663,75.3975217 C0.000138718663,75.1760503 0.177005014,74.9761013 0.420456267,74.9761013 L9.13753705,74.9761013 C9.38029471,74.9761013 9.557161,75.1760503 9.557161,75.3975217 L9.557161,76.0397191 C9.557161,76.2611904 9.38029471,76.4590567 9.13753705,76.4590567 L1.70429749,76.4590567 L1.70429749,82.5269548 L8.0527571,82.5269548 C8.27470696,82.5269548 8.47376825,82.7269038 8.47376825,82.9490694 L8.47376825,83.5905726 C8.47376825,83.8120439 8.27470696,84.0106045 8.0527571,84.0106045 L1.70429749,84.0106045 L1.70429749,90.056286 C1.70429749,90.2784516 1.50454262,90.4770121 1.28328635,90.4770121 L0.420456267,90.4770121 C0.177005014,90.4770121 0.000138718663,90.2784516 0.000138718663,90.056286 L0.000138718663,75.3975217 Z" id="Fill-1" fill="#000000"></path>
            <path d="M13.5902674,75.3975217 C13.5902674,75.1760503 13.7678273,74.9761013 14.010585,74.9761013 L14.8741086,74.9761013 C15.0953649,74.9761013 15.2944262,75.1760503 15.2944262,75.3975217 L15.2944262,88.9926682 L21.6657744,88.9926682 C21.9092256,88.9926682 22.0853983,89.1926172 22.0853983,89.4140885 L22.0853983,90.056286 C22.0853983,90.2784516 21.9092256,90.4770121 21.6657744,90.4770121 L14.010585,90.4770121 C13.7678273,90.4770121 13.5902674,90.2784516 13.5902674,90.056286 L13.5902674,75.3975217 Z" id="Fill-3" fill="#000000"></path>
            <path d="M34.5263816,85.2060637 C33.4422953,82.7934841 32.3797103,80.3579936 31.295624,77.9433312 L31.1187577,77.9433312 L27.8893872,85.2060637 L34.5263816,85.2060637 Z M24.0170557,89.9013949 L30.7421365,74.9989427 C30.809415,74.864949 30.9196964,74.7552548 31.1187577,74.7552548 L31.3407075,74.7552548 C31.5397688,74.7552548 31.6493565,74.864949 31.7159415,74.9989427 L38.3973259,89.9013949 C38.5298022,90.1902102 38.3536295,90.4769427 38.0207047,90.4769427 L37.1363733,90.4769427 C36.937312,90.4769427 36.8041421,90.3450318 36.7597521,90.2332548 L35.1235655,86.5800191 L27.2700084,86.5800191 L25.6546295,90.2332548 C25.6109331,90.3450318 25.4770696,90.4769427 25.2787019,90.4769427 L24.3936769,90.4769427 C24.0614457,90.4769427 23.8845794,90.1902102 24.0170557,89.9013949 L24.0170557,89.9013949 Z" id="Fill-5" fill="#000000"></path>
            <path d="M41.8128568,75.1541115 C41.8128568,74.9326401 42.0119181,74.7556019 42.2331744,74.7556019 L42.7859682,74.7556019 L52.7640017,87.2010414 L52.8083916,87.2010414 L52.8083916,75.3977994 C52.8083916,75.1756338 52.9845643,74.9756847 53.2287092,74.9756847 L54.0027593,74.9756847 C54.2240156,74.9756847 54.4230769,75.1756338 54.4230769,75.3977994 L54.4230769,90.2995573 C54.4230769,90.5217229 54.2240156,90.6987611 54.0027593,90.6987611 L53.6039432,90.6987611 L43.449737,78.0096338 L43.4275421,78.0096338 L43.4275421,90.0565637 C43.4275421,90.278035 43.2513694,90.4765955 43.0079181,90.4765955 L42.2331744,90.4765955 C42.0119181,90.4765955 41.8128568,90.278035 41.8128568,90.0565637 L41.8128568,75.1541115 Z" id="Fill-7" fill="#000000"></path>
            <path d="M64.9408646,88.9492764 C68.5697448,88.9492764 71.2026251,86.3589643 71.2026251,82.7057287 C71.2026251,79.0719325 68.5697448,76.4830089 64.9408646,76.4830089 L61.6227142,76.4830089 L61.6227142,88.9492764 L64.9408646,88.9492764 Z M59.941444,75.3971745 C59.941444,75.1757032 60.1190039,74.9757541 60.3402602,74.9757541 L65.2959844,74.9757541 C69.5650513,74.9757541 73.0607616,78.4540344 73.0607616,82.7057287 C73.0607616,86.9997732 69.5650513,90.476665 65.2959844,90.476665 L60.3402602,90.476665 C60.1190039,90.476665 59.941444,90.2781045 59.941444,90.0566331 L59.941444,75.3971745 Z" id="Fill-9" fill="#000000"></path>
            <path d="M83.5121031,82.949 C85.2155682,82.949 86.6977772,81.5313057 86.6977772,79.7157962 C86.6977772,78.0315032 85.2155682,76.5929809 83.5121031,76.5929809 L79.2201476,76.5929809 L79.2201476,82.949 L83.5121031,82.949 Z M77.4722925,75.3974522 C77.4722925,75.1759809 77.6491588,74.9760318 77.89261,74.9760318 L83.623078,74.9760318 C86.276766,74.9760318 88.4449387,77.0581401 88.4449387,79.6928854 C88.4449387,81.7298662 87.0958997,83.4356815 85.1711783,84.2104841 L88.2014875,89.8347452 C88.3568524,90.1235605 88.2014875,90.4769427 87.8262535,90.4769427 L86.6977772,90.4769427 C86.4987159,90.4769427 86.3877409,90.3672484 86.3440446,90.2783822 L83.4011281,84.4097389 L79.1764513,84.4097389 L79.1764513,90.0562166 C79.1764513,90.2783822 78.9766964,90.4769427 78.7554401,90.4769427 L77.89261,90.4769427 C77.6491588,90.4769427 77.4722925,90.2783822 77.4722925,90.0562166 L77.4722925,75.3974522 Z" id="Fill-11" fill="#000000"></path>
            <path d="M93.0995047,75.3975217 C93.0995047,75.1760503 93.298566,74.9761013 93.5198223,74.9761013 L94.4055409,74.9761013 C94.6261036,74.9761013 94.8251649,75.1760503 94.8251649,75.3975217 L94.8251649,90.056286 C94.8251649,90.2784516 94.6261036,90.4770121 94.4055409,90.4770121 L93.5198223,90.4770121 C93.298566,90.4770121 93.0995047,90.2784516 93.0995047,90.056286 L93.0995047,75.3975217 Z" id="Fill-13" fill="#000000"></path>
            <path d="M108.721584,85.2060637 C107.637498,82.7934841 106.575607,80.3579936 105.490827,77.9433312 L105.314654,77.9433312 L102.08459,85.2060637 L108.721584,85.2060637 Z M98.2129521,89.9013949 L104.938033,74.9989427 C105.004618,74.864949 105.115593,74.7552548 105.314654,74.7552548 L105.53591,74.7552548 C105.734972,74.7552548 105.845253,74.864949 105.911838,74.9989427 L112.593222,89.9013949 C112.725005,90.1902102 112.548832,90.4769427 112.216601,90.4769427 L111.331576,90.4769427 C111.133208,90.4769427 110.999345,90.3450318 110.955648,90.2332548 L109.318768,86.5800191 L101.465211,86.5800191 L99.8498323,90.2332548 C99.8061359,90.3450318 99.672966,90.4769427 99.4739047,90.4769427 L98.5895733,90.4769427 C98.2566485,90.4769427 98.0804758,90.1902102 98.2129521,89.9013949 L98.2129521,89.9013949 Z" id="Fill-15" fill="#000000"></path>
            <path d="M128.266836,87.1552892 C130.700655,87.1552892 132.691268,85.1627414 132.691268,82.748079 C132.691268,80.3125885 130.700655,78.2985185 128.266836,78.2985185 C125.854518,78.2985185 123.864599,80.3125885 123.864599,82.748079 C123.864599,85.1627414 125.854518,87.1552892 128.266836,87.1552892 M128.266836,74.7556713 C132.691268,74.7556713 136.230674,78.3200408 136.230674,82.748079 C136.230674,87.1768115 132.691268,90.6988306 128.266836,90.6988306 C123.842404,90.6988306 120.325192,87.1768115 120.325192,82.748079 C120.325192,78.3200408 123.842404,74.7556713 128.266836,74.7556713" id="Fill-17" fill="#000000"></path>
            <path d="M146.882048,85.162672 L145.200778,81.5080478 L145.179277,81.5080478 L143.518814,85.162672 L146.882048,85.162672 Z M137.790427,89.9010478 L144.714569,74.9985955 C144.78046,74.8652962 144.934438,74.7556019 145.089803,74.7556019 L145.311059,74.7556019 C145.466424,74.7556019 145.621789,74.8652962 145.687681,74.9985955 L152.612516,89.9010478 C152.744299,90.1898631 152.566739,90.4765955 152.235895,90.4765955 L149.780575,90.4765955 C149.381758,90.4765955 149.205586,90.345379 149.006525,89.9225701 L148.209586,88.1744045 L142.19197,88.1744045 L141.395725,89.9468694 C141.285444,90.2113854 141.041299,90.4765955 140.598786,90.4765955 L138.165661,90.4765955 C137.834123,90.4765955 137.656564,90.1898631 137.790427,89.9010478 L137.790427,89.9010478 Z" id="Fill-19" fill="#000000"></path>
            <path d="M155.429407,75.5073548 C155.429407,75.2192338 155.650663,74.9755459 155.961393,74.9755459 L158.549189,74.9755459 C158.837031,74.9755459 159.080482,75.2192338 159.080482,75.5073548 L159.080482,81.331565 L163.991816,75.1977115 C164.079903,75.0873229 164.278964,74.9755459 164.412134,74.9755459 L167.199685,74.9755459 C167.619309,74.9755459 167.841259,75.4643102 167.597808,75.7961701 L162.420827,82.2834057 L168.062515,89.636393 C168.305273,89.9682529 168.062515,90.4549344 167.641504,90.4549344 L164.588306,90.4549344 C164.432942,90.4549344 164.234574,90.3667624 164.190184,90.3001127 L159.080482,83.3470236 L159.080482,89.9467306 C159.080482,90.2334631 158.837031,90.477151 158.549189,90.477151 L155.961393,90.477151 C155.650663,90.477151 155.429407,90.2334631 155.429407,89.9467306 L155.429407,75.5073548 Z" id="Fill-21" fill="#000000"></path>
            <path d="M175.838945,75.5073548 C175.749471,75.1977115 175.927031,74.9755459 176.236374,74.9755459 L178.824864,74.9755459 C179.002424,74.9755459 179.177903,75.1303675 179.22368,75.2858834 L181.125513,82.7936924 L181.214293,82.7936924 L184.642725,74.999151 C184.70931,74.8651573 184.841786,74.7554631 185.019346,74.7554631 L185.417469,74.7554631 C185.61653,74.7554631 185.7497,74.8651573 185.79409,74.999151 L189.222521,82.7936924 L189.311301,82.7936924 L191.213134,75.2858834 C191.258218,75.1303675 191.434391,74.9755459 191.61195,74.9755459 L194.199747,74.9755459 C194.509783,74.9755459 194.687343,75.1977115 194.59787,75.5073548 L190.417583,90.3882847 C190.372499,90.5646287 190.196326,90.6986223 190.018767,90.6986223 L189.665034,90.6986223 C189.510363,90.6986223 189.354998,90.588928 189.2898,90.4549344 L185.241296,81.3975204 L185.174017,81.3975204 L181.147014,90.4549344 C181.081817,90.588928 180.926452,90.6986223 180.771781,90.6986223 L180.418048,90.6986223 C180.240488,90.6986223 180.063622,90.5646287 180.019232,90.3882847 L175.838945,75.5073548 Z" id="Fill-23" fill="#000000"></path>
            <path d="M204.742227,87.1552892 C207.174658,87.1552892 209.165965,85.1627414 209.165965,82.748079 C209.165965,80.3125885 207.174658,78.2985185 204.742227,78.2985185 C202.329909,78.2985185 200.339296,80.3125885 200.339296,82.748079 C200.339296,85.1627414 202.329909,87.1552892 204.742227,87.1552892 M204.742227,74.7556713 C209.165965,74.7556713 212.705372,78.3200408 212.705372,82.748079 C212.705372,87.1768115 209.165965,90.6988306 204.742227,90.6988306 C200.317101,90.6988306 196.79989,87.1768115 196.79989,82.748079 C196.79989,78.3200408 200.317101,74.7556713 204.742227,74.7556713" id="Fill-25" fill="#000000"></path>
            <path d="M223.202421,87.1552892 C225.634853,87.1552892 227.626159,85.1627414 227.626159,82.748079 C227.626159,80.3125885 225.634853,78.2985185 223.202421,78.2985185 C220.790103,78.2985185 218.799491,80.3125885 218.799491,82.748079 C218.799491,85.1627414 220.790103,87.1552892 223.202421,87.1552892 M223.202421,74.7556713 C227.626159,74.7556713 231.165566,78.3200408 231.165566,82.748079 C231.165566,87.1768115 227.626159,90.6988306 223.202421,90.6988306 C218.777296,90.6988306 215.260084,87.1768115 215.260084,82.748079 C215.260084,78.3200408 218.777296,74.7556713 223.202421,74.7556713" id="Fill-27" fill="#000000"></path>
            <path d="M240.422331,87.2007637 C242.922042,87.2007637 244.736482,85.2297382 244.736482,82.7053815 C244.736482,80.2025471 242.922042,78.2315217 240.422331,78.2315217 L238.297855,78.2315217 L238.297855,87.2007637 L240.422331,87.2007637 Z M234.847228,75.3975217 C234.847228,75.1760503 235.024788,74.9761013 235.245351,74.9761013 L240.643588,74.9761013 C244.913348,74.9761013 248.408365,78.4536873 248.408365,82.7053815 C248.408365,87.0001204 244.913348,90.4770121 240.643588,90.4770121 L235.245351,90.4770121 C235.024788,90.4770121 234.847228,90.2784516 234.847228,90.056286 L234.847228,75.3975217 Z" id="Fill-29" fill="#000000"></path>
            <path d="M74.3246967,105.004213 C74.3246967,103.038741 73.4410588,101.892506 72.0497106,101.892506 C70.6576688,101.892506 69.7733373,103.038741 69.7733373,105.004213 C69.7733373,106.969684 70.6576688,108.074958 72.0497106,108.074958 C73.4410588,108.074958 74.3246967,106.969684 74.3246967,105.004213 M68.9285407,104.989633 C68.9285407,102.647175 70.4759474,101.502327 72.0497106,101.502327 C73.6096019,101.502327 75.1701869,102.647175 75.1701869,104.989633 C75.1701869,107.359168 73.6227802,108.465831 72.0497106,108.465831 C70.4627691,108.465831 68.9285407,107.346671 68.9285407,104.989633" id="Fill-31" fill="#000000"></path>
            <g id="Group-35" transform="translate(76.295265, 101.523433)">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
              </mask>
              <g id="Clip-34"></g>
              <path d="M7.3767117,6.40906115 L7.3767117,6.76036051 L5.62122702,6.8631121 L5.5816922,5.51067898 C4.90613231,6.36879363 4.06064206,6.94295287 3.04591504,6.94295287 C1.82380362,6.94295287 1.16142201,6.27923312 1.17390669,4.35125223 L1.22592618,0.707736306 L0.0808036212,0.565411465 L0.0808036212,0.226608917 L1.87582312,0.0690101911 L2.00552507,0.226608917 L1.94102089,2.17888917 L1.94102089,4.31376178 C1.94102089,5.79741146 2.43485933,6.31672357 3.33236908,6.31672357 C4.15150279,6.31672357 4.90613231,5.87516943 5.56920752,5.09411847 L5.59487047,0.707736306 L4.47610446,0.57790828 L4.47610446,0.226608917 L6.25794568,0.0690101911 L6.38834123,0.226608917 L6.33632173,2.17888917 L6.33632173,6.30492102 L7.3767117,6.40906115 Z" id="Fill-33" fill="#000000" mask="url(#mask-2)"></path>
            </g>
            <path d="M88.8048443,107.919581 C88.4663708,108.271575 87.985017,108.465969 87.3871396,108.465969 C86.3731061,108.465969 85.904237,107.905001 85.9181089,106.773345 C85.9181089,106.460925 85.9305936,106.201269 85.9305936,105.745135 L85.9305936,102.13911 L84.5656019,102.13911 L84.5656019,101.762122 L85.9569501,101.644791 L86.2170476,99.6543261 L86.7767774,99.6543261 L86.7108861,101.685059 L88.6480922,101.685059 L88.6480922,102.13911 L86.6977078,102.13911 L86.6977078,106.787231 C86.6977078,107.620352 87.0230031,107.984842 87.6083958,107.984842 C87.9988889,107.984842 88.271471,107.880008 88.6231228,107.671033 L88.8048443,107.919581 Z" id="Fill-36" fill="#000000"></path>
            <g id="Group-40" transform="translate(89.473538, 97.357828)">
              <mask id="mask-4" fill="white">
                <use xlink:href="#path-3"></use>
              </mask>
              <g id="Clip-39"></g>
              <path d="M5.24578496,5.54934968 C4.63542284,4.92589745 4.07569304,4.65166178 3.4257961,4.65166178 C2.18981281,4.65166178 1.16329471,5.5639293 1.16329471,7.69671911 C1.16329471,9.63719682 2.09895209,10.5869548 3.33493538,10.5869548 C4.06251476,10.5869548 4.63542284,10.327993 5.24578496,9.61220318 L5.24578496,5.54934968 Z M7.3265649,10.574458 L7.3265649,10.9257573 L5.28462618,11.0430885 L5.25965682,10.0412605 C4.67426407,10.7695471 3.95916936,11.1083497 3.13934206,11.1083497 C1.48858997,11.1083497 0.33098273,9.70176369 0.33098273,7.71129873 C0.33098273,5.49936242 1.60511365,4.1448465 3.30857883,4.1448465 C3.97165404,4.1448465 4.6603922,4.43157898 5.2721415,5.15986561 L5.2721415,1.25391656 L4.05003008,1.21642611 L4.05003008,0.865126752 L5.85753426,0.513133121 L6.05243398,0.630464331 L6.01289916,2.58343885 L6.01289916,10.4821204 L7.3265649,10.574458 Z" id="Fill-38" fill="#000000" mask="url(#mask-4)"></path>
            </g>
            <path d="M103.324527,105.004213 C103.324527,103.038741 102.440889,101.892506 101.049541,101.892506 C99.6574989,101.892506 98.7731674,103.038741 98.7731674,105.004213 C98.7731674,106.969684 99.6574989,108.074958 101.049541,108.074958 C102.440889,108.074958 103.324527,106.969684 103.324527,105.004213 M97.9283708,104.989633 C97.9283708,102.647175 99.4757774,101.502327 101.049541,101.502327 C102.609432,101.502327 104.170017,102.647175 104.170017,104.989633 C104.170017,107.359168 102.62261,108.465831 101.049541,108.465831 C99.4625992,108.465831 97.9283708,107.346671 97.9283708,104.989633" id="Fill-41" fill="#000000"></path>
            <path d="M111.031666,105.004213 C111.031666,103.038741 110.148028,101.892506 108.75668,101.892506 C107.364638,101.892506 106.480307,103.038741 106.480307,105.004213 C106.480307,106.969684 107.364638,108.074958 108.75668,108.074958 C110.148028,108.074958 111.031666,106.969684 111.031666,105.004213 M105.63551,104.989633 C105.63551,102.647175 107.182917,101.502327 108.75668,101.502327 C110.316572,101.502327 111.877157,102.647175 111.877157,104.989633 C111.877157,107.359168 110.32975,108.465831 108.75668,108.465831 C107.169739,108.465831 105.63551,107.346671 105.63551,104.989633" id="Fill-43" fill="#000000"></path>
            <path d="M115.176233,103.402815 C115.606261,102.25658 116.490592,101.502605 117.387409,101.502605 C117.855584,101.502605 118.246077,101.684503 118.362601,101.944159 C118.362601,102.373911 118.180879,102.607879 117.764723,102.607879 C117.478269,102.607879 117.270191,102.453057 116.983737,102.191318 L116.840857,102.06149 C116.125762,102.373911 115.606261,103.039019 115.176233,104.106803 L115.176233,105.34121 C115.176233,106.032006 115.190105,107.099096 115.215768,107.814885 L116.464236,107.932217 L116.464236,108.283516 L113.252899,108.283516 L113.252899,107.932217 L114.395941,107.814885 C114.409813,107.099096 114.422297,106.044503 114.422297,105.34121 L114.422297,104.62542 C114.422297,103.740229 114.409813,103.011943 114.383456,102.36072 L113.173829,102.30865 L113.173829,101.971236 L114.943186,101.540096 L115.111729,101.632433 L115.176233,103.402815 Z" id="Fill-45" fill="#000000"></path>
            <path d="M123.807586,101.657635 C123.885962,100.161489 124.145366,99.1985395 124.795263,98.5348197 C125.354992,97.948858 125.978533,97.7266924 126.564619,97.7266924 C127.150012,97.7266924 127.64385,97.9613548 127.761068,98.3404248 C127.747889,98.5868898 127.539811,98.7694822 127.21521,98.7694822 C126.901706,98.7694822 126.65548,98.6250745 126.303828,98.325151 L126.031246,98.1057624 C125.732307,98.2078197 125.445853,98.4174885 125.211419,98.7292146 C124.809135,99.2756032 124.561522,100.044157 124.587878,101.684711 L126.694321,101.684711 L126.694321,102.138762 L124.587878,102.138762 L124.587878,105.341418 C124.587878,106.174539 124.601057,106.994469 124.613541,107.815094 L125.992405,107.932425 L125.992405,108.283724 L122.533455,108.283724 L122.533455,107.932425 L123.781229,107.815094 C123.795101,106.994469 123.807586,106.174539 123.807586,105.341418 L123.807586,102.138762 L122.507098,102.138762 L122.507098,101.761775 L123.807586,101.657635 Z" id="Fill-47" fill="#000000"></path>
            <g id="Group-51" transform="translate(126.927577, 101.523433)">
              <mask id="mask-6" fill="white">
                <use xlink:href="#path-5"></use>
              </mask>
              <g id="Clip-50"></g>
              <path d="M7.82747799,6.40906115 L7.82747799,6.76036051 L6.07268691,6.8631121 L6.0324585,5.51067898 C5.35689861,6.36879363 4.51140836,6.94295287 3.49737493,6.94295287 C2.27456992,6.94295287 1.6121883,6.27923312 1.62467298,4.35125223 L1.67669248,0.707736306 L0.531569916,0.565411465 L0.531569916,0.226608917 L2.32728301,0.0690101911 L2.45698496,0.226608917 L2.39178719,2.17888917 L2.39178719,4.31376178 C2.39178719,5.79741146 2.88631922,6.31672357 3.78382897,6.31672357 C4.60226908,6.31672357 5.35689861,5.87516943 6.01997382,5.09411847 L6.04633036,0.707736306 L4.92687075,0.57790828 L4.92687075,0.226608917 L6.70940557,0.0690101911 L6.83841393,0.226608917 L6.78708802,2.17888917 L6.78708802,6.30492102 L7.82747799,6.40906115 Z" id="Fill-49" fill="#000000" mask="url(#mask-6)"></path>
            </g>
            <path d="M137.975755,103.402815 C138.405783,102.25658 139.290114,101.502605 140.186931,101.502605 C140.655106,101.502605 141.045599,101.684503 141.162816,101.944159 C141.162816,102.373911 140.980401,102.607879 140.564245,102.607879 C140.277791,102.607879 140.070407,102.453057 139.783259,102.191318 L139.640379,102.06149 C138.925284,102.373911 138.405783,103.039019 137.975755,104.106803 L137.975755,105.34121 C137.975755,106.032006 137.989627,107.099096 138.015984,107.814885 L139.263758,107.932217 L139.263758,108.283516 L136.052421,108.283516 L136.052421,107.932217 L137.196156,107.814885 C137.210028,107.099096 137.221819,106.044503 137.221819,105.34121 L137.221819,104.62542 C137.221819,103.740229 137.210028,103.011943 137.182978,102.36072 L135.973351,102.30865 L135.973351,101.971236 L137.742708,101.540096 L137.910557,101.632433 L137.975755,103.402815 Z" id="Fill-52" fill="#000000"></path>
            <path d="M149.365182,107.932494 L149.365182,108.283794 L146.334872,108.283794 L146.334872,107.932494 L147.49248,107.815163 C147.504964,107.099373 147.518836,106.057278 147.518836,105.341488 L147.518836,103.936985 C147.518836,102.582469 147.038176,102.101341 146.230833,102.101341 C145.646134,102.101341 144.826307,102.360997 143.877471,103.36352 L143.877471,105.341488 C143.877471,106.044087 143.89065,107.099373 143.917006,107.815163 L144.957396,107.932494 L144.957396,108.283794 L141.939572,108.283794 L141.939572,107.932494 L143.097179,107.815163 C143.110357,107.099373 143.123535,106.032284 143.123535,105.341488 L143.123535,104.625004 C143.123535,103.740507 143.110357,103.011526 143.084001,102.360997 L141.875067,102.308233 L141.875067,101.971513 L143.64373,101.540373 L143.812274,101.632711 L143.864293,102.946265 C144.749318,101.931246 145.684282,101.502189 146.543644,101.502189 C147.63536,101.502189 148.272772,102.153411 148.272772,103.936985 L148.272772,105.341488 C148.272772,106.057278 148.28595,107.11187 148.298435,107.815163 L149.365182,107.932494 Z" id="Fill-54" fill="#000000"></path>
            <path d="M151.37688,98.8988936 C151.37688,98.5219064 151.66264,98.2608618 152.026777,98.2608618 C152.377041,98.2608618 152.690545,98.5219064 152.690545,98.8988936 C152.690545,99.2897662 152.377041,99.5369255 152.026777,99.5369255 C151.66264,99.5369255 151.37688,99.2897662 151.37688,98.8988936 L151.37688,98.8988936 Z M153.54852,107.932703 L153.54852,108.284002 L150.518905,108.284002 L150.518905,107.932703 L151.702175,107.815371 C151.71466,107.099582 151.727144,106.031798 151.727144,105.341002 L151.727144,104.625212 C151.727144,103.792785 151.71466,103.104072 151.676512,102.348709 L150.453707,102.308441 L150.453707,101.971722 L152.338894,101.540582 L152.50813,101.632919 L152.468596,103.375531 L152.468596,105.341002 C152.468596,106.044295 152.482467,107.099582 152.494258,107.815371 L153.54852,107.932703 Z" id="Fill-56" fill="#000000"></path>
            <path d="M158.694844,107.919581 C158.35637,108.271575 157.875017,108.465969 157.277139,108.465969 C156.263106,108.465969 155.794237,107.905001 155.808109,106.773345 C155.808109,106.460925 155.820593,106.201269 155.820593,105.745135 L155.820593,102.13911 L154.455602,102.13911 L154.455602,101.762122 L155.847643,101.644791 L156.107741,99.6543261 L156.666777,99.6543261 L156.600886,101.685059 L158.538092,101.685059 L158.538092,102.13911 L156.588401,102.13911 L156.588401,106.787231 C156.588401,107.620352 156.913696,107.984842 157.498396,107.984842 C157.888889,107.984842 158.161471,107.880008 158.513123,107.671033 L158.694844,107.919581 Z" id="Fill-58" fill="#000000"></path>
            <g id="Group-62" transform="translate(158.832869, 101.523433)">
              <mask id="mask-8" fill="white">
                <use xlink:href="#path-7"></use>
              </mask>
              <g id="Clip-61"></g>
              <path d="M7.93581727,6.40906115 L7.93581727,6.76036051 L6.18033259,6.8631121 L6.14079777,5.51067898 C5.46454429,6.36879363 4.61974763,6.94295287 3.60502061,6.94295287 C2.38290919,6.94295287 1.71983398,6.27923312 1.73301226,4.35125223 L1.78503175,0.707736306 L0.639909192,0.565411465 L0.639909192,0.226608917 L2.43492869,0.0690101911 L2.56532423,0.226608917 L2.50012646,2.17888917 L2.50012646,4.31376178 C2.50012646,5.79741146 2.9946585,6.31672357 3.89147465,6.31672357 C4.71060836,6.31672357 5.46454429,5.87516943 6.12831309,5.09411847 L6.15466964,0.707736306 L5.03521003,0.57790828 L5.03521003,0.226608917 L6.81705125,0.0690101911 L6.9467532,0.226608917 L6.8954273,2.17888917 L6.8954273,6.30492102 L7.93581727,6.40906115 Z" id="Fill-60" fill="#000000" mask="url(#mask-8)"></path>
            </g>
            <path d="M169.989456,103.402815 C170.418791,102.25658 171.303816,101.502605 172.200632,101.502605 C172.668807,101.502605 173.0593,101.684503 173.175824,101.944159 C173.175824,102.373911 172.994103,102.607879 172.577253,102.607879 C172.291492,102.607879 172.083414,102.453057 171.79696,102.191318 L171.653387,102.06149 C170.938292,102.373911 170.418791,103.039019 169.989456,104.106803 L169.989456,105.34121 C169.989456,106.032006 170.003328,107.099096 170.028991,107.814885 L171.276765,107.932217 L171.276765,108.283516 L168.066122,108.283516 L168.066122,107.932217 L169.209164,107.814885 C169.223036,107.099096 169.23552,106.044503 169.23552,105.34121 L169.23552,104.62542 C169.23552,103.740229 169.223036,103.011943 169.196679,102.36072 L167.987052,102.30865 L167.987052,101.971236 L169.755715,101.540096 L169.924258,101.632433 L169.989456,103.402815 Z" id="Fill-63" fill="#000000"></path>
            <path d="M178.21908,104.508575 C178.595007,104.508575 178.712225,104.300989 178.712225,103.858046 C178.712225,102.816645 178.023486,101.891881 176.879057,101.891881 C175.722144,101.891881 174.772614,102.92148 174.668575,104.508575 L178.21908,104.508575 Z M174.655397,104.899448 C174.681754,106.994747 175.813004,107.905626 177.138461,107.905626 C178.035971,107.905626 178.712225,107.553632 179.233113,106.969754 L179.441191,107.137072 C178.907818,107.957696 178.010308,108.4659 176.944255,108.4659 C175.253968,108.4659 173.823085,107.321053 173.823085,104.977206 C173.823085,102.842333 175.280325,101.502397 176.904027,101.502397 C178.504147,101.502397 179.479339,102.62225 179.479339,104.118397 C179.479339,104.430817 179.453676,104.704359 179.400963,104.899448 L174.655397,104.899448 Z" id="Fill-65" fill="#000000"></path>
            <g id="Group-69" transform="translate(98.490251, 0.160376)">
              <mask id="mask-10" fill="white">
                <use xlink:href="#path-9"></use>
              </mask>
              <g id="Clip-68"></g>
              <path d="M49.4389847,29.6175217 C48.014344,29.5161586 46.5806866,29.3439803 44.6844025,29.1773561 C43.0953802,29.0385025 40.2301462,29.1218146 39.2133384,28.6990057 C39.035085,28.7434389 37.7144833,27.965165 36.9452883,27.7506363 C35.6288482,27.3840631 34.7139986,27.202165 34.2375,26.9994389 C34.215305,27.0001331 30.9144944,25.8629229 30.3311825,25.7629484 C28.8136003,25.5019038 27.7232716,24.7638975 26.0038538,24.2383369 C24.8843942,23.8960631 24.0562437,23.7183306 23.2551435,23.5635089 C22.5053691,23.4170185 21.7770961,23.2899675 20.8566978,23.0594707 C19.9598816,22.8359166 17.1258593,22.465872 14.9805752,22.3395153 C12.3893106,22.1874707 10.2190571,22.3006363 7.62085655,23.119872 C5.0323663,23.9342478 3.98642758,24.2709675 2.19765042,25.1381076 L2.53334958,23.3246809 C2.58744986,23.0691904 2.65195404,22.8213369 2.70952228,22.5686236 C2.95089276,22.5346045 3.19295682,22.4853115 3.43224652,22.3811713 C5.13363092,21.6396936 4.67239136,20.4462478 6.53468942,20.3129484 C6.64288997,20.2879548 6.7545585,20.2622669 6.86345265,20.2372732 C6.88842201,20.2379675 8.2790766,20.0123306 9.38535794,19.8304325 C11.2171379,19.5298146 12.5044471,19.2222541 14.2592382,19.3194516 C14.8522604,19.3513879 15.4556866,19.3742987 16.01611,19.445114 C17.368617,19.6186809 17.1314081,19.6533943 18.572695,19.6783879 C19.7081072,19.6964389 20.4308315,20.1997828 21.6099401,20.1699293 C25.9976114,20.9037701 29.6805919,22.4589293 34.1757702,23.0691904 C34.2714861,23.0802987 39.0988955,24.7611204 39.9367563,24.9853688 C42.874124,25.7698911 46.3205891,26.8196236 49.5298454,27.194528 C49.5402493,28.0005726 49.504876,28.8093943 49.4389847,29.6175217 L49.4389847,29.6175217 Z M49.366851,30.4784134 C49.1601602,31.4260885 48.9000627,32.3591841 48.597656,33.2763115 C47.7251156,33.4408529 46.9635501,33.5255535 45.4972939,33.9761331 C44.8002326,34.2517573 42.0085195,34.6544325 38.7666643,35.4667255 C37.7415334,35.7242987 36.626929,35.8166363 35.5442298,36.0749038 C31.1357507,37.1260248 26.6967535,38.2500439 25.4004276,38.2271331 C23.857876,38.6922924 22.9575919,38.4069484 21.686929,38.5541331 C21.642539,38.5527446 19.6852187,39.0408146 18.0920348,39.142872 C16.5973412,39.2372924 15.4647033,38.9443115 15.2476086,38.9824962 C12.6105669,39.4323815 9.54557799,39.2088274 6.28083426,39.3088019 C5.71208774,38.470821 5.19119916,37.598821 4.7209429,36.6983561 C6.4840571,36.4213433 8.4871546,36.2609675 10.9854777,36.2831841 C13.012851,36.2998465 15.3273719,36.4449484 16.5467089,36.4539739 C17.4462994,36.4609166 18.4693496,36.3241459 19.2336894,36.4886873 C21.6938649,36.1755726 23.058163,36.3942669 25.9601574,35.7735917 C28.9384471,35.1397255 29.7097228,34.8870121 32.8392159,34.4329611 C36.1538983,33.9518338 41.3884471,33.0597 41.5035836,32.6903497 C41.6117841,32.6653561 41.7213719,32.6403624 41.8330404,32.6146745 C42.1278175,32.3869548 44.6559652,32.6861841 44.7419708,31.6822732 C44.0227145,30.9845344 41.8989318,31.920407 40.3730265,32.1613178 C39.4956309,32.3626554 38.6182354,32.563993 37.742227,32.7653306 C36.1816421,32.8937701 33.1645111,33.7157828 31.0719401,33.8900439 C29.9469318,33.9837701 28.9183329,34.3649229 27.8002604,34.6218019 C26.0558733,34.754407 25.2298036,35.218872 23.4958203,35.436872 C21.1702019,35.7291586 17.9470738,35.7527637 16.5272883,35.6527892 C15.0145613,35.545872 13.0482242,35.4743624 11.1554081,35.5125471 C8.92550557,35.5569803 6.68589276,35.8485726 4.45599025,36.1943178 C4.25276741,35.7812287 4.06133565,35.3618911 3.8803078,34.9383879 C4.65088997,34.8092541 5.33061142,34.6926172 5.7273468,34.606528 C6.07899861,34.5301586 6.45423259,34.427407 6.81073955,34.346872 C7.19360306,34.2260694 8.64737465,34.1719166 10.0532883,34.1927446 C12.7395752,34.2316236 13.9263134,34.6801204 16.8442604,34.5898656 C19.5582911,34.5058592 22.9562047,33.1923051 16.3719234,34.089993 C15.5930181,34.3246554 9.72452507,33.1687 8.03077019,33.5394389 C7.2102493,33.4693178 6.33077298,33.4686236 5.30425487,33.6421904 C5.19536072,33.6671841 5.08507939,33.692872 4.97549164,33.7178656 C4.40605153,33.8553306 3.9427312,33.9178146 3.49258914,33.9671076 C3.28728552,33.4214134 3.1020961,32.8680822 2.93702089,32.3064197 C3.23249164,32.2585153 3.53351114,32.2140822 3.85533844,32.1800631 C6.71849164,31.8773624 7.48560585,32.4772096 9.61008217,32.6403624 C11.3066114,32.7722732 13.9055056,32.5153943 14.9181518,32.4910949 C16.1749429,32.4619357 17.1938315,32.7271459 17.476124,32.6861841 C19.398071,32.4799866 20.9947228,32.8215662 22.8584081,32.6820185 C24.652734,32.5473306 26.8479568,32.2015854 28.0097256,32.0974452 C29.3116003,31.980114 30.7168203,31.2039229 32.0193886,31.2879293 C32.5139206,31.3198656 33.0091462,31.3823497 33.5064526,31.3073688 C33.9857256,31.2344707 34.6779318,31.3101459 35.1447201,30.9768975 C35.2411295,30.908165 35.3104889,30.8248529 35.2876003,30.6984962 C33.6743022,30.2104261 31.1586393,30.7720885 28.7303691,31.2316936 C27.5269847,31.4601076 25.4323329,31.6100694 23.6588148,31.7280949 C20.5071267,31.9349866 20.2324638,32.0120503 17.1314081,31.7350376 C16.4620905,31.6746363 14.1649095,31.7947446 12.4676866,31.7301777 C11.5063663,31.6933815 10.3605501,31.6204834 9.24109053,31.5274516 C6.46186212,31.2941777 4.37483983,31.227528 2.67622981,31.3538847 C2.66721309,31.3198656 2.6561156,31.2858465 2.64779248,31.2518274 C2.5520766,30.869286 2.46676462,30.4839675 2.39116295,30.0965662 C2.56802925,30.0590758 2.73795961,30.0229739 2.88985655,29.9882605 C4.12514624,29.5133815 7.28238301,29.0405854 9.65794011,29.0975153 C12.1257451,29.1558338 16.6979123,30.204872 19.0700014,30.1895981 C19.7490292,30.1847382 23.3571017,30.0195025 23.48611,29.9917318 C23.9043468,29.9945089 27.2509345,29.8619038 27.3743942,29.8716236 C32.4119624,30.2458338 31.246032,29.0273943 28.7386922,28.0443115 C26.1800265,27.0397064 23.7788064,26.8057382 21.1112465,26.0677318 C19.7386253,25.6893561 17.3713914,25.6622796 15.5625,25.4206745 C14.7509958,25.3116745 13.8063217,25.2880694 12.8789875,25.2623815 C10.7822549,25.2033688 8.66610167,25.2450248 7.19776462,25.5824389 C6.64913231,25.7081013 6.1005,25.8337637 5.55186769,25.9594261 C4.08699861,26.421114 2.54652786,26.8467 2.12967827,27.7957637 C2.27741365,28.0630567 2.45081198,27.7589675 3.13400139,27.4298847 C6.18095682,25.9615089 12.4454916,25.834458 14.9354916,26.5023433 C16.410071,26.8973815 18.3264694,26.5981522 20.5300153,27.1008019 C23.0408231,27.6714898 26.3499568,28.5851459 26.3471825,28.8107828 C24.987046,29.037114 23.6615891,28.9336682 22.3354387,28.886458 C21.2180599,28.8482732 20.8781992,29.1648592 19.7788538,29.0954325 C18.055968,28.9857382 9.34027437,28.1074898 8.39074513,28.2032987 C6.40429387,28.403942 3.92816574,28.8843752 2.34677298,29.1815217 C2.31556128,29.1877701 2.27325209,29.1974898 2.23857242,29.2044325 C2.09846657,28.3164643 1.99928273,27.4194707 1.94240808,26.5162287 L1.98333008,26.2982287 C2.60687047,25.8872223 3.12151671,25.5553624 3.38716295,25.4060949 C3.49744429,25.380407 3.60772563,25.3554134 3.71661978,25.3304197 C5.70515181,24.6479548 7.5015585,23.7467955 9.61216295,23.3698083 C12.7589958,22.8074516 16.246383,23.0164261 19.2010905,23.6829229 C20.107617,23.8884261 21.3068398,24.2848529 21.8374387,24.3758019 C24.378071,24.8152732 26.5989568,25.6254834 28.8892019,26.3523815 C29.8082131,26.6439739 30.6467674,26.6939611 31.3486838,26.9334834 C33.5654081,27.6916236 35.6857228,28.2907764 37.6187674,29.1912414 C38.2520181,29.4869994 38.9893078,29.6605662 39.8909791,29.641821 C41.9724526,29.5598975 46.1194471,30.3013752 49.366851,30.4763306 L49.366851,30.4784134 Z M47.5732187,35.9027255 C47.2770543,35.942993 47.044007,35.9700694 46.3559624,36.0568529 C45.5513942,36.1589102 44.1094136,36.3297 41.2961992,37.1898975 C38.9345139,37.9119357 36.9119958,38.4722096 36.0547145,38.8151777 C35.3694443,39.0887191 32.925915,39.4150248 30.7376281,39.905872 C28.9807563,40.3002159 27.4749652,40.8653497 26.4935306,41.1111204 C25.8054861,41.283993 24.901734,41.4971331 23.6761546,41.7790057 C23.23711,41.8796745 22.7987591,41.9803433 22.3604081,42.0810121 C19.2489485,42.9113561 23.0602437,42.454528 23.114344,42.4323115 C24.4099763,42.4718847 25.5738259,42.0740694 26.8791685,41.8720376 C28.1914471,41.6665344 29.6472994,41.6554261 30.7743886,41.2006809 C30.8825891,41.1756873 30.9921769,41.1506936 31.1031518,41.1250057 C32.635993,40.7730121 34.1716086,40.4203242 35.7051435,40.0683306 C35.9236253,40.0183433 36.144188,39.9676618 36.3633635,39.9169803 C38.3241518,39.2477064 40.1302688,38.6423051 41.9447089,38.0931395 C44.4249986,37.3433306 45.7130014,37.1128338 47.0960265,36.905942 C46.7166309,37.6633879 46.3101852,38.4076427 45.858656,39.124821 C44.2821184,39.4733433 42.7693914,39.9891841 41.3086838,40.489751 L35.7176281,41.6540376 C35.4838872,41.701942 35.252227,41.7519293 35.0226476,41.7984452 C34.382461,41.9317446 30.3048259,42.8578975 29.9614972,43.0335471 C29.654929,43.0974197 29.3462799,43.1612924 29.0369373,43.2258592 C28.2719039,43.5889611 27.5020153,43.702821 26.7765167,43.9402605 C26.5857786,43.9798338 26.3901852,44.0242669 26.187656,44.0728656 C25.087617,44.1721459 22.8632632,43.7222605 21.7639178,44.2138019 C20.6194889,44.4387446 19.4105557,44.6852096 18.074695,45.0420631 C16.5744526,45.3551777 14.3944889,45.4273815 12.6618928,45.7071713 C12.2672382,45.4579293 11.8795195,45.1968847 11.4938816,44.9337573 C11.3967786,44.8546108 11.3052242,44.7699102 11.2088148,44.6900694 C11.3433719,44.5991204 11.3246448,44.533165 11.0118343,44.5213624 C10.4389262,44.0360694 9.88058357,43.5320312 9.34929109,43.0023051 C9.39021309,43.0009166 9.43460306,42.9981395 9.47483148,42.9974452 C12.0182382,42.9412096 13.8819234,43.0557637 16.376085,42.7544516 C17.5877925,42.6072669 18.3639234,43.0745089 20.3399708,42.2809611 C16.2415279,41.8970312 12.5751936,42.620458 8.70771727,42.3309484 C8.20347493,41.7921968 7.71310446,41.2409484 7.25533287,40.6647064 C7.18389276,40.5723688 7.11800139,40.4758656 7.04794847,40.3828338 C9.54557799,40.2363433 11.9884136,40.1217892 14.8168872,40.0724962 C17.2056226,40.0315344 17.7043162,39.6510758 20.8310348,39.9329484 C22.4665279,40.0808274 24.8171156,39.4379357 26.5420822,39.0623369 C30.5378733,38.1917255 34.7590822,37.2190567 39.0087284,36.189458 C42.064007,35.4493688 45.1761602,34.9029803 48.2272772,34.3121586 C48.0254415,34.8502159 47.8076532,35.379942 47.5732187,35.9027255 L47.5732187,35.9027255 Z M44.0483774,41.6464006 C43.7418092,42.0324134 43.3998677,42.394821 43.0717981,42.7662541 C41.7650682,43.118942 40.2634387,43.5084261 38.6293329,43.8673624 C33.7929067,44.9316745 27.7114805,46.9061713 22.9215251,48.3009548 C22.0163858,48.5640822 21.1320543,48.6536427 20.3226309,48.7938847 C19.2836281,48.5633879 18.2591908,48.2627701 17.2527869,47.9059166 C18.2501741,47.6511204 18.9077006,47.4803306 18.947929,47.4636682 C19.9078621,47.0582159 24.9974499,46.8575726 25.9525279,46.4396236 C26.4096058,46.2389803 27.1968343,46.012649 27.4992409,45.7279994 C26.4942242,45.7516045 20.3205501,46.4861395 18.9999485,46.881872 C18.7245919,46.9589357 17.777837,47.0908465 16.595954,47.5046299 C16.5931797,47.5053242 16.4981574,47.5247637 16.3289206,47.5601713 C15.5021574,47.2290057 14.692734,46.8506299 13.9034248,46.4257382 C16.4683329,46.0001522 18.9215724,45.7446618 20.2726922,45.2038274 C22.3180989,44.8941841 24.2296421,45.1934134 25.9400432,44.6504962 C27.4617869,44.3158592 28.9016866,44.2144962 30.424124,43.822235 C30.9450125,43.6882414 31.4513357,43.5264771 31.914656,43.3327764 L32.1816894,43.3175025 C33.5168565,42.3205344 36.1296226,42.5697764 37.9433691,41.987286 C38.9483858,41.7790057 39.9166421,41.3964643 40.9209652,41.1874898 C41.313539,41.2006809 41.8101518,41.0090631 42.2783273,40.8722924 C43.3388315,40.8028656 44.2488259,40.5230758 45.1227535,40.2189866 C44.7801184,40.7056682 44.4249986,41.1840185 44.0483774,41.6464006 L44.0483774,41.6464006 Z M37.9676448,46.4097701 C36.8474916,46.7874516 35.7037563,47.2373369 34.5350515,47.5393433 C31.9104944,48.2183369 28.9738203,48.4425854 26.7799847,48.8535917 C25.9268649,49.0132732 25.1826393,49.1937828 24.5389847,49.3722096 C23.9848036,49.339579 23.4313162,49.2986172 22.8812967,49.2368274 C22.6961072,49.2139166 22.5116114,49.181286 22.326422,49.1542096 C24.0056114,48.7355662 25.6841072,48.3190057 27.3452632,47.8621777 C28.3149067,47.5969675 29.2491769,47.1540248 30.2084164,46.8804834 C33.3066978,45.999458 36.5762967,45.0941331 39.8084415,44.1693688 C40.4347563,43.9902478 41.2337758,43.8104325 42.1229624,43.6313115 C40.8183134,44.6921522 39.4269652,45.623165 37.9676448,46.4097701 L37.9676448,46.4097701 Z M33.1679791,48.4231459 C31.0844248,49.0715917 28.9197201,49.3756809 26.7515474,49.420114 C27.3632967,49.2861204 27.243305,49.4353879 28.4501574,49.0368783 C28.7941797,48.9230185 30.725837,48.9216299 33.1700599,48.4224516 C33.1693663,48.4224516 33.1686727,48.4231459 33.1679791,48.4231459 L33.1679791,48.4231459 Z M3.4960571,19.343751 L4.89988997,18.8709548 C5.16276184,18.8848401 6.21910446,18.3190121 7.45647493,18.0586618 C8.77777019,17.7809548 10.2683022,17.630993 10.9466365,17.4928338 C11.9398621,17.2901076 13.5337396,17.0512796 14.7516894,17.3477318 C15.0443858,17.4192414 17.2472382,17.6268274 19.074163,17.7316618 L23.0630181,18.3821904 C25.2409011,18.5078529 26.1488148,18.4710567 28.3932827,18.8674834 C33.5903774,19.7832223 33.9420292,20.0880057 38.3650738,21.3376873 C40.4944053,21.9389229 42.3032967,22.4415726 42.6223496,22.3777 C44.1503357,22.349235 46.7963942,22.8970121 49.2038565,23.2684452 C49.2482465,23.5787828 49.2905557,23.8898146 49.3238482,24.2015408 C49.4237256,24.983286 49.4771323,25.7761395 49.5062632,26.5724643 C47.4684861,26.371821 44.1995808,25.8740312 43.2299373,25.5581395 C42.9400153,25.3935981 40.6490766,24.6805854 39.2868593,24.2480567 C36.705305,23.4274325 34.345007,22.5832032 33.7332577,22.5623752 C33.1763022,22.5186363 32.0200822,22.0666682 31.3778148,21.9514197 C30.0981351,21.7216172 29.0417925,21.653579 27.9785139,21.1724516 C25.6771713,20.7135408 23.2530627,19.9713688 20.9780766,19.483993 C20.1693468,19.3111204 19.0651462,19.2583561 18.0740014,19.1715726 C17.1334889,19.0889548 15.9862855,19.0132796 14.9347981,18.8674834 C13.5455306,18.6737828 11.1949429,18.7168274 9.52268942,19.2312796 C9.19670056,19.3326427 8.26451114,19.5069038 7.44052228,19.6152096 C3.60703203,20.1164707 5.19258635,20.5149803 2.8843078,21.822286 C3.08267549,20.9947191 3.28589833,20.1678465 3.4960571,19.343751 L3.4960571,19.343751 Z M3.68540808,18.5988019 C3.78875348,18.175993 3.88793733,17.7448529 3.99336351,17.3123242 C5.51649443,17.194993 7.65900418,17.0012924 8.05920752,16.9158975 C9.54627159,16.6000057 11.2247674,15.746751 11.7928203,15.5079229 C15.7976281,14.8400376 19.1504582,14.7199293 22.3368259,15.0066618 C22.4124276,15.0281841 25.2221741,15.2100822 25.7222549,15.2593752 C27.80789,15.4655726 31.6732855,15.6724643 32.4605139,15.700235 C37.4439819,15.8710248 41.7130487,17.4921395 46.5695891,18.0524134 C47.0245864,18.1044834 47.4892939,18.1537764 47.9574694,18.2023752 C48.3389457,19.2875153 48.6503691,20.3955662 48.8903524,21.5216682 C46.5994136,21.2182732 44.3258148,20.921821 41.9828565,20.6760503 C41.0721685,20.5802414 38.0057925,19.6193752 36.9459819,19.3375025 C34.6342354,18.720993 33.6715279,18.4259293 31.438851,18.0864325 C29.5259206,17.7955344 27.4597061,17.6844516 25.3921045,17.5754516 C23.3522465,17.4692287 21.3415195,17.5199102 19.4195724,17.1047382 C18.5532744,16.9179803 16.8629875,17.2151268 15.8461797,16.9332541 C15.7428343,16.9047892 12.719461,16.808286 12.288046,16.9158975 C11.6811518,17.0658592 10.1490042,17.1095981 8.96087883,17.3998019 C8.92966713,17.4081331 5.14056685,18.1662732 4.59887047,18.5252096 C4.27634958,18.5960248 3.95521588,18.6883624 3.63824373,18.7848656 C3.65350279,18.7223815 3.66945543,18.661286 3.68540808,18.5988019 L3.68540808,18.5988019 Z M4.66337465,15.0483178 C5.48597632,14.9622287 6.39874513,14.8164325 7.36838858,14.6123178 C10.8703412,13.8743115 14.2793524,13.5112096 14.4596866,13.4341459 C18.9541713,13.2807127 17.1327953,12.3323433 21.2582883,12.5725599 C22.4325418,12.6412924 23.1573468,12.3080439 24.8601184,12.2580567 C27.2148677,12.1893242 31.4034777,13.470942 34.958837,13.5868847 C36.188578,13.626458 42.2783273,14.3540503 43.220227,14.7178465 C43.3506226,14.8504516 45.2850543,15.1274643 46.7686504,15.3412987 C47.0544109,15.9321204 47.3172827,16.5326618 47.5600404,17.1408401 C46.8671407,17.0297573 46.2456811,16.906872 45.8121852,16.7673242 C44.7919095,16.4417127 37.4855975,15.5238911 33.8719763,15.1816172 C31.5699401,14.9636172 30.8867507,14.5651076 28.0728426,14.4776299 C27.0151128,14.5845471 26.1543635,14.459579 25.2977758,14.3269739 C25.1007953,14.3089229 21.6286671,14.1186936 21.4878677,14.1513242 C19.6304248,14.4290312 18.1440543,14.2721268 16.5529513,14.2429675 C14.9667033,14.213114 13.4546699,14.7483943 11.9065696,14.9684771 C9.73423538,15.2760376 9.49078412,15.7897955 7.14713231,16.3278529 C6.14835794,16.5090567 5.20645822,16.4854516 4.35056407,16.5500185 C4.30062535,16.5534898 4.23750836,16.5597382 4.18410167,16.5639038 C4.32143315,16.0522287 4.47402368,15.5440248 4.66337465,15.0483178 L4.66337465,15.0483178 Z M6.5985,11.8171968 C6.86483983,11.4652032 7.17002089,11.1472287 7.4911546,10.844528 C7.57507939,10.8014834 7.65761699,10.7619102 7.74431616,10.7140057 C8.72089554,10.1724771 12.634149,9.50875732 14.0109318,9.19286561 C14.6691518,9.04151529 15.6637646,8.92973822 16.3233719,8.7783879 C17.9533162,8.42639427 19.230915,7.49399299 21.0349513,7.34333694 C21.2721602,7.32389745 22.4540432,7.03577643 23.5887618,6.83235605 C25.2367396,6.53590382 27.9230265,5.99715223 30.5600682,5.14459172 C31.7079652,4.77454713 32.8614109,4.48017771 33.947578,4.22329873 C34.1133468,4.28439427 34.2811964,4.34201847 34.4469652,4.40658535 C35.809876,4.89743248 37.1339457,5.49450255 38.4323524,6.17210764 C38.2714387,6.1880758 38.1160738,6.20057261 37.9489178,6.22140064 C37.2844554,6.30540701 36.5332939,6.3845535 35.8209735,6.45050892 C34.6252187,6.56089745 33.5397451,6.6303242 33.1707535,6.60116497 C32.1012326,6.51577006 30.3769596,6.71849618 28.5299206,7.04688471 C26.8521184,7.34611401 25.0335167,7.57452803 23.5415975,7.95568089 C22.244578,8.28615223 21.1660404,8.60412675 20.564695,8.82490382 C20.6624916,8.93112675 21.0141435,8.79435605 21.5738733,8.78185924 C22.0073691,8.77213949 22.5199345,8.5624707 23.1157312,8.50554076 C24.0486142,8.41806306 25.0924721,8.11536242 26.1037312,7.98136879 C27.8821045,7.7460121 29.5238398,7.67936242 29.903929,7.64881465 C31.8439095,7.49538153 33.8747507,7.89458535 35.8473301,8.03343885 C36.4223189,8.1542414 39.7078705,8.7249293 40.5679262,9.07553439 C41.8240237,9.58790382 42.4038677,9.56499299 43.0558454,9.56777006 C44.2973774,11.0708592 45.3766086,12.6794771 46.2761992,14.3700185 C46.0320543,14.3318338 45.795539,14.2915662 45.5472326,14.2547701 C42.9414025,13.8694516 43.0932994,13.5424516 39.9291267,13.1092287 C38.2090153,12.8724834 36.1545919,12.7870885 33.9968231,12.7815344 C31.7343217,12.7766745 30.8423607,12.0601904 28.4931602,11.755407 C26.6156031,11.5131076 23.2280933,11.6623752 21.6758315,11.677649 C19.0720822,11.9407764 16.7062354,12.3552541 13.7057507,13.0807637 C12.2852716,13.6660312 10.9119568,13.0050885 9.68776462,13.2432223 C9.12734123,13.3529166 8.18752228,13.6410376 7.35867827,13.7305981 C5.5303663,13.9270758 5.34170891,13.5584197 7.09858078,12.9217764 C8.96573398,12.2448656 12.1777646,11.9331395 13.8631964,11.238872 C16.8629875,10.5126682 18.4665752,10.8153688 21.0703245,10.5529357 C21.7451908,10.545993 22.6947201,10.3307701 23.7822744,10.268286 C24.8080989,10.2099675 25.9712549,10.3502096 27.0248231,10.3154962 C28.1456699,10.2787 29.1548482,10.0662541 29.8928315,9.99543885 C31.2064972,9.86908217 32.7240794,10.7521904 34.0911518,11.0146236 C35.8001657,11.3430121 37.3496532,11.0951586 38.8297813,11.1881904 C40.8654777,11.3166299 42.8782855,12.1865471 44.3278955,11.6873688 C43.0329568,11.459649 41.6714331,10.9327 40.3716393,10.8014834 C38.5627479,10.6195854 36.7753579,10.7938465 34.7993106,10.4418529 C33.4953552,10.2092732 32.0311797,9.35393567 30.6904638,9.41017134 C30.1362827,9.43377643 29.5349373,9.29075732 28.9634164,9.33310764 C28.1997702,9.38795478 27.1982214,9.51917134 26.4075251,9.58512675 C25.7278036,9.64275096 25.1805585,9.51222866 24.4737869,9.58096115 C23.7566114,9.6503879 23.0214025,9.74966815 22.2757897,9.80590382 C20.9725279,9.90310127 20.0334025,9.91212675 18.8674721,9.99891019 C16.9954638,10.1370694 14.8897145,10.3925599 12.4274582,10.9160376 C9.63366435,11.508942 7.50918802,12.0782414 6.08316017,12.4781395 C5.81335237,12.8704006 5.55672284,13.2730758 5.31049721,13.6819994 C5.6746337,13.0168911 6.08593454,12.3795535 6.5985,11.8171968 L6.5985,11.8171968 Z M8.37063092,10.0655599 C8.75210724,9.7100949 9.1717312,9.40045159 9.59343593,9.09705669 C11.1928621,8.59162994 12.6535696,7.94179554 14.5082382,7.67866815 C14.8064833,7.63631783 16.2422214,6.93302484 17.6779596,6.74904395 C18.078163,6.69627962 19.0283858,6.06033057 20.2414805,5.69584013 C21.1549429,5.42091019 22.2272382,5.32579554 23.203124,5.09391019 C24.7304164,4.73080828 26.0773747,4.27745159 26.6058928,4.18233694 C27.3417953,4.02959809 28.1741072,3.50750892 29.0736978,2.89933057 C29.3851212,2.95626051 29.6951574,3.01805032 30.0038064,3.08400573 C28.7948733,3.71162357 29.4884666,3.64289108 30.4879345,3.19508854 C31.3001323,3.38254076 32.1012326,3.60331783 32.8926226,3.85811401 C32.4632883,3.96225414 31.9874833,4.0934707 31.4894833,4.27189745 C28.7255139,5.26331146 27.1670097,5.74166178 25.3719903,6.04227962 C24.6548148,6.1623879 23.8745223,6.13531146 23.0179345,6.37552803 C22.2910487,6.57755987 21.4927228,6.62129873 21.0786476,6.71710764 C20.6708148,6.81013949 20.2331574,6.92122229 19.7975808,7.03161083 C18.9548649,7.24475096 18.1246337,7.64881465 17.4039903,7.80502484 C15.9197006,8.12508217 14.3521797,8.67910764 13.6051797,8.8082414 C10.497188,9.34699299 11.1644248,9.28242611 8.34358078,10.089165 C8.35259749,10.0808338 8.36092061,10.0731968 8.37063092,10.0655599 L8.37063092,10.0655599 Z M12.3310487,7.18296115 C13.6918788,6.31234968 15.1296978,5.60072548 16.5765334,4.91548344 C17.383876,4.5253051 18.216188,4.18580828 19.0589039,3.86297389 C19.505578,3.72689745 19.9224276,3.57485287 20.3129206,3.41517134 C21.1785251,3.35893567 23.8675864,2.54455987 24.2650153,2.51678917 C24.879539,2.47305032 25.1590571,2.48346433 25.5710515,2.43208854 C26.2570153,2.49110127 26.938124,2.57024777 27.6143774,2.66466815 C26.7557089,3.19022866 25.9338008,3.6574707 25.3338426,3.86089108 C23.4590599,4.49614586 20.6604109,4.86619045 20.6680404,4.83147707 C20.5307089,4.86688471 20.3926838,4.90298662 20.252578,4.93908854 C19.3675529,5.24595478 18.1697173,5.79859172 16.9545418,6.16377643 C16.038305,6.4380121 15.1116643,6.9017828 14.5914694,7.03716497 C14.0802911,7.16977006 13.5323524,7.32250892 12.9823329,7.47594204 C12.3532437,7.65228599 11.7192994,7.83279554 11.1151797,7.99803121 C11.518851,7.72240701 11.9287646,7.45580828 12.3310487,7.18296115 L12.3310487,7.18296115 Z M40.1261072,7.10936879 C40.6962409,7.4447 41.2615195,7.79252803 41.8226365,8.15910127 C42.019617,8.36946433 42.2096616,8.58468726 42.4003997,8.79921592 C42.3671072,8.79157898 42.3247981,8.78671911 42.2949735,8.7783879 C40.9459345,8.40973185 40.150383,7.9640121 39.6579318,7.86264904 C37.043085,7.32112038 38.511422,7.30306943 40.1261072,7.10936879 L40.1261072,7.10936879 Z M51.1965501,23.0310057 C51.2742326,21.6133115 51.2624415,20.2685153 50.9662772,19.5742478 C50.5632994,18.6272669 50.1180125,18.1884898 49.8565279,17.1547255 C49.6810487,16.4625408 49.7476337,15.7210631 49.5222159,15.053872 C49.285007,14.350579 49.0970432,14.3887637 48.7925557,13.8757 C48.2113245,13.4410885 47.8853357,12.8585981 47.8138955,12.1289229 C47.72789,11.8887064 47.6349485,11.6519611 47.5343774,11.4186873 C47.263876,11.0882159 46.728422,10.4960057 46.1569011,9.98571911 C46.1360933,9.79965541 46.0459262,9.61845159 45.8496393,9.48723503 C45.1768538,9.03734968 44.7579234,8.32364268 44.0067618,7.96887197 C43.8201852,7.88139427 42.6507869,7.2267 41.5618454,6.66364904 C40.8765752,5.98951529 40.0574415,5.2369293 39.9471602,5.02170637 C39.2223552,3.59568089 38.0827813,3.04582102 36.5485529,2.77227962 C35.0226476,2.49943248 34.9872744,2.09050892 33.7159178,1.38305032 C33.6160404,1.32681465 33.575812,1.17546433 33.4551267,1.12200573 C32.9397869,0.892897452 32.6588816,0.963712739 32.1490905,1.01925414 C31.4756114,1.09215223 30.8534582,1.29765541 30.1945446,1.31917771 C29.9587228,1.2893242 29.7229011,1.28446433 29.4863858,1.26224777 L29.4849986,1.26224777 C28.8753301,1.13311401 28.9481574,0.979680892 28.3156003,0.717247771 C26.9076058,0.131980255 26.0198064,1.11575732 24.7019791,1.32334331 C22.9783997,1.07757261 21.207656,1.13033694 19.4702047,1.43581465 C18.0573552,1.05257898 16.9108454,1.44553439 15.6970571,2.29323503 C14.4263942,3.18050892 14.1115028,2.91599299 12.7132187,3.31519682 C12.6029373,3.34713312 12.4676866,3.26798662 12.344227,3.31519682 C11.8177897,3.5186172 11.6693607,3.76716497 11.348227,4.16706306 C10.7746253,4.88077006 10.4423942,5.69931146 9.63643872,6.22487197 C9.11277577,6.56506306 9.05659471,6.40468726 8.4240376,6.66642611 C6.92518245,7.28710127 7.11037187,8.74992293 6.14697075,9.86075096 C5.96178134,10.0731968 5.15721309,11.934528 4.71123259,13.2098975 C4.65297075,13.302235 4.59054735,13.390407 4.53159192,13.4827446 C3.57512674,14.9025217 2.51254178,16.3306299 1.79675348,17.9538274 C1.72808774,18.1211459 1.67606825,18.2947127 1.61364485,18.4648083 C1.22037744,18.8681777 0.8610961,19.2500248 0.770235376,19.504821 C0.694633705,19.7172669 0.689084958,20.0963369 0.588513928,20.2914261 C0.446327298,20.5677446 0.528864903,20.3073943 0.291655989,20.5594134 C-0.138371866,21.0162414 0.24795961,22.7394134 0.684923398,24.2730503 C0.711973538,25.0541013 0.806995822,25.8282096 0.955424791,26.5919038 C0.907566852,27.7311968 0.954037604,28.8732669 1.07056128,30.0146427 C0.882597493,30.9560694 0.585045961,31.9939994 0.619032033,32.4876236 C0.683536212,33.4214134 1.33967549,33.8365854 1.67121309,34.6648465 C2.00136351,35.4903306 1.74126602,36.3435854 2.08459471,37.1725408 C2.2822688,37.6501968 3.09307939,38.3472414 3.87406546,38.9824962 C4.41922981,39.9801586 5.0115585,40.9528274 5.6954415,41.8650949 C6.64358357,43.118942 7.74570334,44.2401841 8.92134401,45.2739484 C10.1087758,46.6798401 11.4487981,48.1426618 12.3560181,48.5078465 C12.429539,48.5377 12.4975111,48.5613051 12.5675641,48.5862987 C13.0371267,48.9042732 13.5288844,48.9410694 14.0469986,49.0528465 C14.2994666,49.1451841 14.5595641,49.2597382 14.8501797,49.4333051 C15.4633162,49.7984898 15.9398148,50.3705662 16.5702911,50.6822924 C17.2347535,51.0113752 17.3408733,50.8516936 17.9186365,50.9988783 C18.6365056,50.8947382 19.278773,51.075942 19.8447451,51.5417955 C20.0750181,51.6507955 20.3080655,51.7521586 20.5438872,51.846579 C20.7866448,51.8701841 21.5655501,51.8424134 22.5643245,51.776458 C24.7186253,52.074993 26.8999763,52.0257 29.0431797,51.7223051 C30.2666783,51.7681268 31.3805891,51.7264707 31.9916448,51.4661204 C32.6512521,51.1842478 33.0701825,50.8857127 33.6104916,50.639942 C33.8053914,50.5725981 33.9968231,50.4997 34.1910292,50.4274962 C34.2659373,50.4038911 34.3262799,50.3754261 34.4088175,50.3545981 C35.1003301,50.1789484 35.8410877,50.2462924 36.5069373,50.0206554 C37.2095474,49.7825217 37.1713997,49.5943752 37.6846588,49.290286 C38.1188482,48.7084898 38.700773,48.3814898 39.4297396,48.3099803 C39.6690292,48.2245854 39.9062382,48.1315535 40.1392855,48.0301904 C40.4694359,47.7594261 41.8365084,46.2292605 43.1467061,44.6282796 C43.8742855,44.008993 44.5685724,43.3473561 45.2205501,42.6385089 C48.408305,39.1074643 50.3052827,34.5107191 50.7686031,29.8251076 C51.1674192,27.9360057 51.3748036,25.9969166 51.3130738,24.0349166 C51.2978148,23.6975025 51.2284554,23.3670312 51.1965501,23.0310057 L51.1965501,23.0310057 Z" id="Fill-67" fill="#000000" mask="url(#mask-10)"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
