// Non-modular or client styles for .l-footer region.
footer#footer {
  @include flex-grid-row();
  @include wrapper-padding();
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 90px;
  @include breakpoint(large) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 60px;
  }
  &::before{
    content: "";
    width: calc(100% - 130px);
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    background-color: black;
    position: absolute;
    top: -200px;
    max-width: 610px;
    @include breakpoint(large){
      top: 0;
    }
  }
  .region {
width: 100%;
  }
#block-contact{
  display: flex;
  flex-direction: column;
  p,a,.field-item,span{
    font-weight: 300;
    font-size: 17px;
    color: $black;
    letter-spacing: 0.24px;
    line-height: 22px;
    text-align: center;
    @include breakpoint(large){
      text-align: left;
    }
  }
  a {
    transition: 0.3s ease;

    &:hover {
      color: $primary-color;
    }
  }
}
  .paragraph--type--branch {
      @include breakpoint(large){
        align-self: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        display: flex;

        p.street-house,p.postal-place{
          display: flex;
          span:nth-of-type(2){
            margin-left: 5px;
          }
        }
      }
    .base-contact-fields {

    }
    .field-name-field-extra-contact-fields {
      @include breakpoint(large){
        margin-top: -22px;
        margin-left: 90px;
      }
    }
    .base-contact-fields, .field-name-field-extra-contact-fields {

    }
  }

  .block-social {
    .linkicon {
      justify-content: center;
      @include breakpoint(large){
        justify-content: flex-start;
      }


      li:last-of-type{
        a{
          background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fab' data-icon='pinterest-p' class='svg-inline--fa fa-pinterest-p fa-w-12' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z'/%3E%3C/svg%3E");
          width: 14px;
          height: 19px;
          background-size: cover;
          background-repeat: no-repeat;
          margin-top: 5Px;
          &:hover{
            width: 14px;
            height: 19px;
            margin-top: 5Px;
            background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fab' data-icon='pinterest-p' class='svg-inline--fa fa-pinterest-p fa-w-12' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23F0DDCD' d='M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z'/%3E%3C/svg%3E");
          }
          svg{
            display: none;
          }
        }
      }
    }
  }
}

#footer-wrapper{
  @include breakpoint(largemin down){
    padding-top: 200px;
    padding-bottom: 160px;
  }
}


.block-base-footer {
  @include wrapper-padding();
  margin-bottom: -112px;
  @include breakpoint(mediumplus){
    margin-bottom: -60px;
  }
  @include breakpoint(large){
    padding: 0px;
    margin-bottom: 0px;
  }
  ul.menu {
    justify-content: center;
    @include breakpoint(mediumplus) {
     // justify-content: flex-start;
     // flex-direction: column;
    }
    @include breakpoint(xlarge){
      flex-direction: row;
    }
    &>li {

      a, &>span {
        text-transform: lowercase;
        font-size: rem-calc(13);
        display: block;
        line-height: 1;
        font-weight: 300;
        color: $black;
        letter-spacing: 0.18px;
        text-align: center;
        line-height: 22px;
        padding: 0px;
        &:hover, &:focus {
          color: $primary-color;
        }

      }
      a{

        &::after{
          content: "/";
          margin-left: 9px;
          margin-right: 9px;
          font-weight: 300;
          font-size: 16px;
          color: $black;
          letter-spacing: 0.6px;
        }
      }
      &:last-of-type{
        a{


        &::after{
          display: none;
        }
        }
      }
      &>span {
        cursor: pointer;
      }

    }
  }
}

.region-footer_middle {
  text-align: center;
  @include breakpoint(largemin down){

    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .block-sitebranding{
      @include wrapper-padding();
      margin-top: -155px;
    }
  }
  @include breakpoint(large){
    position: relative;
   // margin-top: -40px;
  }
  .block-sitebranding{
    @include breakpoint(large) {
      margin-bottom: 30px;
    }
  }
  .block-base-footer{
    @include breakpoint(large){

    }
  }
}

.block-social{
  margin-top: 60px;
  margin-bottom: 70px;
  @include breakpoint(large){
    margin-top: 35px;
    margin-bottom: 0px;
  }

}

.block-logos{
  .field-name-field-images{
    .field-items{
      @include breakpoint(mediumplus){
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
    .field-item{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 32px;
      @include breakpoint(mediumplus){

        margin-bottom: 0;
        margin-right: 30px;
      }
      &:last-of-type{
        margin-bottom: 0px;
        @include breakpoint(mediumplus){
          margin-right: 0px;
        }
      }
      &:nth-of-type(1){
        img{
          @include breakpoint(mediumplus){
            height: 88px;
            margin-top: auto;
            margin-bottom: auto;
          }
        }
      }
      &:nth-of-type(2){
        display: flex;
        flex-direction: column!important;
        .altpos{
          max-width: 128px;
          font-size: 13px;
          @include breakpoint(medium down){
            text-align: center;
            margin: 0 auto;
          }
        }
        img{
          margin: 0 auto;
          @include breakpoint(mediumplus){
            height: 64px;
            margin-top: auto;
            margin-bottom: auto;
          }
        }
      }
      &:nth-of-type(3){
        img{
          @include breakpoint(mediumplus){
            height: 131px;
            margin-top: auto;
            margin-bottom: auto;
          }
        }
      }
    }
  }
}
.region-footer_last{
  @include breakpoint(large){
    margin-top: -50px;
  }
}


  ul.linkicon{
    li{
      width: 29px;
      height: 29px;
      border: solid 1px black;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-right: 7px;
      &:last-of-type{
        margin-right: 0px;
      }
      a{
        font-size: 18px;
        text-align: center;
        color: black;
        line-height: 29px;
      }
    }
  }

