// Non-modular or client styles for .l-header region.
#header-wrapper {
  header#header {
    max-width: $global-width;
    margin: 0 auto;
  }
}

.region-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 75px;
  padding-bottom: 55px;
  @include breakpoint(mediumplus){
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 55px;
    padding-bottom: 60px;
  }
  @include breakpoint(large) {
    padding-top: 70px;
    padding-bottom: 45px;
    justify-content: space-between;
  }
  @include breakpoint(xlarge){
    padding-right: 0px;
    padding-left: 0px;
  }
  .block-base-main-menu{
    margin-left: 35px;
    @include breakpoint(xlarge){
      margin-left: 18px;
    }
    li{
      margin-right: 35px;
      @include breakpoint(large down){
        margin-right: 21px;
      }
        @include breakpoint(xlarge){
          &:last-of-type{
            margin-right: 0px;
          }
        }
    }
    a{
      @include transition-text();
      font-weight: 600;
      font-size: 17px;
      color: $black;
      letter-spacing: 0.64px;
      text-transform: lowercase;
      padding: 0px!important;
      position: relative;
      background: transparent!important;
      &::after{
        content: "";
        position: absolute;
        background-color: $primary-color;
        width: calc(100% - 6px);
        height: 10px;
        display: block;
        right: 0;
        bottom: -3px;
        transition: 0.3s ease;
        z-index: -1;
        opacity: 0;
      }
      &:hover,&.is-active {
        &::after {
          opacity: 1;
        }
      }
      @include breakpoint(large down){
        font-size: 16px;
      }

    }
  }

  .block-system-branding-block{

    height: 40px;
    @include breakpoint(xlarge){
      height: 44px;
    }
    a{
      display: block;
    }
    svg{

      width: auto;
      height: 40px;
      @include breakpoint(xlarge){
        height: 44px;
      }

    }
  }

}



.block-base-main-menu {
  @include show-for(large);
}
.block-nav-toggle {
  @include hide-for(large);
  position: relative;
  z-index: 13;
}



.block-languageswitcher{
  @include breakpoint(largemin down){
    position: absolute;
    left: 0;
    right: 0;
    top: 18px;
    margin: auto;
  }
  @include breakpoint(mediumplus){
    right: 165px;
    top: 60px;

  }
  ul{
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    @include breakpoint(mediumplus){
      justify-content: flex-end;
    }
    li{
      &::after{
        content: "/";
        margin-left: 9px;
        margin-right: 9px;
        font-weight: 300;
        font-size: 16px;
        color: $black;
        letter-spacing: 0.6px;

      }
      &:last-of-type{
        &::after{
          display: none;
        }
      }
      a{
        @include transition-text();
        font-weight: 300;
        font-size: 16px;
        color: $black;
        letter-spacing: 0.6px;
      }
    }
  }
}



.block-nav-toggle{
  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  transition: 0.3s ease;
  button{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    transition: 0.6s ease;
  }
  .is-active{
    transform: rotate(90deg);
  }
}

.node--type-realisation{
  .region-header{
    .block-base-main-menu{
      li{
        a[data-drupal-link-system-path="node/13"]{
          &:after{
            opacity: 1;
          }
        }
      }
    }
  }
}
