.region-right_off_canvas {
  height: 100%;
  background-image: url('../images/backoffcanvas.jpg');
  background-size: cover;
  background-position-x: -700px;
  background-repeat: no-repeat;
  nav{
    height: 100%;
    background-color: white;
    margin-left: 40%;
    @include breakpoint(mediumplus){
      margin-left: 50%;
    }
    > div {
      height: 100%;
    }
  }
  ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    li{
      margin-bottom: 30px;
      @include breakpoint(mediumplus){
        margin-bottom: 35px;
      }
      &:last-of-type{
        margin-bottom: 0px;
      }
      a{
        font-weight: 600;
        font-size: 19px;
        color: $black;
        letter-spacing: 0.71px;
        text-transform: lowercase;
        line-height: 0px;
        padding-left: 38px;
        @include breakpoint(mediumplus){
          padding-left: 80px;
        }
      }
    }
  }
}

// When logged in and toolbar is visible
.toolbar-horizontal {
  .region-right_off_canvas {
    padding-top: (calc(71.2px + 39px)); // header height + toolbar height
  }
  &.toolbar-tray-open {
    .region-right_off_canvas {
      padding-top: (calc(71.2px + 76px)); // header height + toolbar and tray height
    }
  }
}
