// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

.linkicon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  .linkicon__text {
    display: none;
  }
  a{
    transition: 0.3s ease;
    &:hover{
      color: $primary-color;
    }
  }
}

::-moz-selection {
  color: $white;
  background-color: $primary-color;
}

::selection {
  color: $white;
  background-color: $primary-color;
}

// FORM

.js-form-item {
  margin-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  @include breakpoint(medium){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #F1F1F1;
  }

  input,textarea {
    margin-bottom: 0;
    background-color: #F1F1F1;
    border: solid 0px black;
    &:focus{
      border: solid 0px black;
    }
  }

  .description,label {
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    letter-spacing: 0.24px;
    line-height: 39px;
    min-width: 90px;
    padding-left: 15px;
    text-transform: lowercase;
    &::after{
      display: none;
    }
    @include breakpoint(medium){
      display: flex;
      flex-direction: row;
    }
  }
}

.js-form-type-checkbox {
  display: flex;
  align-items: flex-start;

  input {
    margin-top: 7px;
    display: none;

    &+label {
      display: -webkit-inline-box;
      margin-left: 0px;
      font-weight: 300;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0.21px;
      line-height: 22px;

      &:before {
        content: "";
        width: 18px;
        height: 18px;
        border: 1px solid black;
        display: block;
        margin-right: 10px;
        margin-top: 5px;

      }
    }

    &:checked {
      &+label {
        &:before {
          background: url("icons/checked.svg") no-repeat center center;
        }
      }
    }
  }
}

.user-not-logged-in.path-user {
  .block-system-main-block {
    @include grid-row();
  }
  .user-login-form {
    @include grid-column-gutter();
  }
}

button.eu-cookie-withdraw-tab {
  display: none !important;
}

.block-base-local-tasks {
  @include grid-row();
  @include grid-column-gutter();
}

.block-system-breadcrumb-block {
  @include grid-row();
  @include grid-column-gutter();
}

.field-name-field-text{
  h3{
    font-weight: 600;
    font-size: 42px;
    color: $black;
    letter-spacing: -0.15px;
    line-height: 42px;
    text-transform: lowercase;
    background-image: linear-gradient(180deg, transparent 55%, $primary-color 0);
    display:inline;
  }
  h3 + p{
    margin-top: 25px;
  }
  p {
    font-weight: 300;
    font-size: 17px;
    color: $black;
    letter-spacing: 0.24px;
    line-height: 24px;
  }
  strong{
    font-weight: 500;
    font-size: 20px;
    color: $black;
    letter-spacing: 0.28px;
    line-height: 24px;
    margin-bottom: 25px;
    display: block;
  }
}

.path-frontpage {
  #block-base-content > article > div > div > div > div:nth-child(1) > div > div > div > figure > div > div {
    transform: rotate(205deg);
  }

  #block-base-content > article > div > div > div > div:nth-child(3) > div > div > div > figure > div > div {
    transform: rotate(-155deg);
  }
}

#block-base-content > article > div > div > div > div:nth-child(2) > div > div > div > figure > div > div{
  transform: rotate(-115deg);
}
