// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin wrapper-padding($mobile-padding: true){
  @if $mobile-padding {
    @include grid-column-gutter(130px);
  }
  @include breakpoint(mediumplus){
    @include grid-column-gutter(60px);
  }
  @include breakpoint(xlarge){
    @include grid-column-gutter(0px);
  }
}

@mixin transition-text(){
  transition: 0.3s ease;
  &:hover{
    //color: $primary-color;
  }
}

@mixin link-style(){
  padding: 0px 30px;
  border: 1px solid $body-font-color;
  text-transform: lowercase;
  display: inline-block;
  transition: 0.3s ease;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.24px;
  font-size: rem-calc(17);
  background-color: $white;
  line-height: 34px;
  height: 34px;
  &:hover, &:focus {
    background-color: $primary-color;
    color: $black;
  }
}
