.button, .button.success, .button[disabled].success,
.eu-cookie-compliance-buttons button {
  @include link-style();
}

.burger-icon {
  @include burger(16px, 1px, 5px, $body-font-color);
}

.menu-button {
  cursor: pointer;
  &.is-active .burger-icon {
    @include burger-to-cross;
  }
}
