.block.contact-data.full {
  /* if 1 branch, main contact data and contact data from branch should be in rows */
    &.single-branch {
      display: flex;
      justify-content: center;
    }
  /* end if 1 branch*/
  p {
    margin-bottom: 0;
  }
}

.paragraph--type--branch {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include breakpoint(smallplus){
    text-align: left;
  }

  p {
    margin-bottom: 0;
  }
}

.geolocation-common-map, .geolocation-map-wrapper {
  height: 320px;
  @include breakpoint(mediumplus){
    height: 480px;
  }
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.webform-button--submit{
  margin-top: 15px;
}
.webform-confirmation{
  @include grid-col-gutter;
  @include grid-row;
}
