.faq-overview{
  @include breakpoint(mediumplus){
    margin-bottom: 85px;
  }
  .bef-links{
    width: 100%;
    a{
      @include link-style();
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom: 50px;
      @include breakpoint(mediumplus){
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 55px;
        margin-bottom: 75px;
      }

      li{
        margin-bottom: 15px;
        @include breakpoint(mediumplus){
          margin-bottom: 0;
          margin-right: 15px;
        }
        &:first-of-type{
          display: none;
        }
        &:last-of-type{
          margin-bottom: 0;
          @include breakpoint(mediumplus){
            margin-right: 0px;
          }
        }
        a{

        }
      }
    }
  }
  .bef-exposed-form {
    .form-item{
      background-color: transparent;
    }
    .form-actions {
      display: none;
    }
  }
  .item-list{
    margin-top: 35px;
    @include breakpoint(mediumplus){
      @include flex-grid-size(8 of 12);
      margin: 0 auto;
      margin-top: 65px;
    }
    &:first-of-type{
      margin-top: 0px;
    }
    h3{
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
      background-color: $black;
      letter-spacing: 0.25px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      text-transform: lowercase;
    }
    > ul{
      list-style-type: none;
      margin: 0;

      .accordion{
        margin-bottom: 10px;
      li {
        background-color: $light-gray;
        a {
          font-weight: 600;
          text-transform: lowercase;
          font-size: 19px;
          color: #000000;
          letter-spacing: -0.07px;
          line-height: 25px;
          background-color: $light-gray;
          border: solid 0px white;
          border-bottom: solid 2px black;
          padding-bottom: 8px;
          padding-top: 8px;
          padding-left: 0px;
         // transition: 0.3s ease;
        }
      &.is-active{
        a{
          border-bottom: solid 0px black!important;
        }
        > div {
          border-bottom: solid 2px black;
        }
      }
        > div {
          background-color: $light-gray;
          border: solid 0px white;
          padding: 0px;
         // transition: 0.3s ease;
          margin-top: 8px;
          p {
            font-weight: 300;
            font-size: 17px;
            color: #000000;
            letter-spacing: 0.24px;
            line-height: 24px;
          }
        }
      }
      }
    }
  }
}
