.home.full {
  h1 {
    font-size: rem-calc(12);
    font-weight: 300;
    color: $black;
    letter-spacing: 1.77px;
    text-transform: uppercase;
    margin-bottom: 0px;
    @include breakpoint(medium down){
      margin-bottom: -10px;
    }
  }
  h2 {
    font-size: rem-calc(42);
    margin-bottom: 15px;
    font-weight: 600;
    color: $black;
    letter-spacing: -0.15px;
    background-color: transparent;
    text-transform: lowercase;
    line-height: 42px;
    > span{
      background-image: linear-gradient(180deg, transparent 55%, $primary-color 0);
      span{

      }
    }
  }
}
