#module-teaser{
  position: relative;
  figcaption{
    position: absolute;
    left: 0;
    bottom: 8px;
  }
  figure{
    max-width: 230px;
    margin: 0 auto;
    position: relative;
  }
  h2{
    line-height: 18px;
    margin-bottom: 8px;
    span{
      background-image: none;
      font-weight: 600;
      font-size: 18px;
      color: $white;
      letter-spacing: 0.25px;
      background-color: black;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .field-name-field-label{
    .field-item{
      font-weight: 600;
      font-size: 15px;
      color: $black;
      letter-spacing: 0.21px;
      background-color: $primary-color;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .field-name-field-image{
    .field-item{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      padding-top: 20px;
      padding-right: 20px;
      &::after{
        //content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 60px;
        height: 60px;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='60px' height='60px' viewBox='0 0 60 60' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EOval%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Ccircle id='Oval' stroke='%231C1C1C' cx='30' cy='30' r='29'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
        z-index: -1;
      }
    }
  }
}

#showcase-teaser{
  position: relative;
  figcaption{
    position: absolute;
    left: 0;
    bottom: -40px;
    z-index: 2;
  }
  .field-name-field-label{
    .field-item{
      font-weight: 600;
      font-size: 15px;
      color: $black;
      letter-spacing: 0.21px;
      background-color: $primary-color;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  h2{
    line-height: 18px;
    margin-bottom: 8px;
    span{
      background-image: none;
      font-weight: 600;
      font-size: 18px;
      color: $white;
      letter-spacing: 0.25px;
      background-color: black;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .swiper-button-prev,.swiper-button-next{
    left: -18px;
    margin-top: 0;
  }
  .swiper-button-prev{
    margin-top: -43px;

  }
  .swiper-button-next{
    margin-bottom: -43px;
  }

}

#module-full,#stock-full{
  margin-bottom: 50px;
    @include breakpoint(mediumplus){
      @include flex-grid-size(10 of 12);
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap:nowrap ;
      justify-content: space-between;
      margin-bottom: 120px;
    }
  div.left-wrapper{
    @include breakpoint(medium down){
      max-width: 310px;
      margin: 0 auto;
    }
    @include breakpoint(mediumplus){
     @include flex-grid-column(4 of 10);
      .inner-left{
        @include flex-grid-size(3 of 4);
        @include grid-column-offset(1 of 4)
      }
    }
  }
  div.right-wrapper{
    @include breakpoint(mediumplus){
      @include flex-grid-column(6 of 10);
      .inner-right{
        @include flex-grid-size(5 of 6);
      }
      .dimpdf{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        min-width: 378px;
        max-width: 378px;
      }
    }
  }
  h2{
    line-height: 18px;
    margin-bottom: 8px;
    span{
      background-image: none;
      font-weight: 600;
      font-size: 18px;
      color: $white;
      letter-spacing: 0.25px;
      background-color: black;
      padding-left: 10px;
      padding-right: 10px;
      text-transform: lowercase;
    }
  }
  .body{
    font-weight: 300;
    font-size: 17px;
    color: $black;
    letter-spacing: 0.24px;
    line-height: 24px;
    margin-top: 20px;
    a{
      @include link-style();
      background-color: $light-gray;
    }
    p{
      &:last-of-type{
        margin-bottom: 0px;
      }
    }
  }
  .field-name-field-image,.field-name-field-images{
    @include breakpoint(medium down){
      margin-bottom: 20px;
    }
    .field-item{
      position: relative;
      img{
        z-index: 2;
        position: relative;
      }
      &::before{
        content: '';
        display: block;
        width: 135px;
        height: 240px;
        position: absolute;
        background-color: white;
        top: -35px;
        left: -25px;
        @include breakpoint(medium down){
        left: 0;
        }
      }
    }
  }
  .field-name-field-label,{
    margin-bottom: 8px;
    @include breakpoint(mediumplus){
      margin-bottom: 0px;
    }
    .field-item{
      font-weight: 600;
      font-size: 15px;
      color: $black;
      letter-spacing: 0.21px;
      background-color: $primary-color;
      display: inline-block;
      padding-left: 10px;
      text-transform: lowercase;
      padding-right: 10px;
    }
  }
  .field-name-field-pdf{
    a{
      font-weight: 600;
      font-size: 15px;
      color: $black;
      text-decoration: underline;
      letter-spacing: 0.21px;

      &::before{
        content: "";
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='21px' height='28px' viewBox='0 0 21 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 11%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='3.20610687e-05 0.0476717013 20.9747573 0.0476717013 20.9747573 26.7426451 3.20610687e-05 26.7426451'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-8'%3E%3Cpath d='M5.19484962,17.2301641 C5.19484962,16.7867785 4.89796412,16.5224525 4.37413969,16.5224525 C4.16023893,16.5224525 4.01537634,16.5442674 3.93960534,16.5651964 L3.93960534,17.9876513 C4.0293229,18.0085804 4.13961298,18.0155567 4.29163588,18.0155567 C4.84997939,18.0155567 5.19484962,17.7232146 5.19484962,17.2301641' id='Fill-1' fill='%23000000'%3E%3C/path%3E%3Cpath d='M8.43756489,16.5373077 C8.20298473,16.5373077 8.05138931,16.5582921 7.96172519,16.5800516 L7.96172519,19.7302597 C8.05144275,19.75213 8.19630534,19.75213 8.32727481,19.75213 C9.27890076,19.7590509 9.89954962,19.2162801 9.89954962,18.0661795 C9.90628244,17.0660704 9.34072519,16.5373077 8.43756489,16.5373077' id='Fill-3' fill='%23000000'%3E%3C/path%3E%3Cg id='Group-7' transform='translate(0.000000, 0.007696)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-6'%3E%3C/g%3E%3Cpath d='M14.432055,17.7225059 L14.432055,18.6081697 L12.7633298,18.6081697 L12.7633298,20.5446042 L11.7084672,20.5446042 L11.7084672,15.7294301 L14.5490779,15.7294301 L14.5490779,16.6220703 L12.7633298,16.6220703 L12.7633298,17.7225059 L14.432055,17.7225059 Z M6.90694809,20.5227339 L6.90694809,15.7931031 C7.29301679,15.7294301 7.79621527,15.6936625 8.32725344,15.6936625 C9.20984122,15.6936625 9.78207786,15.8577174 10.2305588,16.2076421 C10.7130779,16.5793817 11.0162153,17.1719282 11.0162153,18.0225995 C11.0162153,18.9440863 10.6924519,19.580318 10.243971,19.9729313 C9.75461221,20.3943359 9.00978015,20.5942137 8.09988702,20.5942137 C7.55490229,20.5942137 7.16883359,20.5585015 6.90694809,20.5227339 L6.90694809,20.5227339 Z M18.2335893,25.0026557 L4.11474962,25.0026557 C3.52942137,25.0026557 3.05278015,24.5087747 3.05278015,23.9015003 L3.05278015,22.6283171 L16.2143832,22.6283171 C16.8246122,22.6283171 17.3193679,22.1161646 17.3193679,21.4834764 L17.3193679,14.5400738 C17.3193679,13.9073856 16.8246122,13.3951224 16.2143832,13.3951224 L3.05278015,13.3951224 L3.05278015,2.88885527 C3.05278015,2.28324195 3.52947481,1.78936091 4.11474962,1.78936091 L13.834116,1.77889639 L13.834116,5.50138631 C13.834116,6.58869975 14.6854977,7.47176127 15.735658,7.47176127 L19.255055,7.46129675 L19.2945969,23.9014449 C19.2945969,24.5087747 18.8188641,25.0026557 18.2335893,25.0026557 L18.2335893,25.0026557 Z M2.89872672,15.7931031 C3.22249008,15.7364065 3.67765038,15.6936625 4.31892519,15.6936625 C4.96698626,15.6936625 5.42887939,15.821839 5.73923053,16.0792994 C6.03568855,16.3219213 6.23574962,16.7224521 6.23574962,17.1936877 C6.23574962,17.664868 6.0841542,18.0654542 5.80832214,18.3368673 C5.44955878,18.6867366 4.91900153,18.8438152 4.29835267,18.8438152 C4.16027634,18.8438152 4.03646718,18.8367281 3.93964275,18.8228308 L3.93964275,20.5446042 L2.89872672,20.5446042 L2.89872672,15.7931031 Z M14.4622992,0.047655091 L4.11474962,0.047655091 C2.60307023,0.047655091 1.37272672,1.32338525 1.37272672,2.88885527 L1.37272672,13.3951224 L1.10490992,13.3951224 C0.494787786,13.3951224 3.20610691e-05,13.9073856 3.20610691e-05,14.5400738 L3.20610691e-05,21.4834211 C3.20610691e-05,22.1161646 0.494734351,22.6283171 1.10490992,22.6283171 L1.37272672,22.6283171 L1.37272672,23.9015003 C1.37272672,25.4686314 2.60307023,26.7426451 4.11474962,26.7426451 L18.2335893,26.7426451 C19.7442534,26.7426451 20.9747573,25.468576 20.9747573,23.9015003 L20.9747573,6.77202264 L14.4622992,0.047655091 Z' id='Fill-5' fill='%23000000' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 21px;
        height: 28px;
        display: inline-block;
        margin-bottom: -9px;
        margin-right: 9px;
        transition: 0.3s ease;
      }
      &:hover{
        &:before{
          margin-right: 4px;
        }
      }
    }
  }
  .promo-wrapper{
    background-color: $primary-color;
    width: 68px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p,.field-item,h3{
      font-weight: 600;
      font-size: 11px;
      color: $black;
      letter-spacing: 0.6px;
      line-height: 17px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0px;
    }
    .field-name-field-old-price{
      .field-items{
        position: relative;
        &::after{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='14px' viewBox='0 0 30 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELine 2%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cline x1='0.5' y1='13.5' x2='29.5' y2='0.5' id='Line-2' stroke='%23000000'%3E%3C/line%3E%3C/g%3E%3C/svg%3E");
          width: 30px;
          height: 14px;
          background-size: cover;
          display: block;
          position: absolute;
          top: 0;
          left: 20px;
        }
      }
    }
  }

}
#stock-full{
  .dimpdf{
    @include breakpoint(mediumplus){
      min-width: 280px!important;
      max-width: 280px!important;
    }
  }
  .slider-lightbox-stock{
    @include breakpoint(smallplus down){

    }
  }
  margin-bottom: 50px!important;
  .inner-left{

    margin-left: 0;
    margin-right: auto;
    @include breakpoint(medium){
      max-width: 250px!important;
    }
    @include breakpoint(mediumplus){
      margin-left: calc(25% - 4px);
    }
  }
  .inner-right{
    @include breakpoint(mediumplus){
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .swiper-buttons{
    .swiper-button-prev{
      left: -18px;
      @include breakpoint(xxlarge){
        margin-top: -18px;
      }
    }
    .swiper-button-next{
      right: -18px;
      @include breakpoint(xxlarge){
        margin-top: -18px;
      }
    }
  }
  .field-name-field-from{
    font-weight: 600;
    font-size: 15px;
    color: $black;
    letter-spacing: 0.21px;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10px;
    text-transform: lowercase;
    padding-right: 10px;
    @include breakpoint(medium down){
      display: inline-block;
    }
    .field-label{
      margin-right: 4px;
    }

  }
  .field-name-field-images{
    .field-item{
      cursor: pointer;
      img{
        @include breakpoint(smallplus down){
          min-width: 305px;
          min-height: 305px;
        }
      }
      &::after{
        content: "";
        display: block;
        width: 100%;
        background-color: rgba(0,0,0,0.62);
        height: 100%;
        z-index: 4;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.3s ease;
      }
      &::before{
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='26px' viewBox='0 0 25 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='2.0-Materialen' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Group' transform='translate(0.000000, 1.000000)' stroke='%23FFFFFF' stroke-width='2'%3E%3Cline x1='12.5' y1='0.5' x2='12.5' y2='23.5' id='Line'%3E%3C/line%3E%3Cline x1='12.5' y1='0.5' x2='12.5' y2='23.5' id='Line-Copy' transform='translate(12.500000, 12.000000) rotate(90.000000) translate(-12.500000, -12.000000) '%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        content: "";
        display: block;
        width: 25px;
        background-color: transparent;
        height: 26px;
        background-size: cover;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        transition: 0.3s ease;
      }
      &:hover{
        &::after,&::before{
          opacity: 1;
        }
      }

    }
  }
}

#module-full{
  .field-name-field-image{
    .field-item{
      display: inline-block;
      position: relative;
      padding-top: 20px;
      padding-right: 20px;
      @include breakpoint(medium down){
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      &::after{
       // content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 60px;
        height: 60px;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='60px' height='60px' viewBox='0 0 60 60' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EOval%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Ccircle id='Oval' stroke='%231C1C1C' cx='30' cy='30' r='29'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
        z-index: 0;
        @include breakpoint(medium down){

        }
      }
    }
  }



}

.module-overview{
  .form-item{
    background-color: transparent;
  }
  @include breakpoint(medium down) {
    .bef-exposed-form {
      label {
        text-align: center;
        padding-left: 0px;
        justify-content: center;
        margin-bottom: 5px;
      }

      select {
        display: block;
        margin: 0 auto;
      }
      .form-item{
        display: flex;
        flex-direction: column;
      }
    }
  }
}
