.page.full ,.overview_page.full,.realisation.full{
  header {
    @include wrapper-padding();
    @include grid-row();
    margin-bottom: 110px;
    @include breakpoint(mediumplus){
      margin-bottom: 150px;
    }
    @include breakpoint(xlarge){
      margin-bottom: 130px;
    }
    .body{
      p{
        font-weight: 300;
        font-size: 17px;
        color: $black;
        letter-spacing: 0.24px;
        line-height: 24px;
        &:last-of-type{
          margin-bottom: 0px;
        }
      }
    }
    figure {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 25px;

      @include breakpoint(mediumplus){
          @include flex-grid-row(null, 'expand', null, true, true, $grid-column-gutter);
        flex-direction: row-reverse;
        .img-wrap{
          @include flex-grid-column(1 of 2);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .inner-img{
            @include flex-grid-size(4 of 6);
            margin: 0 auto;
          }
        }
        figcaption{
          @include flex-grid-column(1 of 2);
          .inner-fig{
            @include flex-grid-size(5 of 6);
            margin-left: auto;
          }
        }
        margin-top: 50px;
      }
      @include breakpoint(xlarge) {
        @include flex-grid-row(null, 'expand', null, false, true, $grid-column-gutter);
        margin-top: 84px;
        .img-wrap{
          .inner-img{
            @include flex-grid-size(3 of 6);
            @include grid-column-offset(1 of 6);


          }
        }
        figcaption{
          .inner-fig{
            @include flex-grid-size(4 of 6);
            margin-left: auto;

          }
        }
      }
      img {
        display: block;
        @include breakpoint(medium down){
          margin: 0 auto 30px auto;
        }
        @include breakpoint(large){
        }

      }
      .inner-img{
        position: relative;
        max-width: 280px;
        margin: 0 auto;
        .field-name-field-label{
          position: absolute;
          top: -34px;
          right: -34px;
          transform: rotate(-90deg);
          width: 68px;
          height: 68px;
          svg{
            overflow: visible;
          }
          text{
            font-weight: 300;
            font-size: 10px;
            color: $black;
            fill: $black;
            letter-spacing: 1.06px;
            text-transform: uppercase;
          }
        }
      }
      figcaption {
        @include grid-row();
      position: relative;
        @include breakpoint(medium down){

          margin-bottom: 35px;
        }
        @include breakpoint(large){
        }
        h1{
          font-weight: 600;
          font-size: 42px;
          color: #000000;
          letter-spacing: -0.15px;
          line-height: 42px;
          text-transform: lowercase;
          margin-bottom: 25px;
          @include breakpoint(xlarge){
            margin-top: -20px;
            padding-right: 50px;
          }
          > span {
            background-image: linear-gradient(180deg, transparent 55%, $primary-color 0);
          }
        }

        nav{
          margin-bottom: 30px;
          @include breakpoint(xlarge){
            transform: rotate(-90deg);
            display: inline-block;
            margin-bottom: -22%;
            margin-left: -160px;
          }
        }
        .breadcrumbs{
          ul{
            margin-bottom: 0px;
          }
          li{
            &::after{
              font-weight: 300;
              letter-spacing: 1.77px;

            }
            a{
              font-weight: 300;
              letter-spacing: 1.77px;
            }
          }
        }
      }
    }
  }
}

.overview_page{
  .img-wrap{
    .inner-img{
      @include breakpoint(mediumplus) {
        @include flex-grid-size(4 of 6);
        margin-left: 0px!important;
      }
      @include breakpoint(xlarge){
        @include flex-grid-size(4 of 6);
        -ms-flex: 0 0 66.66667% !important;
        flex: 0 0 66.66667% !important;
        max-width: 66.66667% !important;
      }
    }
  }
}

.realisation.full header figure figcaption nav{
  @include breakpoint(xlarge){
    margin-bottom: -44%!important;
    margin-left: -215px!important;
  }
}

.contact-page{
  .contact-data{
    display: flex;
    flex-direction: column;
      p,a,.field-item,span{
        font-weight: 300;
        font-size: 17px;
        color: $black;
        letter-spacing: 0.24px;
        line-height: 22px;
        text-align: center;
        @include breakpoint(large){
          text-align: left;
        }
    }

    .paragraph--type--branch {
      @include breakpoint(large){
        align-self: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        display: flex;

        p.street-house,p.postal-place{
          display: flex;
          span:nth-of-type(2){
            margin-left: 5px;
          }
        }
      }
      .base-contact-fields {

      }
      .field-name-field-extra-contact-fields {
        @include breakpoint(large){
          margin-top: -22px;
          margin-left: 90px;
        }
      }
      .base-contact-fields, .field-name-field-extra-contact-fields {

      }
    }
  }
  .linkicon{
    @include breakpoint(medium down){
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    li:last-of-type{
      a{
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fab' data-icon='pinterest-p' class='svg-inline--fa fa-pinterest-p fa-w-12' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z'/%3E%3C/svg%3E");
        width: 14px;
        height: 19px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 5Px;
        &:hover{
          width: 14px;
          height: 19px;
          margin-top: 5Px;
          background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fab' data-icon='pinterest-p' class='svg-inline--fa fa-pinterest-p fa-w-12' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23F0DDCD' d='M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z'/%3E%3C/svg%3E");
        }
        svg{
          display: none;
        }
      }
    }
  }
  .inner-img{
    @include breakpoint(xlarge){
      margin-left: 0!important;
    }
  }
  @include breakpoint(medium down){
    h1{
      text-align: center;
    }
  }
}

.overview_page.full{
  .paragraph--type--overview{
    @include breakpoint(xlarge){
      margin-bottom: 0px;
    }
  }
}
