.paragraph--type--text-blocks {
  @include wrapper-padding();
  margin-bottom: 30px;
  @include breakpoint(mediumplus) {
    margin-bottom: 50px;
  }
  &>.field-name-field-text-blocks {
    @include grid-row();
    &>.field-items {
      @include flex-grid-row('nest', 'expand', null, true, true, $grid-column-gutter);
      &>div {
        @include flex-grid-column(1 of 1);
        margin-bottom: 30px;
        &:last-of-type {
          margin-bottom: 0;
        }
        @include breakpoint(medium) {
          min-width: calc(100% / 3);
          @include flex-grid-column();
          margin-bottom: 0;
        }
      }
    }
  }
  .paragraph--type--text-block {
    .field-name-field-text {
      p:last-of-type {
        margin-bottom: 0;
      }
    }
    .actions-wrapper {
      margin-top: 20px;
      .button {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.paragraph--type--text-image {
  @include wrapper-padding();
  margin-bottom: 30px;
  @include breakpoint(largemin) {
    margin-bottom: 50px;
  }
  @include breakpoint(xlarge) {
    margin-bottom: 120px;
  }
  .paragraph-content-wrapper {
    @include grid-row();
  }
  .content-wrapper {
    @include flex-grid-row(null, 'expand', null, true, true, $grid-column-gutter);
    @include breakpoint(medium down){
      display: flex;
      flex-direction: column-reverse;
    }
    &>.content {
      @include flex-grid-column(1 of 1);
      margin-bottom: 30px;
      @include breakpoint(mediumplus) {
        @include flex-grid-column(1 of 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
      }
      .inner-cont{
        @include breakpoint(mediumplus) {
          @include flex-grid-size(4 of 6);
          margin:0 auto;
        }
        @include breakpoint(xlarge){
          @include flex-grid-size(3 of 6);
          @include grid-column-offset(2 of 6);
        }
      }
    }
    &>figure {
      @include flex-grid-column(1 of 1);
      @include breakpoint(mediumplus) {
        @include flex-grid-column(1 of 2);
      }
      @include breakpoint(medium down){
        margin-bottom: 35px;
      }
      .inner-fig{
        @include breakpoint(mediumplus){
          @include flex-grid-size(5 of 6);
          margin-left: 0px;
        }
        @include breakpoint(xlarge){
          @include flex-grid-size(4 of 6);
          margin-left: 0px;
        }
          position: relative;
          margin: 0 auto;
        max-width: 380px;
          .field-name-field-label{
            position: absolute;
            top: -34px;
            right: -34px;
            transform: rotate(-90deg);
            width: 68px;
            height: 68px;
            svg{
              overflow: visible;
            }
            text{
              font-weight: 300;
              font-size: 10px;
              color: $black;
              fill: $black;
              letter-spacing: 1.06px;
              text-transform: uppercase;
            }
          }

      }

    }
  }

  &.option-image-left {
    @include breakpoint(xlarge){
      margin-bottom: 220px;
    }
    .content-wrapper {
      @include breakpoint(mediumplus) {
        flex-direction: row-reverse;
      }
      &>.content {
        .inner-cont{
          @include breakpoint(xlarge){
            @include grid-column-offset(1 of 6);
          }
        }
      }
      &>figure {
        position: relative;
        @include breakpoint(medium down){
          margin-bottom: 100px;
        }
        &::after{
          @include flex-grid-size(4 of 6);
          content: "";
          position: absolute;
          background-color: $light-gray;
          width: 100%;
          height: 100%;
          top: 60px;
          left: -64px;
          z-index: -1;
          @include breakpoint(mediumplus){
            @include flex-grid-size(6 of 6);
            left: -95px;
            top: 85px;
          }
          @include breakpoint(xlarge){
            @include flex-grid-size(5 of 6);
            left: 0;
            top: 100px;
          }
        }
        .inner-fig{
          @include breakpoint(mediumplus) {
            margin-left: auto !important;
            margin-right: 0 !important;
          }
        }
      }
    }
  }
  .actions-wrapper {
    margin-top: 20px;
    .button {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.paragraph--type--form {
  @include wrapper-padding();
  .paragraph-content-wrapper {
    @include grid-row();
    .paragraph-content {
      max-width: 800px;
    }
  }
}

.paragraph--type--map-form {
  @include wrapper-padding();
  .contactform-wrapper{
    @include grid-row();
  }
  form{
    .form-item{
      label{
        @include breakpoint(smallplus down){
          text-align: center;
          padding-left: 0px;
        }
      }
    }
    .form-actions{
      @include breakpoint(smallplus down){
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    position: relative;
    @include breakpoint(mediumplus){
      margin-bottom: 130px;
    }
    &::before{
      content: "";
      @include flex-grid-size(5 of 12);
      position: absolute;
      left: 0;
      bottom: -45px;
      height: 455px;
      width: 100%;
      z-index: -1;
      background-color: $light-gray;
    }
    .field-name-field-map {
      display: flex;
      flex: 1 1 100%;
      @include breakpoint(mediumplus){
        @include flex-grid-size(9 of 12);
        @include grid-column-offset(2 of 12);
      }
      .views-element-container {
        width: 100%;
      }
    }

  }
  .form-field-wrapper {
    @include grid-row();
   .field-name-field-form{
     @include breakpoint(mediumplus) {
       @include flex-grid-size(8 of 12);
       margin: 0 auto;
     }
   }
  }

  #edit-container{
    @include breakpoint(mediumplus){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      > div {
        @include flex-grid-column(1 of 2);
        padding-left: 0px!important;
        padding-right: 0px!important;
        max-width:calc(50% - 10px);
      }
    }
  }
  #edit-lower{
    margin-top:5px;
    @include breakpoint(mediumplus){
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      div:nth-of-type(1){
        @include flex-grid-column(3 of 8);
        padding-left: 0px!important;
        padding-right: 0px!important;
      }
      .captcha{
        @include flex-grid-column(3 of 8);
        padding-left: 20px!important;
        padding-right: 0px!important;
      }
      div:nth-of-type(2){
        @include flex-grid-column(2 of 8);
        padding-left: 0px!important;
        padding-right: 0px!important;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      div.webform-actions {
        width: 100%;
      }
    }
    .form-item{
      background-color: transparent;
    }
  }

}

.paragraph--type--image {
  @include flex-grid-row();
  justify-content: center;

  .field-name-field-image {
    @include grid-col-gutter();
  }
}

.paragraph--type--video {
  @include grid-row();
}

.paragraph--type--call-to-action{
  max-width: $max-container;
  margin: 0 auto;
  @include breakpoint(mediumplus){
    min-height: 460px;
  }
  @include breakpoint(xlarge){
    min-height: 550px;
    margin-bottom: 80px;
  }
  .content{
    background-color: $light-gray;
    padding-bottom: 45px;
    position: relative;
    @include breakpoint(mediumplus){
      padding-bottom: 40px;
    }
    @include breakpoint(xlarge){
      padding-bottom: 100px;
max-width: $global-width;
    margin: 0 auto;
    }
  }
  .image-back-wrapper{
    width: 100%;
    height: 270px;
    background-size: cover!important;
    @include breakpoint(mediumplus){
      position: absolute;
      z-index: 0;
      height: 100%;
      display: block;
      min-height: 460px;
    }
    @include breakpoint(xlarge){
      margin-left: -131px;
      margin-right: -131px;
      min-width: $max-container;
      min-height: 550px;
    }

  }
  .field-name-field-title{
    margin-bottom: 25px;
    span{
        background-image: linear-gradient(180deg, transparent 55%, $primary-color 0);
      font-weight: 600;
      font-size: 31px;
      color: $black;
      letter-spacing: -0.11px;
      line-height: 33px;
      text-transform: lowercase;
    }
  }
  .field-name-field-text{
    p{
      font-weight: 300;
      font-size: 17px;
      color: $black;
      letter-spacing: 0.24px;
      line-height: 24px;
    }
  }
  .field-name-field-link{
    margin-top: 30px;
    a{
      @include link-style();
    }
  }
  .info-wrapper{
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
    padding-bottom: 55px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -30px;
    @include breakpoint(mediumplus){
      @include flex-grid-size(1 of 2);
      //position: absolute;
      //left: 0;
      //top: -16px;
      padding-top: 0px;
      padding-left :60px;
      padding-right: 60px;
      padding-bottom: 30px;
      margin-top: 0px;
      z-index: 2;
      position: relative;
    }
    @include breakpoint(xlarge){
      @include flex-grid-size(1 of 3);
      @include grid-column-offset(3 of 24);
      padding-top: 40px;
      padding-bottom: 60px;
      padding-left: 0px;
      padding-right: 0px;
      padding-left: 54px;
      padding-right: 60px;
    }
  }

  .banner-small{
    .content{
      @include breakpoint(xlarge){
        min-height: 455px;
        padding-top: 100px;
      }
    }
    .image-back-wrapper{
      @include breakpoint(xlarge){
        @include flex-grid-size(7 of 12);
        margin-left: calc(25% - 6px);
        min-width: 0px;
        min-height: 490px;
        top: -100px;
      }
    }
    .info-wrapper{
      @include breakpoint(xlarge){
        margin-top: -200px;
      }
    }
  }
}

.paragraph--type--title-text {
  @include wrapper-padding();
  margin-bottom: 30px;
  @include breakpoint(largemin) {
    margin-bottom: 50px;
  }
  @include breakpoint(xlarge){
    margin-bottom: 120px;
  }

  .paragraph-content-wrapper {
    @include grid-row();
  }

  .content-wrapper {
    @include flex-grid-row(null, 'expand', null, true, true, $grid-column-gutter);
    @include breakpoint(medium down) {
      display: flex;
      flex-direction: column;
    }
    .field-name-field-title{
      font-weight: 600;
      font-size: 42px;
      color: $black;
      letter-spacing: -0.15px;
      line-height: 42px;
      text-transform: lowercase;
      margin-bottom: 30px;
      @include breakpoint(mediumplus){
        @include flex-grid-column(1 of 2);
      }
      .field-items{
        @include breakpoint(mediumplus){
          @include flex-grid-size(4 of 6);
          margin: 0 auto;
        }
        @include breakpoint(xlarge){
          @include flex-grid-size(3 of 6);
          @include grid-column-offset(2 of 6);
        }
      }
      span {
        background-image: linear-gradient(180deg, transparent 55%, $primary-color 0);
      }
    }
    .field-name-field-text{
      @include breakpoint(mediumplus){
        @include flex-grid-column(1 of 2);
      }
      .field-items{
        @include breakpoint(mediumplus){
          @include flex-grid-size(5 of 6);
        }
        @include breakpoint(xlarge){
          @include flex-grid-size(4 of 6);
        }
      }
      .field-item{
        font-weight: 300;
        font-size: 17px;
        color: $black;
        letter-spacing: 0.24px;
        line-height: 24px;
      }
    }
  }
}

.paragraph--type--double-image{
  @include wrapper-padding();
  margin-bottom: 30px;
  @include breakpoint(largemin) {
    margin-bottom: 50px;
  }
  @include breakpoint(xlarge) {
    margin-bottom: 135px;
  }
  .paragraph-content-wrapper {
    @include grid-row();
  }
  .content-wrapper {
    .field-name-field-images-2{
      .field-items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include breakpoint(medium down) {
          display: flex;
          flex-direction: column;
        }
        .field-item {
          @include flex-grid-column(1 of 2);
          padding-left: 0px !important;
          padding-right: 0px !important;
          @include breakpoint(medium down) {
            margin-bottom: 5px;
            width: 100%;
            max-width: 100%;
          }
          @include breakpoint(mediumplus) {
            &:first-of-type {
              padding-right: 2px !important;
            }
            &:nth-of-type(2) {
              padding-left: 2px !important;
            }
          }
        }
      }
    }
  }
}

.paragraph--type--showcase-modules{
  @include wrapper-padding();
  margin-bottom: 30px;
  background-color: $light-gray;
  padding-top: 60px;
  padding-bottom: 90px;
  @include breakpoint(mediumplus) {
    padding-top: 90px;
    padding-bottom: 100px;
    margin-bottom: 50px;
  }
  @include breakpoint(xlarge) {
    padding-bottom: 120px;
    max-width: $global-width;
    margin: 0 auto;
    margin-bottom:  165px;
  }
  .paragraph-content-wrapper {
    @include grid-row();
  }
  .content-wrapper {
    .content {
      @include breakpoint(medium down) {
        display: flex;
        flex-direction: column-reverse;
      }
      @include flex-grid-row('nest', 'expand', null, true, true, $grid-column-gutter);
      .left-wrapper{
        @include breakpoint(medium down){
          max-width: 100%;
        }
      }
      .swiper-slide{
          @include breakpoint(medium down){
            max-width: 100%;
          }
      }
      @include breakpoint(mediumplus){
        .left-wrapper{

        @include flex-grid-column(1 of 2);
          display: flex;
          flex-direction: column;
          justify-content: center;
          .inner-left{
          @include flex-grid-size(4 of 6);
            margin: 0 auto;
          }
        }
        .right-wrapper{
          @include flex-grid-column(1 of 2);
          .inner-right{
            @include flex-grid-size(5 of 6);
          }
        }
      }
      @include breakpoint(xlarge){
        .left-wrapper{
          .inner-left{
            @include flex-grid-size(3 of 6);
            @include grid-column-offset(2 of 6);
          }
        }
        .right-wrapper{
          .inner-right{
            @include flex-grid-size(4 of 6);
          }
        }
      }

      .field-name-field-title{
        font-weight: 600;
        font-size: 42px;
        color: $black;
        letter-spacing: -0.15px;
        line-height: 42px;
        margin-bottom: 20px;
        text-transform: lowercase;
        span {
          background-image: linear-gradient(180deg, transparent 55%, $primary-color 0);
        }
      }
      .field-name-field-link{
        margin-top: 35px;
        a{
          @include link-style;
        }
      }
      .right-wrapper{
        margin-bottom: 80px;
      }
    }
  }
  }

.paragraph--type--showcase-stock {
  @include wrapper-padding();
  margin-bottom: 30px;
  background-color: $light-gray;
  padding-top: 60px;
  padding-bottom: 90px;
  @include breakpoint(mediumplus) {
    padding-top: 90px;
    padding-bottom: 100px;
    margin-bottom: 75px;
  }
  @include breakpoint(xlarge) {
    padding-bottom: 80px;
    max-width: $global-width;
    margin: 0 auto;
    margin-bottom: 130px;
  }

  .paragraph-content-wrapper {
    @include grid-row();
  }

  .content-wrapper {
    .content {
      @include flex-grid-row('nest', 'expand', null, true, true, $grid-column-gutter);
      .left-wrapper{
        @include breakpoint(medium down){
          margin-bottom: 60px;
        }
      }
      @include breakpoint(mediumplus){
        .left-wrapper{
          @include flex-grid-column(1 of 2);
          display: flex;
          flex-direction: column;

          justify-content: center;
          .inner-left{
            @include flex-grid-size(4 of 6);
            margin: 0 auto;
          }
        }
        .right-wrapper{
          @include flex-grid-column(1 of 2);
          .inner-right{
            @include flex-grid-size(5 of 6);
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
          }
        }
      }
      @include breakpoint(xlarge){
        .left-wrapper{
          .inner-left{
            @include flex-grid-size(3 of 6);
            @include grid-column-offset(2 of 6);
            margin-left: calc(33.33333% - -8px);
          }
        }
        .right-wrapper{
          .inner-right{
            @include flex-grid-size(4 of 6);
          }
        }
      }
    }
  }
      .field-name-field-title{
        font-weight: 600;
        font-size: 42px;
        color: $black;
        letter-spacing: -0.15px;
        line-height: 42px;
        margin-bottom: 20px;
        text-transform: lowercase;
        span {
          background-image: linear-gradient(180deg, transparent 55%, $primary-color 0);
        }
      }
      .field-name-field-link{
        margin-top: 35px;

        a{
          @include link-style;
        }
      }
  }

.paragraph--type--overview{
  @include wrapper-padding();
  margin-bottom: 30px;
  background-color: $light-gray;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-bottom: 75px;

  @include breakpoint(mediumplus) {
  }
  @include breakpoint(xlarge) {
    max-width: $global-width;
    margin: 0 auto;
    margin-bottom: 205px;
  }
  .field-name-field-view {
    @include grid-row();
  }

  .module-overview{
    .bef-exposed-form{
      border-bottom: solid 1px black;
      padding-bottom: 10px;
      margin-bottom: 50px;
      @include breakpoint(mediumplus){
        @include flex-grid-size(10 of 12);
        margin: 0 auto;
        padding-bottom: 35px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 100px;
      }
      .form-item{
        width: 100%;
        @include breakpoint(mediumplus){
          max-width: 227px;
        }

      }
      .form-item:first-of-type{
        @include breakpoint(mediumplus){
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          max-width: 345px;
          margin-right: 25px;
        }
        label{
          font-weight: 600;
          font-size: 19px;
          color: $black;
          letter-spacing: -0.07px;
          line-height: 25px;
          margin-bottom: 10px;
          @include breakpoint(mediumplus){
            margin-right: 40px;
            min-width: fit-content;
          }
        }
      }
      select{
        font-weight: 300;
        font-size: 17px;
        color: $black;
        letter-spacing: 0.24px;
        line-height: 24px;
        border: solid 1px $black;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='13px' height='8px' viewBox='0 0 13 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ETriangle%3C/title%3E%3Cg id='1.0-Modules' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-714.000000, -811.000000)'%3E%3Crect id='Rectangle' fill='%23F9F9F9' x='131' y='751' width='1178' height='1817'%3E%3C/rect%3E%3Crect id='Rectangle' stroke='%23000000' x='529' y='799' width='227' height='32'%3E%3C/rect%3E%3Cpolygon id='Triangle' fill='%23000000' transform='translate(720.500000, 815.000000) rotate(-180.000000) translate(-720.500000, -815.000000) ' points='720.5 811 727 819 714 819'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        max-width: 227px;
        width: 100%;
        cursor:pointer;
        background-size: 13px;
        text-transform: lowercase;
        background-position: 175px center;
        padding-left: 20px;
        background-color: $light-gray;
        margin-bottom: 0px;
        min-width: 230px;
      }
      .form-actions{
        display: none;
      }
    }
    ul.pager{
      margin: 0;
      list-style-type: none;
      margin-top: 25px;
      @include breakpoint(mediumplus){
        margin-top: 85px;
      }
      a{
        font-weight: 600;
        text-decoration: underline;
        font-size: 19px;
        text-align: center;
        text-transform: lowercase;
        color: #000000;
        letter-spacing: -0.07px;
        background-color: transparent;
        border:solid 0px black;
        transition: 0.3s ease;
        display: block;
        &:hover{
          color: $primary-color;
        }
      }
    }
    .item-list{
      > ul {
        margin: 0;
        list-style-type: none;

      }
    }
    .item-list:last-of-type{
      > ul{
        > li:last-of-type{
          #module-full{
            margin-bottom: 0px;
          }
        }
      }
    }
    .inner-left{
      position: relative;
      .promo-wrapper{
        position: absolute;
        top: 5px;
        left: -53px;
        z-index: 2;
        @include breakpoint(medium down){
          left: 0;
        }
      }
    }
  }


}

.paragraph--type--slider{
  @include wrapper-padding();
  margin-bottom: 50px;
  position: relative;
  @include breakpoint(xlarge) {
    max-width: $global-width;
    margin: 0 auto;
    margin-bottom: 135px;
  }
  div.swiper-buttons{
    div.swiper-button-prev{

      margin-top: -18px;
      @include breakpoint(xlarge){
        left: -18px;
      }
    }
    div.swiper-button-next{
      margin-top: -18px;
      @include breakpoint(xlarge){
        right: -18px;
      }
    }
  }
  .slider-lightbox{
    @include grid-row();
    .swiper-slide{
      width: auto;
      cursor: pointer;
      &::after{
        content: "";
        display: block;
        width: 100%;
        background-color: rgba(0,0,0,0.62);
        height: 100%;
        z-index: 4;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.3s ease;
      }
      &::before{
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='26px' viewBox='0 0 25 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='2.0-Materialen' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Group' transform='translate(0.000000, 1.000000)' stroke='%23FFFFFF' stroke-width='2'%3E%3Cline x1='12.5' y1='0.5' x2='12.5' y2='23.5' id='Line'%3E%3C/line%3E%3Cline x1='12.5' y1='0.5' x2='12.5' y2='23.5' id='Line-Copy' transform='translate(12.500000, 12.000000) rotate(90.000000) translate(-12.500000, -12.000000) '%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        content: "";
        display: block;
        width: 25px;
        height: 26px;
        background-size: cover;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        transition: 0.3s ease;
      }
      &:hover{
        &::after,&::before{
          opacity: 1;
        }
      }
    }
  }
}

.paragraph--type--materials{
  @include wrapper-padding();
  margin-bottom: 30px;
  background-color: $light-gray;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-bottom: 75px;
  @include breakpoint(mediumplus) {
  }
  @include breakpoint(xlarge) {
    max-width: $global-width;
    margin: 0 auto;
    margin-bottom: 70px;
    padding-top: 90px;
    padding-bottom: 150px;
  }
  .paragraph-content {
    @include grid-row();
    .field-name-field-title{
      margin-bottom: 40px;
      @include breakpoint(mediumplus){
        margin-bottom: 80px;
      }
      .field-item{
        font-weight: 600;
        font-size: 30px;
        color: $black;
        letter-spacing: -0.11px;
        text-align: center;
        line-height: 29px;
        text-transform: lowercase;
      }
    }
    .field-name-field-view{
      .item-list{
        > ul{
          list-style-type: none;
          margin: 0;
          > li{
            margin-bottom: 50px;
            &:last-of-type{
              margin-bottom: 0px;
            }
          }
          .material-full{
            @include breakpoint(large){
              @include flex-grid-size(10 of 12);
              margin: 0 auto;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              div.left-wrapper{
                @include flex-grid-column(4 of 10);
                div.inner-left{
                  @include flex-grid-size(2 of 4);
                  margin: 0 auto;
                }
              }
              div.right-wrapper{
                @include flex-grid-column(6 of 10);
                div.inner-right{
                  @include flex-grid-size(5 of 6);
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  height: 100%;
                }
              }
            }
            h2{
              .field-items{
                display: flex;
                flex-direction: row;
                justify-content: center;
              }
              .field-item{
                font-weight: 600;
                background-color: black;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 18px;
                color: #FFFFFF;
                display: inline-block;
                letter-spacing: 0.25px;
              }
            }
            .field-name-name{
              margin-top: -15px;
            }
            .field-name-field-image{
              .field-items{
                .field-item{
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                }
              }
            }
            .field-name-description{
              p{
                font-weight: 300;
                font-size: 17px;
                color: $black;
                letter-spacing: 0.24px;
                line-height: 24px;
                text-align: center;
                margin-bottom: 0;
                @include breakpoint(large){
                  text-align: left;
                }
              }
              blockquote{
                padding: 0px;
                border-left: solid 0px white;
                margin-top: 20px;
                p{
                  font-weight: 300;
                  font-size: 13px;
                  color: $black;
                  letter-spacing: 0.18px;
                  line-height: 17px;
                }
              }
            }
            .field-name-field-link{
              margin-top: 15px;
              .field-item{
                display: flex;
                flex-direction: row;
                justify-content: center;
                @include breakpoint(large){
                  justify-content: flex-start;
                }
              }
              a{
                @include link-style;
                background-color: $light-gray;
                margin: 0 auto;
                @include breakpoint(large){
                  margin: 0 ;
                }
              }
            }
          }
        }
      }
    }
  }
}

.paragraph--type--realisations{
  @include wrapper-padding();
  margin-bottom: 30px;
  @include breakpoint(largemin) {
    margin-bottom: 50px;
  }
  .realisation-overview{
    margin-top: -125px;
    @include breakpoint(mediumplus){
      margin-top: -265px;
    }
    @include breakpoint(xlarge){
      margin-top: -245px;
    }
  }
  .bef-exposed-form{
    @include flex-grid-size(3 of 12);
    @include breakpoint(mediumplus){
      @include grid-column-offset(7 of 12);
      margin-bottom: 100px;
      max-width: 280px;
    }

    .form-item{
      background-color: transparent;
      label{
        padding-left: 0px
      }
      select{
        display: inline-block;
        font-weight: 300;
        font-size: 17px;
        color: $black;
        letter-spacing: 0.24px;
        line-height: 24px;
        border: solid 1px $black;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='13px' height='8px' viewBox='0 0 13 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ETriangle%3C/title%3E%3Cg id='1.0-Modules' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-714.000000, -811.000000)'%3E%3Crect id='Rectangle' fill='%23F9F9F9' x='131' y='751' width='1178' height='1817'%3E%3C/rect%3E%3Crect id='Rectangle' stroke='%23000000' x='529' y='799' width='227' height='32'%3E%3C/rect%3E%3Cpolygon id='Triangle' fill='%23000000' transform='translate(720.500000, 815.000000) rotate(-180.000000) translate(-720.500000, -815.000000) ' points='720.5 811 727 819 714 819'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        max-width: 227px;
        width: 100%;
        cursor:pointer;
        background-size: 13px;
        text-transform: lowercase;
        background-position: 175px center;
        padding-left: 20px;
        background-color: $light-gray;
        margin-bottom: 0px;
        min-width: 227px;
      }
      padding-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .form-actions{
      display: none;
    }
  }

.field-name-field-view{
  @include grid-row();
  ul{
    list-style-type: none;
    margin: 0;
    @include breakpoint(mediumplus){
      @include flex-grid-size(10 of 12);
      margin: 0 auto;
    }
    li{
      list-style-type: none;
      margin: 0;
    }
  }
}

  .realisation-teaser{
    figure{
      .field-name-field-image{
        .field-item{
          position: relative;
          cursor: pointer;
          &::after{
            content: "";
            display: block;
            width: 100%;
            background-color: rgba(0,0,0,0.62);
            height: 100%;
            z-index: 4;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.3s ease;
          }
          &::before{
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='26px' viewBox='0 0 25 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='2.0-Materialen' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Group' transform='translate(0.000000, 1.000000)' stroke='%23FFFFFF' stroke-width='2'%3E%3Cline x1='12.5' y1='0.5' x2='12.5' y2='23.5' id='Line'%3E%3C/line%3E%3Cline x1='12.5' y1='0.5' x2='12.5' y2='23.5' id='Line-Copy' transform='translate(12.500000, 12.000000) rotate(90.000000) translate(-12.500000, -12.000000) '%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            content: "";
            display: block;
            width: 25px;
            height: 26px;
            background-size: cover;
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            opacity: 0;
            transition: 0.3s ease;
          }

        }
      }
    }
    figcaption{
      background-color: white;
      padding: 15px;
      margin-top: -30px;
      z-index: 4;
position: relative ;
      display: inline-block;
      padding-right: 40px;
    }
    h2{
      font-weight: 600;
      font-size: 21px;
      color: #000000;
      background-color: white;
      text-transform: lowercase;
      letter-spacing: -0.07px;
      line-height: 21px;
      margin-bottom: 0px;
    }
    position: relative;
    a.sendlink{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 6;
    }
    figure{
      &:hover{
        .field-name-field-image{
          .field-item{
              &::after,&::before{
                opacity: 1;
              }
          }
        }
      }
    }
  }
}

.paragraph--type--brands{
  @include wrapper-padding();
  margin-bottom: 50px;
  position: relative;
  @include breakpoint(xlarge) {
    max-width: $global-width;
    margin: 0 auto;
  }
  .field-name-field-title{
    margin-bottom: 45px;
    .field-item{
      font-weight: 600;
      font-size: 30px;
      color: #000000;
      letter-spacing: -0.11px;
      text-align: center;
      text-transform: lowercase;
      line-height: 29px;
    }
  }
  .field-name-field-image{
    .field-item{
      @include breakpoint(medium down){
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
  ul{
    margin: 0;
    list-style-type: none;
  }
  .swiper-container{
    @include breakpoint(mediumplus){
      @include flex-grid-size(10 of 12);
    }
    .swiper-slide{
      min-height: 78px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      filter: grayscale(100%);
    }
  }
  .swiper-buttons{
    .swiper-button-next,.swiper-button-prev{
      margin-top: 16px;
    }
  }
}
