figure.slides-wrapper {
  max-width: $max-container;
  margin: 0 auto;
  position: relative;
  margin-bottom: 60px;
  @include breakpoint(mediumplus){
    margin-bottom: 100px;
  }
  @include breakpoint(xlarge){
    margin-bottom: 125px;
  }
  figcaption {
    @include wrapper-padding();
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    @include breakpoint(mediumplus) {
      position: absolute;
      top: 0; right: 0;
      z-index: 1;
      justify-content: flex-start;
      height: 100%;
      color: $white;
      padding-right: 25px;
      padding-left: 25px;
      padding-top: 0;
      max-width: 37%;
    }
    @include breakpoint(large) {
      padding-right: 75px;
    }
    @include breakpoint(xlarge) {
      padding-top: 62px;
      padding-left: 58px;
      padding-right: 120px;
    }

    .body {
      .field-item {
        p {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .swiper-buttons{
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    margin: auto;
    top: 5px;
    @include breakpoint(mediumplus){
      width: 36px;
      left: 20px;
      margin: 0;
      top: auto;
      bottom: 100px;
    }
    @include breakpoint(xxlarge){
      height: 87px;
      margin-top: auto;
      margin-bottom: auto;
      left: 114px;
      top: 0;
      bottom: 0;
    }
    .swiper-button-next{
      top: 0;
      right: 0;
      @include breakpoint(mediumplus){
        top: 51px;
      }
    }
    .swiper-button-prev{
      top: 0;
      left: 0;

     }
  }
}

.field-name-field-slides {
  position: relative;
}

.swiper-button-next,.swiper-button-prev{
  width: 36px;
  height: 36px;
  background-size: cover;
  @include breakpoint(xxlarge){
    margin-top: 0px;
  }
}
.swiper-button-next{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='38px' height='38px' viewBox='0 0 38 38' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ESlider arrow Copy 3%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(1.000000, 1.000000)'%3E%3Cg id='Slider-arrow-Copy-3' transform='translate(18.000000, 18.000000) scale(-1, 1) translate(-18.000000, -18.000000) '%3E%3Ccircle id='Oval' stroke='%23000000' fill='%23FFFFFF' cx='18' cy='18' r='18'%3E%3C/circle%3E%3Cpolyline id='Stroke-1' stroke='%23181716' stroke-linecap='round' stroke-linejoin='round' points='20 26 13 18.0001531 20 10'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.swiper-button-prev{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='38px' height='38px' viewBox='0 0 38 38' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ESlider arrow Copy 2%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(1.000000, 1.000000)'%3E%3Ccircle id='Oval' stroke='%23000000' fill='%23FFFFFF' cx='18' cy='18' r='18'%3E%3C/circle%3E%3Cpolyline id='Stroke-1' stroke='%23181716' stroke-linecap='round' stroke-linejoin='round' points='20 26 13 18.0001531 20 10'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.paragraph--type--slide{
  max-width: $max-container;
  margin: 0 auto;
  .field-name-field-image{
    @include breakpoint(medium down){
      display: none;
    }
    @include breakpoint(mediumplus) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-left: solid 2px white;
    }
    .field-item{

    }
  }
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
