{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}

  <{{ list.type }}{{ list.attributes }}>
    <div class="swiper-container brandslide">
      <div class="swiper-wrapper">

    {% for row in rows %}
      <li class="swiper-slide">
        {{- row.content -}}
      </li>
    {% endfor %}

      </div>
    </div>
  </{{ list.type }}>

<div class="swiper-buttons">
  <div class="swiper-button-prev brandbutton"></div>
  <div class="swiper-button-next brandbutton"></div>
</div>
{% if attributes -%}
  </div>
{% endif %}
