@charset "UTF-8";
/**
 * Generic elements.
 */
.layout-region-node-secondary {
  float: left; }

.layout-region-node-main, .layout-region-node-footer {
  width: 100%; }

body {
  color: #333;
  background: #fff;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif; }

a:hover,
.link:hover,
a:focus,
.link:focus {
  text-decoration: underline;
  outline: 0; }

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc; }

summary,
.fieldgroup:not(.form-composite) > legend {
  font-weight: bold;
  text-transform: uppercase; }

.simpletest-results-form summary {
  text-transform: none; }

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */
h1,
.heading-a {
  font-weight: bold;
  margin: 0;
  font-size: 1.625em;
  line-height: 1.875em; }

h2,
.heading-b {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.385em; }

h3,
.heading-c {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.231em; }

h4,
.heading-d {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.154em; }

h5,
.heading-e {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.077em; }

h6,
.heading-f {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.077em; }

p {
  margin: 1em 0; }

dl {
  margin: 0 0 20px; }

dl dd,
dl dl {
  margin-left: 20px;
  /* LTR */
  margin-bottom: 10px; }

[dir="rtl"] dl dd,
[dir="rtl"] dl dl {
  margin-right: 20px; }

blockquote {
  margin: 1em 40px; }

address {
  font-style: italic; }

u,
ins {
  text-decoration: underline; }

s,
strike,
del {
  text-decoration: line-through; }

big {
  font-size: larger; }

small {
  font-size: smaller; }

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal; }

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal; }

nobr {
  white-space: nowrap; }

abbr,
acronym {
  border-bottom: dotted 1px; }

ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */ }

[dir="rtl"] ul {
  margin-left: 0;
  margin-right: 1.5em; }

/* This is required to win over specificity of [dir="rtl"] ul */
[dir="rtl"] .messages__list {
  margin-right: 0; }

ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em;
  /* LTR */
  padding: 0; }

[dir="rtl"] ol {
  margin-left: 0;
  margin-right: 2em; }

quote,
code {
  margin: .5em 0; }

pre {
  margin: 0.5em 0;
  white-space: pre-wrap; }

details {
  line-height: 1.295em; }

details summary {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

details summary:focus {
  outline: none; }

details summary:focus,
details summary:hover {
  text-decoration: underline; }

.radios-col-setting {
  display: flex;
  max-width: 500px;
  margin: 20px 0; }

.radios-col-setting .form-element-col-setting {
  flex: 1 0 0; }

.radios-col-setting .form-element-col-setting .form-radio {
  display: none; }

.radios-col-setting .form-element-col-setting .form-radio + label {
  display: flex;
  flex-direction: column;
  align-items: center; }

.radios-col-setting .form-element-col-setting .form-radio + label::before {
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.radios-col-setting .form-element-col-setting .form-radio.col-divide-1 + label::before {
  background-image: url("/themes/subseven/css/icons/cols/divide-1.min.svg"); }

.radios-col-setting .form-element-col-setting .form-radio.col-divide-2 + label::before {
  background-image: url("/themes/subseven/css/icons/cols/divide-2.min.svg"); }

.radios-col-setting .form-element-col-setting .form-radio.col-divide-3 + label::before {
  background-image: url("/themes/subseven/css/icons/cols/divide-3.min.svg"); }

details[id^="edit-advanced"] .form-item-attributes-class {
  display: none; }

/**
 * @file
 * Structural styles for Seven’s UI buttons
 *
 * Apply these classes to any element (<link>, <button>, <input>, etc.) that
 * should appear as a button.
 */
/**
 * Buttons.
 *
 * 1. Enable z-index on buttons.
 * 2. Normalize 'line-height'; can’t be changed from 'normal' in Firefox 4+.
 * 3. Allows full range of styling in Webkit and Gecko.
 * 4. Use px units to ensure button text is centered vertically.
 * 5. Use rems to avoid the font size cascade of ems, with a px fallback for
 *    older browsers.
 * 6. Prevent fat text in WebKit.
 *
 * @todo Consider moving box-sizing into base.css under a universal selector.
 * See https://www.drupal.org/node/2124251
 *
 */
.button {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  /* 1 */
  text-align: center;
  line-height: normal;
  /* 2 */
  cursor: pointer;
  -webkit-appearance: none;
  /* 3 */
  -moz-appearance: none;
  /* 3 */
  padding: 4px 1.5em;
  /* 4 */
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  background-color: #f2f1eb;
  background-image: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
  background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  /* 5 */
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
  /* 6 */
  text-shadow: none; }

.button:hover,
.button:focus {
  background-color: #f9f8f6;
  background-image: -webkit-linear-gradient(top, #fcfcfa, #e9e9dd);
  background-image: linear-gradient(to bottom, #fcfcfa, #e9e9dd);
  color: #1a1a1a;
  text-decoration: none;
  outline: none; }

.button:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125); }

/* Prevent focus ring being covered by next siblings. */
.button:focus {
  z-index: 10;
  border: 1px solid #3AB2FF;
  box-shadow: 0 0 0.5em 0.1em rgba(51, 177, 255, 0.7); }

.button:active {
  border: 1px solid #a6a6a6;
  background-color: #dfdfd9;
  background-image: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
  background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: none;
  transition: none; }

.button--primary {
  color: #fff;
  border-color: #1e5c90;
  background-color: #0071b8;
  background-image: -webkit-linear-gradient(top, #007bc6, #0071b8);
  background-image: linear-gradient(to bottom, #007bc6, #0071b8); }

.button--primary:focus {
  color: #fff;
  border: 1px solid #1280DF;
  background-image: -webkit-linear-gradient(top, #08639b, #0071b8);
  background-image: linear-gradient(to bottom, #08639b, #0071b8); }

.button--primary:hover {
  color: #fff;
  box-shadow: 0 1px 2px rgba(23, 26, 28, 0.25);
  background-image: -webkit-linear-gradient(top, #08639b, #0071b8);
  background-image: linear-gradient(to bottom, #08639b, #0071b8); }

.button--primary:active {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #08639b, #0071b8);
  background-image: linear-gradient(to bottom, #08639b, #0071b8);
  border-color: #144b78;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }

/**
 * Overrides styling from system.theme.
 */
.button-action:before {
  margin-left: -0.2em;
  /* LTR */
  padding-right: 0.2em;
  /* LTR */
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  -webkit-font-smoothing: auto; }

[dir="rtl"] .button-action:before {
  margin-right: -0.2em;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0.2em; }

/**
 * 1. Use px units to ensure button text is centered vertically.
 */
.no-touchevents .button--small {
  font-size: 13px;
  font-size: 0.813rem;
  padding: 2px 1em;
  /* 1 */ }

.button:disabled,
.button:disabled:active,
.button.is-disabled,
.button.is-disabled:active {
  border-color: #d4d4d4;
  background: #ededed;
  box-shadow: none;
  color: #5c5c5c;
  font-weight: normal;
  cursor: default;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6); }

/* Link actions. */
/**
 * Style a clickable/tappable element as a link. Duplicates the base style for
 * the <a> tag, plus a reset for padding, borders and background.
 */
.link {
  display: inline;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #0074bd;
  text-decoration: none; }

.link:hover,
.link:focus {
  color: #008ee6;
  text-decoration: underline; }

/**
 * We've temporarily added the danger button here, bit of a harsh reset but we
 * need it.
 * @todo replace with link--danger.
 * See https://www.drupal.org/node/2123731
 */
.button--danger {
  display: inline;
  cursor: pointer;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #c72100;
  font-weight: 400;
  text-decoration: underline; }

.button--danger:hover,
.button--danger:focus,
.button--danger:active {
  color: #ff2a00;
  text-decoration: underline;
  text-shadow: none;
  padding: 0;
  border: 0;
  box-shadow: none;
  background: none; }

.button--danger:disabled,
.button--danger.is-disabled {
  color: #737373;
  cursor: default;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  border: 0;
  box-shadow: none;
  background: none; }

.user-logged-in.not-admin #toolbar-item-administration-tray,
.user-logged-in.not-admin #toolbar-item-administration {
  display: none !important; }

.home-toolbar-tab {
  display: block !important; }

/**
 * @file
 * Override of misc/vertical-tabs.css.
 */
.vertical-tabs {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background: #e6e5e1; }

.vertical-tabs__menu {
  float: left;
  /* LTR */
  width: 240px;
  margin: 0 -100% -1px 0;
  /* LTR */
  padding: 0;
  border-bottom: 1px solid #ccc;
  line-height: 1; }

[dir="rtl"] .vertical-tabs__menu {
  float: right;
  margin: 0 0 -1px -100%; }

.vertical-tabs__menu-item {
  position: relative; }

.vertical-tabs__menu-item.is-selected {
  z-index: 1;
  overflow-x: hidden;
  width: 100%;
  border-right: 1px solid #fcfcfa;
  /* LTR */
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #b3b2ad; }

.vertical-tabs__menu-item.last {
  border-bottom: none; }

[dir="rtl"] .vertical-tabs__menu-item.is-selected {
  border-left: 1px solid #fcfcfa;
  border-right: none; }

.vertical-tabs__menu-item:focus,
.vertical-tabs__menu-item:active {
  z-index: 2; }

.vertical-tabs__menu-item a {
  display: block;
  padding: 10px 15px 15px;
  border-bottom: 1px solid #b3b2ad;
  background-color: #f2f2f0;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
  text-decoration: none; }

.vertical-tabs__menu-item:last-child a {
  border-bottom: 0; }

.vertical-tabs__menu-item.is-selected a,
.vertical-tabs__menu-item a:hover,
.vertical-tabs__menu-item a:focus {
  background: #fcfcfa;
  text-shadow: none; }

.vertical-tabs__menu-item a:focus {
  outline: none; }

.vertical-tabs__menu-item a:focus .vertical-tabs__menu-item-title {
  text-decoration: underline; }

.vertical-tabs__menu-item a:active .vertical-tabs__menu-item-title,
.vertical-tabs__menu-item.is-selected a:focus .vertical-tabs__menu-item-title {
  text-decoration: none; }

[dir=rtl] .vertical-tabs__menu-item.is-selected a {
  padding-left: 15px;
  padding-right: 11px; }

[data-vertical-tabs-panes] {
  background-color: #fcfcfa; }

.vertical-tabs__panes {
  margin: 0 0 0 240px;
  /* LTR */
  padding: 10px 15px 10px 15px;
  border-left: 1px solid #a6a5a1;
  /* LTR */ }

[dir="rtl"] .vertical-tabs__panes {
  margin: 0 240px 0 0;
  border-left: none;
  border-right: 1px solid #a6a5a1; }

.vertical-tabs__panes:after {
  content: "";
  display: table;
  clear: both; }

.vertical-tabs__pane {
  margin: 0;
  padding: 0;
  border: 0;
  color: #595959; }

.vertical-tabs__menu-item-summary {
  display: block;
  padding-top: 0.4em;
  color: #666; }

.vertical-tabs__pane > summary {
  display: none; }

.draggable-dashboard {
  flex-wrap: wrap; }
  .draggable-dashboard .draggable-dashboard-column {
    box-sizing: border-box; }
  .draggable-dashboard #column-1 {
    width: 100%; }
  .draggable-dashboard #column-2 {
    width: 100%; }
  @media screen and (min-width: 1024px) {
    .draggable-dashboard #column-1 {
      width: 70%; }
    .draggable-dashboard #column-2 {
      width: 30%; } }

.view-google-analytics-reports-page.view-display-id-block_2 .view-content {
  overflow: scroll; }

.view-google-analytics-reports-page.view-display-id-block_2 .views-table,
.view-google-analytics-reports-page.view-display-id-block_2 tbody,
.view-google-analytics-reports-page.view-display-id-block_2 tr {
  max-width: 100%;
  overflow: hidden; }

.view-google-analytics-reports-page.view-display-id-block_2 tbody {
  max-width: 100%; }
  .view-google-analytics-reports-page.view-display-id-block_2 tbody .views-field-pagePath {
    width: 75%; }
  .view-google-analytics-reports-page.view-display-id-block_2 tbody .draggable-dashboard {
    width: 25%; }
